[2019-01-24 10:18] ndunello opened #2 "ESP-WROVER-KIT V4.1"
I have compiled esp32_ili9341 example with the following changes:

[code]

[code]

[code]
At run time I have the following error:
[code]
If the SPI speed is lowered to 20 MHz, the application turns correctly.
How can I solve?

[2019-02-05 14:01] MichaelVLV opened #3 "disp_spi driver fix?"
Hi.

I'm using this example with another kind of spi display, but in general, all works without much changes, only command sequence need to adjust.

With latest spi driver nothing dispays on screen.

I'm able to fix it if added:

_**spi_device_get_trans_result()**_ to both functions _disp_spi_send_data()_ and _disp_spi_send_colors()_

So it looks like next now in **disp_spi.c**
[code]

[2019-02-06 17:13] kisvegabor commented on #3
I updated the driver to remove `spi_device_get_trans_result` because it means a blocking wait. Now I can enable `LV_VDB_DOUBLE` to make rendering a flushing parallel. This way achieved 30 FPS on 320 x 240 display. See this [video](https://www.youtube.com/watch?v=EiIHI8sE7as). So it would be important to not use `spi_device_get_trans_result` but `post_cb` instead.

To see what's going on in your ca

[2019-02-06 19:08] #3 closed

[2019-02-07 06:01] kisvegabor commented on #3
Was the issue solved?

[2019-03-04 03:52] #2 closed

[2019-05-08 01:54] alen1359 opened #6 "touch not working"
i am using 2.8 inch TFT 320x240 version 1.1 with xpt 2046 touch drive, but the touch part is not working, could you please advice?

i thought it was the screen and bought another one but i have the same issue

link for my screen: https://www.esp8266.com/viewtopic.php?f=160&t=14302

[2019-05-08 02:30] alen1359 commented on #6
seems like the touch work but there is big offset between where i touch and it react

[2019-05-08 03:06] alen1359 commented on #6
if i touch top left i get  x=320, y=239, if i touch top right i get x= 4, y=240, if i touch bottom left i get x=320, y=-416 (note: it is negative 416), if i touch bottom right i get x=2, y=-235

seems like need calibration, could you please help

[2019-05-08 04:45] kisvegabor commented on #6
It seems you just need to swap the x coordinate. You can do it easily here: https://github.com/littlevgl/esp32_ili9341/blob/master/drv/xpt2046.c#L95

[code]

[2019-05-08 22:06] alen1359 commented on #6
with that correction i get the following result

if i touch top left i get x=0, y=239, if i touch top right i get x= 320, y=240, if i touch bottom left i get x=0, y=-416 (note: it is negative 416), if i touch bottom right i get x=320, y=-293

here where i added:
        /*Normalize Data*/
        x = x >> 3;
        y = y >> 3;
        xpt2046_corr(&x, &y);
        xpt2046_avg(&x, &y);

		x = 320-

[2019-05-08 22:21] alen1359 commented on #6
more accurate data using pen for touch

if i touch top left i get x=0, y=239, if i touch top right i get x= 320, y=240, if i touch bottom left i get x=0, y=-416 (note: it is negative 416), if i touch bottom right i get x=320, y=-416

[2019-05-09 14:08] kisvegabor commented on #6
I see. It really still need to be calibrated.
The calibration values are here:
https://github.com/littlevgl/esp32_ili9341/blob/master/drv/xpt2046.h#L27-L32

You should try to set the MIN coordinates to 0 and MAX to 4096 to disable calibration, check the coordinates and write them as calibration values.

I forget that here you can also invert the X and/or Y coordinates if required. So the previous

[2019-05-09 22:15] alen1359 commented on #6
ok, if i do min=0 and max 4096 i get teh followings

#define XPT2046_X_MIN       39
#define XPT2046_Y_MIN       21
#define XPT2046_X_MAX       271
#define XPT2046_Y_MAX       226

but when i put them in my code it doesn't work still i also tried the followings but no success

#define XPT2046_X_MIN       39
#define XPT2046_Y_MIN       21
#define XPT2046_X_MAX       271
#define XPT2046_Y_MAX       2

[2019-05-10 05:12] kisvegabor commented on #6
What was the problem with the first version?

[2019-05-11 13:17] alen1359 commented on #6
ok i ran it again with 0 and 4096, here are the numbers,
bottom left 	x=38, 	y=21
top left 		x=38, 	y=211
top right 		x=250, 	y=226
bottom right	x= 272,	y=29

if i enter these numbers in my code and compile i get the followings
#define XPT2046_X_MIN 38
#define XPT2046_Y_MIN 21
#define XPT2046_X_MAX 272
#define XPT2046_Y_MAX 226

i get

bottom left 	x=379, 	y=-4118
top left 		x=378, 	y=-333
top rig

[2019-05-13 03:32] kisvegabor commented on #6
I have no idea. The correction happens here: https://github.com/littlevgl/esp32_ili9341/blob/master/drv/xpt2046.c#L116

With the parameters, you provided it should work. You can debug it using `printtf`s to see where the miscalculation happens.

[2019-05-15 02:08] alen1359 commented on #6
i can't figure out what is going on, is it possible to recommend me a display that works with this code.

thanks,

[2019-05-15 02:10] alen1359 commented on #6
i set the invert for Y to 1 and i believe this is where the problem is, it is creating a negative number for Y

#if XPT2046_Y_INV != 0
    (*y) =  XPT2046_VER_RES - (*y);

[2019-05-15 02:19] alen1359 commented on #6
top left should be 0,0 or bottom left ?

[2019-05-15 05:42] kisvegabor commented on #6
Top-left should be (0,0).

You should `printf` the raw and corrected data step by step to where the problem occurs.

Resistive TPs might be different even for the same product type.

[2019-06-10 15:10] C47D commented on #6
I also noticed the touch isn't working, in my case when i touch the screen from right to left the red dots appear from top to bottom, when i touch the screen from bottom to top the red dots appears from right to left.

I haven't tried to log the input device output, is there a 'easy' way to do it?

Regards

[2019-06-10 15:11] embeddedt commented on #6
@C47D Use `printf` or something similar inside the `indev_read` function.

[2019-06-10 20:03] C47D commented on #6
Thanks, i will take a look at it.

[2019-07-04 10:45] agent3bood opened #8 "Cannot get the example to work"
Steps to produce the issue:
1. follow cloning and copying component.mk files
2. make manuconfig and change serial flasher to 115200
3. I am using this display http://www.lcdwiki.com/2.8inch_SPI_Module_ILI9341_SKU:MSP2807, ESP module is https://wiki.wemos.cc/products:d32:d32
4. connect the following pins (MOSI, SCLK, CS, DC, BCKL, RST) as per default config
5. make flash monitor
6. the error is bel

[2019-07-05 06:29] kisvegabor commented on #8
Have you changed anything in the code?

[2019-07-05 07:33] agent3bood commented on #8
No, I didn't change any code, also I tried to copy the example to my own project and got the same error.
The screen background led will go on and nothing on the display.

[2019-07-06 15:11] kisvegabor commented on #8
I'll update the project to the `v6.0` version of LittlevGL next week. Hopefully, the problem will be solved then.
If not, at least I will have an ESP32 with a display to make further tests.

BTW, the error message says "watchdog got triggered". Is the watchdog enabled by default?

To see what happens in LittelvGL you can enable [Logging](https://docs.littlevgl.com/en/html/porting/log.html)

[2019-07-06 15:32] agent3bood commented on #8
Thanks I will wait for the updated repo.
About the error message I think it is from FreeRTOS.
I have also enabled logging for LittelvGL, it is logging that the UI is being drown but nothing on the screen and I get the same watchdog error.
I have tried different boards and screens and different example configurations it all give the same error.
By the way I update the LittelvGL library, can I just

[2019-07-06 15:37] kisvegabor commented on #8
Yes, but note that the prototype of the drivers has been changed.  See these about the [Display](https://docs.littlevgl.com/en/html/porting/display.html) and [Touchpad](https://docs.littlevgl.com/en/html/porting/indev.html#touchpad-mouse-or-any-pointer).

You should also update the [lv_example](https://github.com/littlevgl/lv_examples) repo.

[2019-07-06 22:26] C47D commented on #8
I disabled the watchdog interrupt to don't get those warnings, it's not recommended to do so but it's just for trying out lvgl.
After doing `make menuconfig` go to `Component config > Common ESP Related` and disable `Interrupt watchdog` and `Initialize Task watchdog timer on startup`.

[2019-07-07 16:16] C47D opened #9 "lvgl as a esp32-idf component"
Hi,

Is it possible to add **lvgl** as a `component` (in the esp32 idf argon)? [here](https://github.com/C47D/esp32_lvgl_experiments) is an example on how (see components directory).

The **lvgl** directory should be added into a directory named `components`, the same goes for the **drv** directory. The `component.mk` file that goes into the **drv** directory may look like this example:

[code]

T

[2019-07-08 03:34] kisvegabor commented on #9
Hi,

I'm not an expert with ESP32, but what is the advantage of this structure?

[2019-07-08 04:22] C47D commented on #9
Hi,

Neither i am an expert ESP32 user, but using **components** is just the recommendation of Espressif on how organize projects. See [here](https://docs.espressif.com/projects/esp-idf/en/latest/api-guides/build-system.html#component-makefiles).

And below there's a tree of an example project, and explains the `components` directory:

[2019-07-08 15:15] kisvegabor commented on #9
Hm, this project already uses `components.mk` see the [README](https://github.com/littlevgl/esp32_ili9341#add-littlevgl-to-the-build). So basically the update you suggest is to move the components to a `coponents` folder because it's more standard?
If so, I agree, it's better to follow the ESP's rules if possible.

[2019-07-08 15:45] C47D commented on #9
Yes. I found it easier to work with that way.

The component examples i uploaded in [this](https://github.com/littlevgl/esp32_ili9341/issues/9#issue-464968522) comment are just suggestions, adapted to the new directory structure of lvgl v6.0.

[2019-07-08 21:41] #6 closed

[2019-07-09 04:20] kisvegabor commented on #9
I see. We can do it as part of the migration to `v6.0`.
Hopefully, I will get back my ILI9341 screen from my friend today and can update the project.

[2019-07-09 12:46] C47D commented on #9
Great, thanks :-)

[2019-07-10 07:01] kisvegabor commented on #9
I've updated the project I couldn't make it work with the proposed directory structure yet.
Now it has the old structure but with lvgl 6.0.

Can you take look at it?

[2019-07-10 07:02] kisvegabor commented on #8
I've updated the project ad found the issue. It was the touchpad driver.

Is it working there too?

[2019-07-10 07:18] agent3bood commented on #8
I could not get the touch to work on either this repo or https://github.com/espressif/esp-iot-solution/tree/master/examples/hmi
On the iot-solutions example I got the display to work only.

[2019-07-10 13:04] kisvegabor commented on #8
In this project, is the display working?

[2019-07-10 13:18] agent3bood commented on #8
yes display is working in  iot-solutions  https://github.com/espressif/esp-iot-solution/tree/master/examples/hmi

[2019-07-10 13:20] kisvegabor commented on #8
However, it still uses  v5.3. In this issue, the goal is to update this project to v6.0

[2019-07-10 13:27] C47D commented on #9
Great!, yes, i can take a look at it.

[2019-07-11 03:47] C47D commented on #9
Hi,

I got it working, i also had to move the `lv_conf.h` and `lv_ex_conf.h` files into the `components` directory. I will have to update the `git submodules` path and expect the PR soon.

[2019-07-11 04:31] kisvegabor commented on #9
Great! Waiting for the PR :)

[2019-07-11 09:22] Erol2309 opened #11 "ili9341 driver backlight"
Hello,

In `ili9341.c` i think there might be a mistake in the `ili9341_init()` function. I changed the last instruction to `gpio_set_level(ILI9341_BCKL, 0)` as opposed to `gpio_set_level(ILI9341_BCKL, 1)`. This might be due to the pull-up or pull-down config of the gpio but i am not sure.
Posted this for anybody that might encounter this.

[2019-07-11 09:41] C47D commented on #9
Let me know if like the new README

[2019-07-11 19:54] PKav89 opened #12 "Touchscreen calibration"
I guess this example should include a touchscreen calibration procedure. There is one in tpcal.c, I am trying to integrate it into the example, but formulas seem to be wrong. I get negative values using them.

[code]
So, if I have after calibration:

`static lv_point_t point[4]; /*Calibration points: [0]: top-left; [1]: top-right, [2]: bottom-right, [3]: bottom-left */`

Which of them is x1_saved

[2019-07-12 04:46] kisvegabor commented on #11
Hi,

It should be specific to the display. Probably your display needs '0' on the backlight pin to enable it.

[2019-07-12 12:41] kisvegabor commented on #12
What are the coordinates you measured and the resolution of your display?

- `x1_saved` is the left coordinate
- `x2_saved` is the right coordinate
- `y1_saved` is the top coordinate
- `y2_saved` is the bottom coordinate

[2019-07-12 12:54] PKav89 commented on #12
Hello kisvegabor and thanks for the best embedded graphical library in the world!

I have a 3.2" 320x240 ILI9341 LCD with XPT2046 Touch screen in landscape mode.

I get values from about 340 to about 3900 on X axis and from 200 to 3850 on Y axis. These are raw values from a touchscreen.

The calibration routine from LittlevGL tpcal.c file collects raw coordinates of 4 points in the corners of the

[2019-07-13 22:28] C47D commented on #11
Hi,

I'm Carlos at the forum and found the same issue [1], maybe we can use some symbols and build the project like so: `make CFLAGS += -DESP32_BOARD_WROVER_KIT`, this will make the following snippet set the correct level of the BCLK pin.

[code]

This can also help the users to assign the right pin out of their boards without modifying any file, only setting the according symbol as above.

What d

[2019-07-15 03:15] kisvegabor commented on #12
So in your case:
- `x1_saved = 340`
- `x2_saved = 3900`
- lets say `x_act = 1000` (should be about at ~25% in x)

[code]
So the pressed cooridinate is x = 63, (Really ~25% of 320)

[2019-07-15 03:56] kisvegabor commented on #11
Hi Carlos,

Sounds good!
If there is no obsctacle we can use the Wrover Kit's pins as default. On Wroom32 modules, we can use any pins so we can be compatible with the Wroomkit by default.
Maybe the TP's SPI could be an issue because I saw that you need to use the SPI in half-duplex mode to achieve 40 MHz.

[2019-07-15 04:10] C47D commented on #11
The Wrover kit doesn't have a touch screen, it's just the TFT display, I got the code ready for a pull request but I'm waiting for my other PR to get merged.

[2019-07-15 05:02] #9 closed

[2019-07-15 05:06] PKav89 commented on #12
Yes, that's right. I guess, it is called "linear interpolation/extrapolation". I leave my code here in case of someone will have same problem.

[code]
And, calibration and after aquiring raw data:

[code]

[2019-07-15 05:06] #12 closed

[2019-07-15 05:10] kisvegabor commented on #11
Great, then it won't be an issue.

Just merged :slightly_smiling_face:

It should be changed in `lv_conf.h` (LV_HOR/VER_RES_MAX.

[2019-07-18 14:12] #11 closed

[2019-07-23 07:06] pratikmokashi opened #14 "Failed make"
I followed the example project - [esp32_ili9341](https://github.com/littlevgl/esp32_ili9341)
connection and all the things are correct but I get compile error when I do make

**Error -**
Toolchain path: /home/User/esp/xtensa-esp32-elf/bin/xtensa-esp32-elf-gcc
Toolchain version: esp32-2019r1
Compiler version: 8.2.0
Python requirements from /home/User/esp/esp-idf/requirements.txt are satisfied.

App

[2019-07-23 07:35] pratikmokashi commented on #14
Alright I messed up the .mk files got it working

[2019-07-23 07:35] #14 closed

[2019-07-26 06:29] pratikmokashi commented on #12
I am having a hard time calibrating the display , The example of calibration is not working as Make fails
I tried few things but I didn't get the touch calibrated

[2019-07-26 18:25] kisvegabor commented on #12
What error message do you get exactly?

[2019-07-29 06:29] pratikmokashi commented on #12
So the demo does work, I placed a small button in the right in the middle (0,0)  of the display (320x240). when I touch on the button there is no output but if i touch the display slightly away from the button on left side it doe register. So it is issue of calibration but i have no idea how to calibrate the touch.

#define XPT2046_AVG 4
#define XPT2046_X_MIN       1000
#define XPT2046_Y_MIN

[2019-07-29 12:47] kisvegabor commented on #12
[code]

Are these the raw data you have measured for the corners?

[2019-07-30 05:37] pratikmokashi commented on #12
X1 = 200 , X2 = 320
Y1 = 240, Y2 = 240

these are raw value I am getting from the function
co-ordinate in center of display (raw value) is (X=170,Y=10 to 12)

[2019-07-30 06:00] kisvegabor commented on #12
By raw value, I meant the raw value in `XPT2046`. E.g.  the x and y values [here](https://github.com/littlevgl/lv_drivers/blob/master/indev/XPT2046.c#L91). These still not scaled but really the raw data from the touch controller.

[2019-07-30 06:40] pratikmokashi commented on #12
So the raw value i got from
`xpt2046_corr(&x,&y);`
top left = (200,204)
top right =(320,196)
bottom left = (224,240)
bottom right = (320,240)

[2019-07-30 06:51] kisvegabor commented on #12
I meant BEFORE `xpt2046_corr` where the calibration values ae still not applied.

[2019-07-30 06:55] pratikmokashi commented on #12
top left = (1952,1216)
top right =(511,1184)
bottom left = (1696,503)
bottom right = (511,511)

[2019-07-30 13:16] kisvegabor commented on #12
Then you should:
[code]

[2019-07-31 04:57] pratikmokashi commented on #12
![Untitled](https://user-images.githubusercontent.com/18609311/62184678-b4136f80-b37c-11e9-9a91-f5cd4390380b.png)
Values in the image are from
[code]
Okay so got some output, atleast it register input on display, But there is some offset.

[code]
How should I go ahead ?

ps - thank you so much for your valuable time !

[2019-07-31 12:06] kisvegabor commented on #12
It's strange. I've checked `xpt2046_corr` and seems correct. Can you print the intermediate values during the calculation?

[2019-07-31 12:43] pratikmokashi commented on #12
Yeah I can print just tell me what values you want to know, I tried multiple things but no output.
[code]

[2019-08-01 12:20] kisvegabor commented on #12
Probably it's because you forgot the `\n` at the end.

Let's try this:
[code]

[2019-08-01 12:37] pratikmokashi commented on #12
Alright , I will test the values and comeback.
I did add  \n later (after my reply here) got same values as before. Still I will retest once I get back to my lab.

[2019-08-02 07:29] pratikmokashi commented on #12
So I tried the following code and got these readings
[code]
![a](https://user-images.githubusercontent.com/18609311/62352204-3b034c00-b525-11e9-819b-17132a98cd7c.png)

[2019-08-02 07:51] kisvegabor commented on #12
The magnitude of the numbers seems correct. From this, I can't tell more because I don't know where you touched the screen. What are the values if you touch the center of the screen?

[2019-08-02 08:01] pratikmokashi commented on #12
Its not like exact centre but it is around that area.

![display_touch](https://user-images.githubusercontent.com/18609311/62354084-b5ce6600-b529-11e9-8bec-377ca5da0fc0.jpg)

the values I got from the touch

![b](https://user-images.githubusercontent.com/18609311/62354136-ce3e8080-b529-11e9-9edf-7093a58f338a.png)

[2019-08-04 19:14] pjaos commented on #8
Not sure if you've solved this issue but I've implemented a driver for the ADS7843 touch screen driver used in this display (http://www.lcdwiki.com/2.8inch_SPI_Module_ILI9341_SKU:MSP2807), integrated this with great LittlevGL and mongoose OS. It's available at https://github.com/pjaos/mgos_esp32_littlevgl if you're interested.

[2019-08-05 13:31] kisvegabor commented on #12
I suggest continuing it on the Forum. You can reach more people there who hopefully already had a similar issue.

Please post your last results in [Get started category](https://forum.littlevgl.com/c/get-started).

[2019-08-06 07:54] agent3bood commented on #8
Hi
Actually I did not fix the issue as I was working on other parts of the project (it is part time so it is moving slow). I will definitely check the new one also and report back here is the issue is solved.
Thanks again

[2019-08-06 13:21] kisvegabor commented on #8
I suggest continuing it on the Forum because more people are reading that.
https://forum.littlevgl.com

[2019-08-06 21:01] agent3bood commented on #8
I can confirm the display example is working with latest esp idf pulled today.

[2019-08-06 21:01] #8 closed

[2019-08-07 04:02] kisvegabor commented on #8
Awesome, thank you for the feedback!

[2019-09-19 08:59] winny2809 opened #16 "Touch works only with the tpcal example"
I imported this library in a platform underesp-idf environment.
All the graphic functions on the display work correctly, but unfortunately the touch in none of the examples works.
Only by calling the "tpcal_create ()" function for touch adjustment, the device receives the signal that the screen has been pressed. It is as if only the "touch" event is called in this function. How is it possible that

[2019-09-19 13:00] embeddedt commented on #16
@winny2809 It's likely that your touch screen is not calibrated correctly, so you never touch any of the objects on the screen (e.g. buttons). However, the `tpcal` example is designed to calibrate the screen so it will register touches anywhere.

[2019-09-19 13:19] winny2809 commented on #16
The problem is that even creating an object with the call function, when you touch any point on the screen no event is generated, an event is generated only by using the "tpcal_create" function.
It is as if only the "tpcal_create" function read the interrupt from the touch screen.
Why?

[2019-09-19 13:26] kisvegabor commented on #16
`tp_cal` checks to the whole display area for clicks. I suggest to `printf` the measured raw touchpad data fro your driver to if it's correct.

[2019-09-19 13:47] embeddedt commented on #16
That is because, as I said above, in the other examples there are small objects on the screen in various places. It just so happens that the current data you are reading from your touchscreen is not hitting those areas.

However, think of `tpcal` as creating a huge button that covers the whole screen. No matter where the data you read claims you touch, the huge button will always get clicked as it

[2019-09-19 13:56] winny2809 commented on #16
And then? in this case how should I proceed? Excuse me

[2019-09-19 14:09] embeddedt commented on #16
First, let's figure out whether it's bogus or not. That is, does touching the top left of the screen give you roughly `(0,0)`, and does touching the bottom right give you a coordinate around the screen width and height (i.e. for 240x320 `(240, 320)`)?

[2019-09-19 14:17] winny2809 commented on #16
![IMG_20190919_161127](https://user-images.githubusercontent.com/41755245/65252118-b1b9d000-daf8-11e9-9ef9-7cdb3069b567.jpg)

This is the result

[2019-09-19 14:41] kisvegabor commented on #16
It's cleary the issue of the driver. Probably you read always 0xFF. Typically it indicates a problem with the SPI. (wrong pins or wrong configuration)

[2019-09-19 14:49] winny2809 commented on #16
I have the doit devkit v1 card.
My configuration is:

#define XPT2046_IRQ 25

#define ENABLE_TOUCH_INPUT  1

#define TP_SPI_MOSI 23
#define TP_SPI_MISO 19
#define TP_SPI_CLK  18
#define TP_SPI_CS   5

[2019-09-19 14:54] winny2809 commented on #16
the vspi configuration is:

void tp_spi_init(void)
{

	esp_err_t ret;

	spi_bus_config_t buscfg={
		.miso_io_num=TP_SPI_MISO,
		.mosi_io_num=TP_SPI_MOSI,
		.sclk_io_num=TP_SPI_CLK,
		.quadwp_io_num=-1,
		.quadhd_io_num=-1
	};

	spi_device_interface_config_t devcfg={
		.clock_speed_hz=10*1000*1000,           //Clock out at 80 MHz
		.mode=0,                                //SPI mode 0
		.spics_io_nu

[2019-09-19 14:59] kisvegabor commented on #16
Let's continue in the [Forum](https://forum.littlevgl.com) because more users read it.

[2019-09-19 14:59] #16 closed

[2019-09-26 13:52] Terixxx opened #17 "Error when compiling"
Hello,
i am facing following error when try to build the project:
_esp-idf/esp32/libesp32.a(cpu_start.c.obj):(.literal.main_task+0x10): undefined reference to `app_main'
esp-idf/esp32/libesp32.a(cpu_start.c.obj): In function `main_task':
C:/Users/asenn/Desktop/esp-idf-2/components/esp32/cpu_start.c:514: undefined reference to `app_main'
collect2.exe: error: ld returned 1 exit status_

I use this g

[2019-09-26 13:54] embeddedt commented on #17
I don't use ESP32, but I frequently see that people have issues if they use a version that is too new. Maybe you should try an older version of ESP-IDF.

[2019-09-26 16:24] Terixxx commented on #17
I am wondering this project with which IDE is created, which compiler is used and the OS?

[2019-09-26 16:49] kisvegabor commented on #17
It's a simple makefile project but as @embeddedt mentioned ESP-IDF's build has completely changed. Therefore the project is not working with the latest version of ESP-IDF.

Take a look at this post in the Forum:
https://forum.littlevgl.com/t/how-to-create-complex-project-structures-in-esp-idf/619/15?u=kisvegabor

I'm using v3.2 of ESP-IDF which works well with this project.

[2019-09-27 06:21] Terixxx commented on #17
I tried with v3.2, but still can't compile. The error is the same.

[2019-09-27 06:56] kisvegabor commented on #17
Please open a topic in the Forum about this question.
The Forum is visited by more people, so there is a higher chance to get help there.
https://forum.littlevgl.com/

[2019-09-27 06:56] #17 closed

[2019-09-29 14:21] jeremyjh opened #18 "No Display on M5Stack"
I [configured this library](https://github.com/jeremyjh/esp32_ili9341/commit/77de290772c6662cd5791a0a02b1c521944035ed) for the pinouts on the [M5Stack](https://github.com/m5stack/M5Stack#4-hw-reference). Built and flashed it, and judging from the INFO logs it runs through the demo just fine, there are no errors. However, nothing is ever displayed on the screen.

These pin configurations work fine

[2019-09-30 04:37] kisvegabor commented on #18
We use GitHub Issues for development-related discussions.

Please ask your question in the [Forum](https://forumtest.littlevgl.com/) to make it visible for a larger community. You can simply log in with your GitHub account.

[2019-09-30 04:37] #18 closed

[2019-10-02 07:43] jeremyjh opened #20 "KConfig?"
The standard convention in ESP-IDF libraries is to use KConfig / menuconfig / sdkconfig for user configuration of libraries/components. Right now this project uses a couple of makefile flags as well as header defines for configuration of the library for the end-user's device. I would suggest a move to use all header defines but have those defines in turn reference sdkconfig variables.

So in the h

[2019-10-02 13:50] kisvegabor commented on #20
It sounds very well. Please send a PR!

[2019-10-16 09:58] zoon81 opened #21 "ili9341 PORTRAIT mode"
I saw some questions about screen rotations, so I think I post my solution here.
Things to change:

[ili9341.c at line 62](https://github.com/littlevgl/esp32_ili9341/blob/83b18d690b74ede199d2f2ae2d2b725ff9d6e6d8/components/drv/ili9341.c#L62):
original:
`{0x36, {0x28}, 1},			/*Memory Access Control*/`
modify to
`{0x36, {0x48}, 1},			/*Memory Access Control*/
`

[lv_conf.h at line 24](https://github

[2019-10-16 09:59] #21 closed

[2019-10-16 12:12] jeremyjh commented on #21
The LVGL library has [dynamic rotation support](https://docs.littlevgl.com/en/html/porting/display.html?highlight=rotate#display-driver); what we should do in the driver is support that rather than simply hard coding a different rotation. Whatever we hardcode will work for some and not others.

[2019-10-20 14:16] fivdi opened #22 "line width for style not always functioning correctly"
Below is a variation of [the main program from this repository](https://github.com/littlevgl/esp32_ili9341/blob/master/main/main.c). The goal of the program is to display something similar to a big wide letter "W" at the top of the display.

If the line width (`style_letter_w.line.width`) for the lines making up this big wide letter "W" is 1, 2, 3 or 4, the program functions correctly. If the line

[2019-10-21 03:50] kisvegabor commented on #22
It should be already fixed. Please update `lvgl` to the latest `master`.

[2019-10-21 19:37] fivdi commented on #22
Yes, updating `lvgl` to the latest `master` resolves the issue. Thank you very much. I guess the fix will be available in the next official release of lvgl so I'll go ahead and close the issue.

[2019-10-21 19:37] #22 closed

[2019-10-21 19:57] kisvegabor commented on #22
Sure!

[2019-10-21 20:25] embeddedt commented on #22
@fivdi As a note, it's usually wise whenever downloading one of our example projects to run a `git pull` on the submodules, just to make sure they're up to date.

[2019-10-21 21:29] fivdi commented on #22
@embeddedt Thanks for the tip.

[2019-10-23 15:11] jeremyjh commented on #20
I'm pretty close to having a PR ready, should be in the next couple days, all that is left are instructions in the README. WIP is on this branch: https://github.com/jeremyjh/esp32_ili9341/tree/kconfig

[2019-10-24 11:45] kisvegabor commented on #20
Awesome, thank you for the feedback.

Do you know about the new Cmake based build system of ESP? If so have you already make it work this project?

[2019-10-24 12:34] jeremyjh commented on #20
Yes Cmake support is in that branch too.

On Thu, Oct 24, 2019 at 7:45 AM Gabor Kiss-Vamosi <notifications@github.com>
wrote:

[2019-10-24 12:49] kisvegabor commented on #20
Cool :sunglasses:

[2019-10-24 19:40] Boldie opened #24 "Problems in SPI driver not setting DC correctly"
Just for information, I used your driver to bring my stuff working. Since I rewrote big parts of them (I use the same SPI for touch and display), I found some problems I want to let you know.

In the display driver, there is a problematic condition on fast systems switching the DC pin, before the SPI transfer has been finished, especially in the beginning of the transfer. Since SPI returns after s

[2019-10-25 04:36] kisvegabor commented on #24
Can you send a pull request to fix it?

[2019-10-25 20:49] Boldie commented on #24
Ohh, I rewrote big parts of the driver part to support xpt2046 calibration, storing calibration to NVS, using a single spi bus (especially this is incompatible with yours, but can be changed to support both variants easily), KConfig, make gpio-pin configuration also working for JTAG pins, removed stack usage for spi_device_queue_trans (may create a crash), ...
But maybe it is of interest for other

[2019-10-28 05:47] kisvegabor commented on #24
I've examined this issue. As I see it can cause a problem only in `ili9341_flush`. However, LittlevGL won't call a new `ili9341_flush` while `lv_disp_flush_ready()` is not called in `spi_ready`.  So theoretically it really would be wrong (as you mentioned), but int the practice it should work fine.

Do you think it's still should be still fixed?

[2019-10-28 12:00] Boldie commented on #24
No, this is not correct, because for an update you have to trigger more transfers for one flush:

[code]

And in my case, the DC was reset to early and the next command was not understood as it should be.
[code]

I have added a LA to the ESP and I saw the above described case. DC was set to 1 while the command is being sent out by the SPI interface.

[2019-10-28 13:59] kisvegabor commented on #24
You are right. I'll update it.

[2019-10-29 13:24] #24 closed

[2019-10-29 13:25] kisvegabor commented on #24
I've fixed it! Thank you for pointing out this issue.

[2019-10-31 05:31] #20 closed

[2019-11-04 23:53] C47D opened #28 "Add ranges to Kconfig integer parameters?"
Hi @jeremyjh, should we add ranges to the display pin configurations? So the users doesn't configure invalid pins?

In espressif examples they use them like so:
[code]

[2019-11-05 02:02] jeremyjh commented on #28
Yes makes sense to me.

On Mon, Nov 4, 2019 at 3:53 PM Carlos Diaz <notifications@github.com> wrote:

[2019-11-05 13:42] C47D commented on #28
Will try to add them in a PR later this week.

Do you have any other ideas to improve the repo? I was thinking on adding and option on the Kconfig to choose which example to build, but I don't know how easy can it be done.

[2019-11-05 18:42] jeremyjh commented on #28
One thing the library still needs is rotation support. I haven't needed it myself yet though so I haven't implemented.

I think the demo idea is a good one. You could do it with a menu choice similar to how the predefined display works. If you do that it that the Kconfig for it should go into the main/ folder as it isn't applicable to the library, only to the demo project. I'd call the menu someth

[2019-11-05 20:47] C47D commented on #28
Do you happen to know if there is anything on the Kconfig with exclusive options? So only one demo project can be selected and not multiple.

[2019-11-05 22:15] jeremyjh commented on #28
Thats how a choice group works, if you follow the example of the predefined display it works that way too.

[2019-11-08 17:06] C47D commented on #28
Closed with #29

[2019-11-08 17:06] #28 closed

[2019-11-12 15:54] C47D opened #33 "[META] Add issue template?"
Hi,

I would like to add an issue template to help users give us valuable information when they can't make the project run on their setup.

What should we ask for? Here's what i have so far...

- Symptoms (display flickering, display all black/white)?
- ESP32 Chip.
- ESP-IDF version.
- Development kit.
- Development machine OS.
- Compilation warnings/errors if available.
- File with the compilatio

[2019-11-12 19:47] jeremyjh commented on #33
I prefer the "Expected Results", and "Actual Results" versus Symptoms terminology. It can cut down on a lot of misunderstandings. But I think this looks good.

[2019-11-12 20:33] C47D commented on #33
Agree, I will send a PR to close this.

[2019-11-13 15:50] C47D commented on #33
Fixed with #34

[2019-11-13 15:50] #33 closed

[2019-11-19 15:24] patrickdittrich opened #35 "Settings via 'menuconfig' for touch panel use are ignored"
Changes from #32 do conditionally include/exclude header files used for touch panel use depending on ENABLE_TOUCH_INPUT.
But ENABLE_TOUCH_INPUT is only defied in 'tp_spi.h' with the value from CONFIG_LVGL_ENABLE_TOUCH (set via 'menuconfig'), so it will never be included.
See line 24 in 'main.c' 15a15d01d9b287afa43df5a6c515dcd45c4795cc

[2019-11-19 15:47] jeremyjh commented on #35
Good catch. So basically right now the demo won't ever enable the touch controller. @C47D did we actually need to only conditionally include those headers? Was there a warning that this resolved?

[2019-11-19 20:31] C47D commented on #35
Hi,

I actually used it to avoid registering `lv_indev_drv_t indev_drv` when using the ESP32-WroverKit v4.1 (which soesn't include the touch controller).
https://github.com/littlevgl/lv_port_esp32_ili9341/blob/d797cb40dcf57d357fd530c9e8a40fd5872b3bd9/main/main.c#L54-L60

Should we apply the following patch?
[code]

[2019-11-19 20:59] jeremyjh commented on #35
The #ifdef related to the driver registration in line 53 was already there, the [patch in question](https://github.com/littlevgl/lv_port_esp32_ili9341/commit/15a15d01d9b287afa43df5a6c515dcd45c4795cc) only made the #includes conditional, but they are conditional on a macro set in that same include file, so basically it will always be defined and the touch panel will never be registered. I don't thi

[2019-11-19 21:22] C47D commented on #35
If we compare the value of ENABLE_TOUCH_INPUT to 0 or 1 the code sorrounded by the `#if` will only be active if the user enables the touch input, otherwise (the `#if` alone) that code will always be enabled, with touch input enabled or not. Please let me know if I'm wrong.

[2019-11-19 22:01] jeremyjh commented on #35
#if will include the block if the value of the [expression is non-zero](https://gcc.gnu.org/onlinedocs/cpp/If.html). If ENABLE_TOUCH_INPUT is 0, the code is not included, otherwise it is. I added this code in an earlier PR because on the M5 if you enable the touchpad driver with default settings there is a GPIO conflict and you'll never even see anything appear on the screen.

[2019-11-19 23:02] C47D commented on #35
Sorry, didn't knew that, just submitted a PR trying to solve the issue, please let me know if it does.

[2019-11-20 05:32] #35 closed

[2019-12-04 09:18] donny681 opened #37 "How to ROTATE the screen"
I want to ratate the screen to 90,How to do it ?

[2019-12-04 12:37] jeremyjh commented on #37
This is not implemented in the driver yet. You can use the driver functions to send a rotation command though - it is a 0x36 command and we use an example here: https://github.com/littlevgl/lv_port_esp32_ili9341/blob/master/components/lvgl_ili9341/ili9341.c#L108

To determine the correct data command to send, you can refer to this code. https://gist.github.com/motters/38a26a66020f674b6389063932048

[2019-12-05 02:13] donny681 commented on #37
I try to determine the data of 0x36 command.But it may be useless.

[2019-12-07 03:24] cbarransunny opened #39 "Program crashes when adding wifi support"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
added wifi station code from esp-idf mqtt example:
https://github.com/espressif/esp-idf/blob/release/v3.3/examples/protocols/mqtt/tcp/main/app_main.c#L171

**Code to reproduce the issue**

[code]
**Expected Results**
The display shows to demo and

[2019-12-12 05:57] donny681 commented on #37
I try this,it is ok.Thanks

[2019-12-12 06:08] donny681 opened #40 "leak memony"
I try to decode several png images.However,when I decode over two images,it will reduce the heap size gradully.It is ok when I decode only one image.Do you know the reason?

source code:

`

    CURRENT_img1= lv_img_create(lv_scr_act(), NULL);

    lv_obj_set_pos(CURRENT_img1, 10, 65);

    lv_img_set_src(CURRENT_img1, "/spiffs/wet/100.png");

    lv_obj_t * NEXT_day_weather_img = lv_img_create(lv

[2019-12-12 07:36] donny681 commented on #40
When memory is exhausted,it output this debug:

Warn: Image draw cannot open the image resource 	(/home/fyy/esp/project/lv_port_esp32_ili9341/components/lvgl/lvgl/src/lv_draw/lv_img_cache.c #118)
Warn: Image draw error 	(/home/fyy/esp/project/lv_port_esp32_ili9341/components/lvgl/lvgl/src/lv_draw/lv_draw_img.c #61)
error 83: memory allocation failed

[2019-12-12 07:57] donny681 commented on #40
I found that if I create over two images objects,it will recall decoder_open function all the time,which reduce the memories.

[2019-12-12 14:12] embeddedt commented on #37
Great!

I'll close this issue then.

[2019-12-12 14:12] #37 closed

[2019-12-12 14:16] embeddedt commented on #40
I can't see enough of your code to know exactly what you're doing, but it sounds like you are creating new image objects over and over. You don't need to do that. Just change the source of the existing image object(s).

Again, not much code to work with here, but I'm guessing that your UI has current and next weather images? That means you only need two image objects, and you can just change the s

[2019-12-13 06:19] donny681 commented on #40
Actually,I do need to create several images and change them day by day. Like you say,If I delete the images,how can I change the source of pictures.

[2019-12-13 07:17] donny681 commented on #40
I find the real reason,when I create two imge objects and a scrolled label ,there is a conflict between image and scrolled label,I post the code here (https://github.com/donny681/littlevgl_esp32).You can see that the it will reduce memories  gradually.

[2019-12-13 13:06] embeddedt commented on #40
As I mentioned, you can change the source of an image after it's created by calling `lv_img_set_src` again. There is **no need** to recreate/delete the image object.

Hmm. I don't see anywhere in your code that you are changing the image. You seem to just create it once in `my_demo_create` and then do nothing afterwards. Is `my_demo_create` ever called again after [this line](https://github.com/do

[2019-12-14 19:08] rbarris opened #41 "Converted font won't compile as-is"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
I used the LittlevGL online font converter tool to convert a font.
I downloaded the resulting C file and added it to my project incorporating the lv_port_esp32_ili9341.
The font source isn't fully compatible with this version of LittlevGL and had

[2019-12-14 19:27] embeddedt commented on #41
This is because the font converter has been updated to support LittlevGL 6.1, but there are a few minor incompatibilities with 6.0.x now. There are two possible solutions:

* Fix the minor incompatibility the way you did, and continue to use LittlevGL 6.0.
* Upgrade to LittlevGL 6.1; it's a minor release so you shouldn't need to do much work to upgrade.

[2019-12-16 01:59] donny681 commented on #40
No,I think that you misunderstand my meaning.As you mentioned.I do nothing after creating the UI.However,I don't know the reason why it reduces memories  every second If I create two images and a scrolled label.There are five steps to prove the problems.

Firstly,just create two images then do nothing,the memonies are stable for a long time after a few seconds.

Secondly,If I create two images and

[2019-12-16 05:57] kisvegabor commented on #41
As the question is answered I close this issue.

[2019-12-16 05:57] #41 closed

[2019-12-16 06:35] kisvegabor commented on #40
@donny681

I was able to reproduce the issue and found the problem. `lodepng` loads the PNG file into buffer, and this buffer wasn't freed.

I've fixed it here: https://github.com/littlevgl/lv_lib_lodepng/commit/5018378ee704be467866609a259dc9b1161482a5

I hope it solves your issue.

[2019-12-17 06:07] donny681 commented on #40
@kisvegabor it works.Thank you.

[2019-12-17 06:19] donny681 commented on #40
@kisvegabor However,when I try to change the text of other static  label.It will affect the original scrolled label .For example,if I create two images ,a scrolled label and a static label.If I want to change the text of the static label.Actually it change the text of scrolled label.

[2019-12-17 07:20] kisvegabor commented on #40
Please send a code snippet?
Do you see the issue without the images too?

[2019-12-18 02:41] rdelcorro opened #42 "Support ILI9488"
Is it possible to support the IL9488? As far as I understand, the differences are quite minimal. Thanks

[2019-12-19 12:25] kisvegabor commented on #42
It's not supported by default, but it'd be great if you could add it.

It can be a [Kconfig](https://github.com/littlevgl/lv_port_esp32_ili9341/blob/master/components/lvgl_ili9341/Kconfig) option the choose between the drivers.

cc
@jeremyjh @C47D

[2019-12-19 15:32] C47D commented on #42
Hi,

I don't have any ILI9488 at hand but I will check the datasheet for it, so if @rdelcorro have one it would be very helpful if you can help us with the validation.

In regards of choosing the LCD driver on the esp configuration it's possible, but I would like to ask @jeremyjh for suggestions on how to implement it, I would suggest to abstract the LCD driver, something like this:

[code]

I hav

[2019-12-19 16:15] rdelcorro commented on #42
Thanks @C47D, I can help with the validation.

[2019-12-23 15:12] C47D commented on #42
Hi, do you happen to know the differences between the ILI9341 and ILI9488 drivers? I'm still stuck trying to figure out how to setup the project configuration to be able to choose between diferent drivers.

[2019-12-23 19:09] rdelcorro commented on #42
@C47D this is the aliexpress link: https://www.aliexpress.com/item/33057812377.html?spm=a2g0s.12269583.0.0.54b636d3APjqbt

I was also able to use the screen with this code: https://gist.github.com/rdelcorro/beb7ebe929064797b926f3affcd9e0ac which uses this library: https://github.com/Bodmer/TFT_eSPI.

As far as I understand, the difference is:
- Initialization sequence (can be seen in the repo abov

[2019-12-23 19:49] C47D commented on #42
@rdelcorro Thanks for the information, I'm still trying to figure out how to handle the driver abstraction and also learn how to use the Kconfig lang to extend the menuconfig interface. Please give me some more time to arrive to something that handle your display driver and maybe others in the future.

[2019-12-23 21:43] jeremyjh commented on #42
@C47D I think I'd just define some constants for the driver such that ILI9341 = 1, ILI9488 = 2 and then use a menu choice group to select from the two options, similar to how the pre-defined displays work. In the driver code we could have multiple init functions defined and call the correct one based on this value.

My fork of the loboris TFT driver has a KConfig for exactly that purpose: https://

[2019-12-24 01:58] donny681 commented on #40
Sorry,It is my fault .I do something wrong with it personally.

[2019-12-24 01:58] #40 closed

[2019-12-24 17:20] C47D commented on #42
Thanks for the links @jeremyjh, it's much clearer now.

I see you share the SPI and control signals across the drivers:

https://github.com/jeremyjh/ESP32_TFT_library/blob/cf347104a635a876fe9614ff465d5b9dec10f255/components/tft/tftspi.h#L54-L64

After checking the ILI9488 datasheet and @rdelcorro ali link we can notice it in fact uses the same pins as the ILI9341 driver, so i think the first step

[2019-12-28 15:47] embeddedt commented on #39
Not stale. (I can't help with this issue as I don't use ESP32.)

[2020-01-16 14:44] C47D commented on #42
We're still trying to make this work...

[2020-01-16 15:28] embeddedt commented on #39
@kisvegabor @amirgon Perhaps one of you can help with this?

[2020-01-16 18:48] amirgon commented on #39
Where is the stack trace?
On a crash report, the very minimum is providing a parsed stack trace.

[2020-01-17 19:12] justbarran commented on #39
Problem was solved by running Littlevgl only on core 1 while wifi and everything else runs on core 0. And using esp_timer_start_periodic(_lv_tick_timer, LV_TICK_MS*1000) to run the ticker.

[2020-01-17 19:53] embeddedt commented on #39
It's probably a concurrency issue (LittlevGL needs you to [wrap calls with some type of synchronization primitive](https://docs.littlevgl.com/en/html/porting/os.html) to work with multithreaded systems).

[2020-01-17 21:16] jeremyjh commented on #39
I should have noticed that just looking at this code, I had a similar thing happen to me. I use a pinned task to run the lv_task_handler(). I felt better about that approach than adding a mutex because there is absolutely no chance of a deadlock.

[2020-01-18 15:13] justbarran commented on #39
Yea the main problem came from esp_register_freertos_tick_hook(lv_tick_task); This should never be used. And I used a Recursive mutex around the LittleVGL functions.

[2020-01-23 04:15] monkeytronics commented on #39
Hey guys. I've just got this up and running on ESP32, but am crashing every couple of minutes... I am using esp_register_freertos_tick_hook(lv_tick_task); So, I guess I'm not doing it right?! I posted the stack trace and some extra info here:

https://github.com/espressif/esp-iot-solution/issues/37#issuecomment-577487967

Any chance you guys know what I'm doing wrong?? Thanks all.

[2020-01-23 06:58] amirgon commented on #39
- One thing I don't understand about your code: from the stack trace it looks like `ili9341_flush` is calling `vPortYield`.
However, I don't see where `vPortYield` is called anywhere in this project.
Did you change ili9341? Where are your sources?

- Try to run it all on a single core (disable the second core when configuring ESP32) and check if the problem still happens. Even if the problem is st

[2020-01-23 07:41] monkeytronics commented on #39
Hmmm. I just downloaded the ili9341 code from here. I haven't touched it at all.

I've just built it again on a single core like you suggested. It's been running for a half hour now without crashing...  It looks encouraging that you've fixed the immediate fault. Any idea why it might have been crashing with the dual core. Suggestions above that using esp_register_freertos_tick_hook(lv_tick_task) i

[2020-01-23 09:40] amirgon commented on #39
Your stack trace:

Code from here:
https://github.com/littlevgl/lv_port_esp32_ili9341/blob/edf5bf19083e911876318c0842c091a6dfdc6d24/components/lvgl_ili9341/ili9341.c#L127-L137

**That doesn't add up**. line 130 on `ili9341.c` is an empty line, but on your stack trace it's calling `vPortYield`.
Are you aligned to HEAD?

I would try using `xTimerCreate` for calling `lv_tick_inc`, and `xTaskCreate` p

[2020-01-23 13:04] Mat-Alm commented on #42
Hi! I'am trying to port this display (ILI9488) to littlevgl. Well I made the initialization sequence works fine.
But now the problem is this:

ILI9488 only support RGB666 (18bits) it's like RGB888 but with some bits unused...

How to add support for littlevgl RGB sapce conversion?

[2020-01-23 16:58] Mat-Alm commented on #42
Hi! Managed to get it working! Bellow are my changes...

In ILI9341.h change

DISP_BUF_SIZE (LV_HOR_RES_MAX * 20)

In ILI9341.h add

[code]

In ILI9341.c at the function ili9341_init

[code]

replace ili9341 flush funtion with this:

[code]

At disp_spi_init replace this:

[code]

[2020-01-23 17:03] Mat-Alm commented on #42
![IMG_0696](https://user-images.githubusercontent.com/24484382/73006212-0348d300-3de9-11ea-9ac6-eb2d03083a6b.JPG)

[2020-01-24 14:12] C47D commented on #42
Hi Mat,

Great to see it working, I was working on the support on ILI9488 on [this](https://github.com/littlevgl/lv_port_esp32_ili9341/pull/44) pull request, i will check your changes and incorporate what i was missing.

Thanks for the help :)

[2020-01-25 06:50] C47D commented on #42
Updated the pull request with your code @Mat-Alm, i hope we're near to make it work!

[2020-02-07 14:39] kisvegabor commented on #42
@Mat-Alm could you test @C47D's version [here](https://github.com/littlevgl/lv_port_esp32_ili9341/pull/44)?

[2020-02-07 17:19] Mat-Alm commented on #42
How to download/clone the full project with this changes?

[2020-02-07 18:24] C47D commented on #42
@Mat-Alm , you need to clone my repo and track the `ili9488_support` branch, something like this:

[code]

[2020-02-09 00:24] C47D opened #46 "Choosing ESP32 DevKit v4 (38 GPIOS) as board doesn't allow the user to set custom pins for display control"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
Choosing ESP32 DevKit v4 (38 GPIOS) as board doesn't allow the user to choose custom pins for the connection with the display.

**Code to reproduce the issue**
Choose ESP32 DevKit v4 (38 GPIOS) as board
![imagen](https://user-images.githubusercont

[2020-02-09 04:08] jeremyjh commented on #46
If you have that board nothing prevents you from simply using custom pin settings (although then you won't be using HSPI). Why would you want to pick pre-defined pins and then also pick the pins?

[2020-02-09 04:36] C47D commented on #46
Hi,

This issue was created to track this suggestion: https://github.com/littlevgl/lv_port_esp32_ili9341/pull/44#issuecomment-583782769

I guess that in case of wanting custom pins the user should choose the `None` option on the `Predefined board pinout`?

Maybe @Mat-Alm wants to choose different pins for the non SPI signals?

[2020-02-09 11:53] Mat-Alm commented on #46
You are wrong!  Nothing prevent you to use any pins to "HSPI" or "VSPI". Yeah esp32 has many  bugs one of then is related with MISO line on HSPI but in this case the display does not use MISO :)

[2020-02-09 14:45] C47D opened #47 "[LV_CONF] Update LV_COLOR_DEPTH based on a menuconfig option"
It is now hardcoded, it should be a user configurable option when dealing with other driver configurations?

https://github.com/littlevgl/lv_port_esp32_ili9341/blob/edf5bf19083e911876318c0842c091a6dfdc6d24/components/lvgl/lv_conf.h#L28-L34

[2020-02-09 17:58] jeremyjh commented on #46
In that case the correct choice in the menu is "None", because you do not want to use predefined pins.

[2020-02-10 05:57] kisvegabor commented on #47
It can be updated like this:
[code]

[2020-02-10 06:12] #42 closed

[2020-02-10 08:36] C47D commented on #47
I think that what @Mat-Alm meant is being able to set the value to 1, 8, 16 or 32 using the menuconfig

[2020-02-10 13:33] C47D commented on #46
This is the solution

[2020-02-10 13:33] #46 closed

[2020-02-13 19:27] seeul8er opened #49 "Renaming the project (remove _ili9341)"
- Consider renaming the repository to just `lv_port_esp32` since ILI9488 display drivers are already supported and additional drivers are likely to be added in the future.

Keeping the current name might lead to the misconception that only the ili9341 display driver is supported.

- Consider renaming the folder `/components/lvgl_ili9341` to something like `/components/lvgl_esp32_drivers`

Make it

[2020-02-13 20:19] C47D commented on #49
I agree, inside `/components/lvgl_esp32_drivers` we could add a directory for the tft controllers and other for the touch controllers, something like so: `tft_controller` and `touch_controller`, do you agree @seeul8er?

[2020-02-14 17:43] C47D opened #50 "Init SPI bus in main and just the SPI device on TFT and touch controller"
Hi,

Right now we init the SPI bus and SPI devices on the TFT and touch init functions, like so:

https://github.com/littlevgl/lv_port_esp32_ili9341/blob/6c0a081029bcb05beb01033d6f12eb580ab999e8/components/lvgl_ili9341/disp_spi.c#L47-L82

I think is better to init the SPI bus on main so the user can add more devices, like sensors, etc, on main instead of modifying the TFT and touch controller func

[2020-02-15 11:30] kisvegabor commented on #49
I've just renamed to project.

I agree the with driver name changes. I usually use simply `tft` and `touch` but it doesn't matter too much. If you prefer `tft/touch_controller` it's also fine.

[2020-02-15 11:42] kisvegabor commented on #50
I agree. It'd be really clearer this way.

[2020-02-15 17:51] C47D commented on #49
Thanks for renaming the project, I will update the necessary files for the new directory structure.

[2020-02-15 17:52] C47D commented on #50
Great, I will do some tests to implement it. I think @jeremyjh have something similar in his repo, any suggestions?

[2020-02-17 06:28] #49 closed

[2020-02-20 11:06] #39 closed

[2020-02-20 14:34] C47D opened #52 "Add examples using ESP32 peripherals"
As #39 explains there are certain consideratio´n when using some ESP32 peripherals, how can we add examples using some peripherals? Maybe having the lvgl and other example projects and choosing one at configuration time?

Do you know if this is possible @jeremyjh?

[2020-02-21 14:19] jeremyjh commented on #52
There is more than one way to do it, but yeah one possibility would be to have a separate main for each example that are not added to the build files. Instead the project has a single main.c that includes the correct main file for the chose example based on those CONFIG defines, e.g.

[code]

You don't want this configuration prompt in the library because the library doesn't use the examples, but

[2020-02-26 03:58] coredump commented on #47
In a similar question:

Using menuconfig makes it almost never necessary to change stuff on the `lvgl.h` config, but still some stuff that is needed, like enabling themes and fonts.

What would be an accepted way to change those settings without having to alter the lvgl or add all the possible options to menuconfig?

[2020-02-28 00:01] C47D opened #56 "Support for ST7789 TFT Controller"
Add support for the ST7789 TFT controller, [here's ](https://forum.littlevgl.com/t/esp32-st7789-port/1772)the blog post on the forum for more info.

[2020-02-28 14:19] C47D opened #57 "Add theme and font options on menuconfig"
Add options on the menuconfig to choose theme and font, posted in the lvgl forum [here](https://forum.littlevgl.com/t/esp32-port-config/1760).

[2020-02-29 05:55] C47D commented on #50
Closed with #55

[2020-02-29 05:55] #50 closed

[2020-02-29 21:22] #56 closed

[2020-02-29 21:54] C47D opened #60 "Add driver for monochrome display"
To use OLED or any other kind of monochrome display we need to edit the `lv_conf.h` file and set `LV_COLOR_DEPTH` to 1. Also edit the `disp_flush` function.

[2020-03-02 20:07] app-z opened #62 "config dosent working"
Something wrong with config

$ ls -la
-rw-rw-r--  1 appz appz 15843 Mar  2 22:57 sdkconfig
-rw-rw-r--  1 appz appz 27199 Mar  2 22:55 sdkconfig.old

$ make menuconfig

I cant see items menu connected with Sample Littlevgl. Therefore compilation is fail:

[2020-03-02 22:02] C47D commented on #62
Hi,

How are you cloning the repository? Just tried myself and had no issues, here's what i did:
[code]

What values are you configuring `TFT display width in pixels` and `TFT display heigth in pixels`?

[2020-03-03 18:22] C47D commented on #62
Fixed with #64

![fixed_lvgl_menuconfig](https://user-images.githubusercontent.com/11037705/75806641-b0e4c580-5d49-11ea-9e64-cd01fe65be6b.PNG)

[2020-03-03 18:22] #62 closed

[2020-03-03 21:45] Djaison opened #66 "Driver ILI9488 renders only a portion of the screen"
**Describe the issue**
Hey. I place my question here, because I think that the error is due to driver ILI9488.
I ported the project to ESP32 according to the readme. I use Waveshare_ILI9486 display. After compiling and downloading, I see on the screen an incomplete picture, besides an inverted 90 degrees. Screen resolution 320x480, this parameters I save to sdkconfig, all other parameters I use th

[2020-03-03 21:49] C47D commented on #66
Hi,

Is your display using the ILI9488 or ILI9486 controller? Right now the repo only supports ILI9341, ILI9488, ST7789 and soon HX8357D. The configuration might be different from ILI9486 to ILI9488.

Have you tested your display with other libraries? Maybe using the ESP32 as Arduino, this way we can be sure the display is working properly.

Regards

[2020-03-03 22:14] Djaison commented on #66
Yes, my display still has ILI9486 controller, but I decided that it should work with the driver ILI9488, since some resources on the Internet, he is referred to as ILI9486 / ILI9488. Probably knows the exact answer ILI9488 driver developer. This display exactly working, I used it with a library from Arduino Waveshare on ArduinoMega. Thanks for the quick response!

Regards

[2020-03-03 22:21] C47D commented on #66
Ok, I will take a look at the code, last weekend i was using the ILI9488 and had no issues.

[2020-03-04 07:42] Djaison commented on #66
Pins are configured as follow
![pin_map](https://user-images.githubusercontent.com/16984697/75856167-6e2ff580-5dfc-11ea-86e2-bf7f330d4c25.png)

[2020-03-04 10:12] Djaison commented on #66
Could you provide your project sdkconfig on ili9488? I use the demo example, maybe the problem is in the wrong dma configuration?

[2020-03-04 15:53] C47D commented on #66
Maybe your repo clone is somewhat old, the repo has been renamed to lv_port_esp32.

You can get the latest repo with:
[code]

[2020-03-04 22:08] app-z opened #68 "Gamma correction issue"
Init should be like that

+        // Gamma setting.
+    st7789_send_cmd(Cmd_Positive_Gamma_Control);
+    tft_send_byte(0xd0);
+    tft_send_byte(0x00);
+    tft_send_byte(0x02);
+    tft_send_byte(0x07);
+    tft_send_byte(0x0a);
+    tft_send_byte(0x28);
+    tft_send_byte(0x32);
+    tft_send_byte(0x44);
+    tft_send_byte(0x42);
+    tft_send_byte(0x06);
+    tft_send_byte(0x0e);
+    tft_se

[2020-03-04 22:09] app-z commented on #68
+
+//
+// ST7789V commands.
+//
+enum {
+    Cmd_Software_Reset              = 0x01,
+    Cmd_Sleep_Out                   = 0x11,
+    Cmd_Partial_Mode_Off            = 0x13,
+    Cmd_Display_Inversion_Off       = 0x20,
+    Cmd_Display_Inversion_On        = 0x21,
+    Cmd_Display_Off                 = 0x28,
+    Cmd_Display_On                  = 0x29,
+    Cmd_Column_Address_Set          = 0x2a,

[2020-03-05 03:59] C47D opened #69 "Remove backlight pin from pin assignments when disabling backlight control"
Backlight control appears when control of the display backlight by using an GPIO is disabled, it shouldn't.

![imagen](https://user-images.githubusercontent.com/11037705/75946666-53449c00-5e63-11ea-83c2-d08aee55e295.png)

[2020-03-05 17:53] Djaison commented on #66
The problem is similar to the display. I use this.
![image](https://user-images.githubusercontent.com/16984697/76009992-2fe12600-5f23-11ea-9a71-7601af70c1c8.png)
Most likely the problem is spi converter, which is located on the reverse side, maybe he realizes not all the functionality. Successfully launched with other display who has a ST7789 driver. Sorry to bother you, I think the question can b

[2020-03-05 17:54] #66 closed

[2020-03-06 08:27] ndunello opened #70 "ILI9341 and XPT2046 on same SPI"
My HW connection is as follows and use use idf 4.0:
**Diplay**:

- MISO 25
- MOSI 23
- CLK 19
- CS 22
- DC 21
- RESET 18
- BACKLIGHT 5

**Touch**

- CS 32
- IRQ 33

I found a problem in xpt2046_init function in xpt2046.c file.
I modified
`.pin_bit_mask = 1UL << XPT2046_IRQ,`
to
`.pin_bit_mask = 1ULL << XPT2046_IRQ,`
however the touch does not work.
Note that I have already tested it with the esp-i

[2020-03-06 14:16] C47D commented on #70
Hi @ndunello,

Thanks for the report, I will try to replicate it later today, were you using 30cc022?. What SPI were you using?

Regards

[2020-03-06 14:49] ndunello commented on #70
Hi @C47D,
I use HSPI_HOST.
About "30cc022", forgive me, but I can't answer. how do i get it?
Yesterday I downloaded master "zip" file from the repository.

Regards

[2020-03-06 15:24] C47D commented on #70
30cc022 is the commit you're working on, if you downloaded master zip file then yes, you're using 30cc022 :), please let me test it later today and see why the touch controller isn't working.

[2020-03-07 20:48] #68 closed

[2020-03-09 13:52] C47D commented on #70
This issue is solved with 5dfc897.

I wired up the ILI9341 based display I have at hand and couldn´t make the IRQ pin signal of the touch sensor go low when I touch the screen, it only worked once and then I couldn't get it working again, do you also have this issue? Is it a known problem?

[2020-03-09 19:09] bzgec commented on #70
Same here.
In my case it only works in this sequence:
- board must be disconnected for few seconds (around 30s)
- connect the board to computer (do not touch display)
- flash new program to the board (even if there are no changes)
- everything works well

But if you reset the board or disconnect the power and than reconnect it again it works only for one click.

[2020-03-09 20:41] C47D commented on #70
Hi,

I will try your sequence, yesterday I ended up searching the problem on arduino forums and found nothing related, do you think this is an issue with the touch controller or maybe we're configuring wrong the IRQ pin on the esp32 side?

[2020-03-09 21:22] bzgec commented on #70
Commit `0de169d` works fine for me.
I am still trying to figure out what could be the cause of the problem.

[2020-03-09 22:49] C47D commented on #70
I can try bisecting until find the faulty commit.

[2020-03-09 23:59] bzgec commented on #70
I think I found the solution with the help of logic analyzer. The problem was in `tp_spi.c` file. SPI configuration was set to full duplex mode and the attempt to set it to `SPI_DEVICE_HALFDUPLEX` in `spi_transaction_t` instead in `spi_device_interface_config_t`.
The two functions i changed.
[code]
and
[code]

I noticed that `tp_spi_write_reg()` function also has this error.

[2020-03-10 05:51] C47D commented on #70
@bzgec I've added your modifications to this branch https://github.com/littlevgl/lv_port_esp32/tree/fix_70 could you test it? I didn't had time to solve the IRQ pin working only once.

[2020-03-10 07:24] bzgec commented on #70
I was too fast and made a mistake.

`t.length = byte_count * 8 + sizeof(reg);`
should be changed to
`t.length = (byte_count + sizeof(reg)) * 8;`

[2020-03-10 07:59] ndunello commented on #70
I just tried https://github.com/littlevgl/lv_port_esp32/tree/fix_70 and I can see the print of the coordinates on the console.
Now, if i touch on "Write", "List" and "Chart" tab nothing is happening. Its coordinates are (approximately in the center):
"Write":     x = 104, y = 191
"List":    x = 73, y = 188
"Chart":    x = 45, y = 190
did I make any mistakes in the configuration?
The touch display

[2020-03-10 08:13] bzgec commented on #70
I created the pull request to fix this:

`t.length = byte_count * 8 + sizeof(reg);`
should be changed to
`t.length = (byte_count + sizeof(reg)) * 8;`

On branch `fix_70`, it is working ok for me, but i did not test for shared SPI.

[2020-03-10 08:14] bzgec commented on #70
"List": x = 73, y = 188
"Chart": x = 45, y = 190
did I make any mistakes in the configuration?

I guess that you need to change `Touchpanel Configuration`.
Here is my configuration (note that i have 3.2 inch display):
![TouchpanelConfiguration_XPT2046](https://user-images.githubusercontent.com/34318921/76292058-ba70af00-62ae-11ea-8869-2324b042b079.png)

[2020-03-10 10:30] ndunello commented on #70
OK, works "almost" well.
the last problem is in partial display, as in the figure.
![2 8_240x320](https://user-images.githubusercontent.com/39989827/76303513-2c062880-62c2-11ea-845d-872402bbe466.jpg)
Display Configuration is
![2 8_240x320_TFT](https://user-images.githubusercontent.com/39989827/76303578-404a2580-62c2-11ea-9a5b-15e231faa832.jpg)
Touch Configurazion is
![2 8_240x320_Touch](https://us

[2020-03-10 12:11] pratikmokashi commented on #70
@ndunello You have wrong configuration in the display
correct setting :-
(320) TFT display width in pixels.
(240) TFT display height in pixels.

[2020-03-10 12:21] ndunello commented on #70
thank @pratikmokashi, you are perfectly right!
Now everything works fine
Thank you all

[2020-03-10 12:57] C47D commented on #70
@bzgec can you test it with shared SPI buses?

[2020-03-10 13:12] ndunello commented on #70
@C47D:
 - yes, touch working properly!
 - yes, I use same pinout as my first post (SHARED_SPI_BUS)

[2020-03-10 13:25] pratikmokashi commented on #70
@ndunello can you help me how to use the touch with this display?
And all the setting you used for it work

[2020-03-10 13:42] C47D commented on #70
@bzgec @pratikmokashi @ndunello thanks everyone for the help to close this issue :)

[2020-03-10 20:28] #70 closed

[2020-03-13 15:26] C47D opened #76 "ST7789 shows inverted colors"
Just noticed that the ST7789 displays inverted colors, will do further investigation...

![ST7789](https://user-images.githubusercontent.com/11037705/76635306-e2f5e480-650c-11ea-8518-4738ae52c822.jpeg)

[2020-03-13 15:28] C47D commented on #52
go away

[2020-03-13 16:06] kisvegabor commented on #52
I've added the pinned label to not mark it as stale.

[2020-03-13 23:34] eddeyonline opened #77 ""Install this project as a library submodule in your own project" not working"
When following instructions to add lv_port_esp32 with CMake 4.0 repeated CMake error:

-- Building ESP-IDF components for target esp32
CMake Error at C:/ESP/esp-idf/tools/cmake/build.cmake:185 (message):
  Failed to resolve component 'lvgl_tft'.
Call Stack (most recent call first):
  C:/ESP/esp-idf/tools/cmake/build.cmake:211 (__build_resolve_and_add_req)
  C:/ESP/esp-idf/tools/cmake/build.cmake:4

[2020-03-14 00:07] C47D commented on #77
Hi,

Thanks for reporting the issue, they're already added into the CMakeLists.txt in the root of the repo
[code]

Where did you added it?

[2020-03-14 01:10] eddeyonline commented on #77
It needs to be modified in the instructions in readme.md under the subheading:
"Install this project as a library submodule in your own project"

There it states:
The project root CMakeLists.txt file needs one line added, just before the project to add the extra components directory to the path like this:

#CMakeLists.txt
cmake_minimum_required(VERSION 3.5)

include($ENV{IDF_PATH}/tools/cmake/proj

[2020-03-14 01:40] C47D commented on #77
Thanks for the clarification, I will update it asap.

Maybe you can try use this as your project template, just configuring it with menuconfig and commenting out the `demo_create` line on the main.c file.

All the feedback is welcome, we been adding some TFT drivers and touch controllers but I don't have them all to test. What driver are you planning to use?

[2020-03-14 04:49] eddeyonline commented on #77
Thanks, I'll try commenting out the demo_create line and adding in my own function there.

I'm using a 2.4" 240x320 TFT with an ILI9341 display driver and XPT2046 touch driver, so pretty standard. Using the demo file it worked great. I just needed to make sure I hooked it up as per the readme.md file and deselect "invert Y axis" in menuconfig to get the demo to work perfectly. Thanks for your grea

[2020-03-14 08:53] eddeyonline commented on #77
I've been trying out a few of the apps and tutorials and have had some success with some and run into issues with others. For all of them I've used the demo template and have changed the include to the appropriate *.h file, changed the name of the function called in app_main() and adjusted the variables in lv_ex_conf as appropriate. I found the following worked fine:
- demo, with and without slide

[2020-03-14 11:39] C47D commented on #77
Thanks for the update, does the tutorial you're following need or is based on a specific version of lvgl? As far as I know the version used in this project is somewhat old. Maybe that's why some lvgl types aren't available.

[2020-03-16 08:25] #76 closed

[2020-03-16 18:39] an-erd opened #79 "Readme.md should be enhanced regarding adjustments in Makefile"
The Readme says in section [Readme.md#makefile](https://github.com/littlevgl/lv_port_esp32#makefile) to add the following line(s):

If only this directory is added, the Kconfig files in the following files are not reflected in `menuconfig`:

and thus compilation does not work.

Adding the following line works for me:

[2020-03-16 18:52] C47D commented on #77
With #80 merge you should be able to compile and run the sysmon application, I'm still trying to figure out how to run terminal and tpcal apps.

[2020-03-16 18:56] C47D commented on #79
Hi @an-erd,

You're right, the README haven't been totally updated as should be. As user what do you find the most easy way to use this project as a template for your personal project:
- By doing what you did based on the instructions of https://github.com/littlevgl/lv_port_esp32#install-this-project-as-a-library-submodule-in-your-own-project
- Deleting the demo_create function call and add your a

[2020-03-17 00:25] eddeyonline commented on #77
Thanks Carlos!

I'll give it a go :)

On Tue, 17 Mar 2020, 05:52 Carlos Diaz, <notifications@github.com> wrote:

[2020-03-17 00:54] C47D commented on #77
Sure np problem, I was testing the applications with a ST7789 based display with no touch controller so I didn't tried to run the tpcal application, but I will try with a similar display to yours next weekend (or before if my day job allows it).

I wasn't able to fully understand the terminal application, let me know if I'm wrong but I understand it as it display the data received by the microcont

[2020-03-17 10:20] Djaison opened #82 "How make rotation screen (Set portrait orientation) Driver ILI9488"
**ESP-IDF version**
last master

**Development kit used**
ESP-WROOM32

**Development machine OS**
Windows 10

Hello! How can I rotate the screen? I need to set portrait orientation.
I use display with driver ILI9488.

As I understand it, I need to change the starting coordinates of the rendering in the file ili9488.c :

`/* Column addresses  */
	uint8_t xb[] = {
	    (uint8_t) (area->x1 >> 8) & 0x

[2020-03-17 13:57] Djaison commented on #82
I made corrections to the void ili9488_init (void) function in the ili9488.с file, {ILI9488_CMD_MEMORY_ACCESS_CONTROL, {(0x20 | 0x08)}, 1} I changed it to {ILI9488_CMD_MEMORY_ACCESS_CONxRO} I can add 1 option, {Think} 1 menu} I’ll choose 1 menu}

[2020-03-17 14:25] C47D commented on #82
Hi @Djaison,

Can you try swapping the values on this config?
![lvgl_display_size](https://user-images.githubusercontent.com/11037705/76865699-b9003300-6828-11ea-8db7-a653d7bc1d7b.PNG)

If that doesn't work i can add an option to the menuconfig as you've suggested.

Offtopic: Your interface looks really cool :)

[2020-03-17 15:28] Djaison commented on #82
it does not work :)

now it looks like this

![1584452436019](https://user-images.githubusercontent.com/16984697/76872137-add2f480-6874-11ea-8152-f719bd104a63.JPEG)

[2020-03-17 16:01] C47D commented on #82
Ok, I will try to add an option to set the display on portrait mode from the menuconfig, but it will be later today.

[2020-03-17 17:39] an-erd commented on #82
It would be good to add this option for the ILI9341, too. I just worked on this today and found that for the M5Stack Fire in the file `externals\lv_port_esp32\components\lvgl_esp32_drivers\lvgl_tft\ili9341.c` writing 0x08 (instead of 0x68) to 0x36 worked for . With this the display shows in landscape, with the buttons on the bottom. I used this code:

Value taken from ILI9341 datasheet, section 8.

[2020-03-17 17:49] an-erd commented on #79
Hi, sorry I missed the point in #77. Please see my comment in #81,

[2020-03-17 18:13] an-erd commented on #79
I'm using ESP-IDF with LittlevGL as a submodule, so your first option. I was asking why you put this in externals and not components? In components I've all other submodules, so if there's not a reason for that I'd propose to move to submodules.

So far with the above adjustment in the  makefile it's working pretty good, integration was very easy and straightforward. I currently only have a M5Stac

[2020-03-17 18:17] C47D commented on #82
Sure, I will add it later today, I'm at work right now.

[2020-03-17 18:31] C47D commented on #79
I haven't updated the README as I should, should it be?

components/lvgl_esp32_drivers/lvgl_tft\

If you see any other misleading thing on the README please comment it on the README, let get it up to date :)

[2020-03-18 15:24] C47D commented on #79
@an-erd Fixed in my side, let me know if it works for you.

[2020-03-19 13:06] C47D commented on #77
@eddeyonline just updated the instructions on the README about using this repo on user projects, let me know if it works for you.

[2020-03-19 13:24] Djaison commented on #82
I was able to configure the touch to the portrait orientation should also change the default settings in menuconfig, the operating settings such:
![22](https://user-images.githubusercontent.com/16984697/77071171-a3436700-69fc-11ea-88bd-1e123934acb1.png)

P.S. Touch driver is a FT6236

[2020-03-19 13:44] C47D commented on #82
It looks really nice :)

We can add a note for that on the README, I don't know if it can be done automagically based on the display orientation.

[2020-03-19 16:42] Djaison commented on #82
it can be added to menuсonfig as a function of the orientation of the display, and later I will be able to provide it after checking

[2020-03-23 13:50] C47D commented on #69
Fixed with 404c4a1

[2020-03-23 13:50] #69 closed

[2020-03-24 09:04] Mair opened #85 "Install this project as a library submodule breaks build"
**Describe the issue**
[this commit](https://github.com/littlevgl/lv_port_esp32/commit/daa381851844123db770bc4402ab9b2058aff389#diff-04c6e90faac2675aa89e2176d2eec7d8) changed instructions on adding the library into the components folder as aposed to an external directory. Following these instructions breaks the build

## to reproduce...
1. create a new esp-idf project
[code]
2. try to build
[code]

[2020-03-24 14:15] C47D commented on #85
Hi @Mair,

Thanks for the detailed report, I was able to reproduce the issue and did a quick fix. The source of the issue was that I forgot to add a note about the CMakeLists.txt on the lv_port_esp32 repo and also a typo in the main/CMakeLists.txt on your repo.

Here are the fixes, please let me know if it works for you so I can send a pull request to fix it.

Your application main/CMakeList.txt s

[2020-03-24 19:55] C47D opened #88 "Set rotation of display on menuconfig"
The rotation of the display should be available for all supported displays.

[2020-03-24 20:20] Mair commented on #85
@C47D Legend!

[code]

Fixed this for me. Thanks!

[2020-03-24 20:29] C47D commented on #85
Can you test this?

[code]

[2020-03-24 20:35] Mair commented on #85
In my case the above  compiles

[2020-03-24 20:45] C47D commented on #85
Ok, I will update the README with the following info
[code]

Thanks for testing it tho, I will close the issue.

Regards

[2020-03-24 20:45] #85 closed

[2020-03-24 20:51] Mair commented on #85
@C47D Just something to note...
ESP-IDF *should* automatically include all assets in the components folder which will make the cmakelits.txt file simpler. I'll test it out and let you know

[2020-03-24 21:11] Mair commented on #85
I was kind of hoping to get away with something like
[code]
and for main
[code]
But due to the nested components folder the includes don't get picked up :(.  In any case happy to go with the above solution,
Thanks again

[2020-03-24 21:12] C47D commented on #85
Thanks for trying, I've just updated the README with the workaround.

[2020-03-25 05:32] #47 closed

[2020-03-31 14:49] ndunello opened #90 "Driver for 3.5inch RPi Display (MPI3501)"
I developed and tested driver for the tft [MPI3501](http://www.lcdwiki.com/3.5inch_RPi_Display).
It's based on ILI9486 with custom circuit to convert 3-line SPI to 16-bit parallel. Touch controller is XPT2046.

Can I release it? If yes, how to proceed?

**ESP32 Chip version: ESP32D0WDQ6 (revision 1)**

**ESP-IDF version: 4.0**

**Development kit used: DevKitC**

**Development machine OS: Windows 1

[2020-03-31 17:41] C47D commented on #90
Hi,

Great, I should add a contribution guide to add support for drivers, it's a easy but laborious process.
I think is best if we add the support for the ILI9486 controller and add the MPI3501 as predefined display, what do you think?

To do so:
1. In `components/lvgl_esp32_drivers/lvgl_tft/` copy `ili9341.h` and rename it after the display controller, so `ili9486.h`, replace the text `ILI9341` w

[2020-03-31 18:24] ndunello commented on #90
Hi @C47D,
thank you very much for the detailed explanation.
I had already made the changes you indicated.
This is the output of the **git status** command:
[code]
Also I created _mpi3501.c_ and _mpi3501.h_ in _components\lvgl_esp32_drivers\lvgl_tft_ directory.
So I wanted to know how to publish the changes for the community. I'm novice with the git :-(
Do I have to send you an email with the patch

[2020-03-31 20:33] C47D commented on #90
I can help you to create a pull request if you want, or if you prefer you can send me your files, my mail is in my user main page.

To create a pull request:
you need to move those changes into a new branch, go to where youre working on, then create a new branch:

[code]

Then remove the sdkconfig from the staging area:
[code]

Add the new created files:
[code]

Do a commit:
[code]

Then push the

[2020-04-01 08:24] ndunello commented on #90
I tried with the pull request, but the last command fails!
[code]
I sent you an email with the patch of the modified files and the new files.
Thanks

[2020-04-01 12:50] C47D commented on #90
Hi,

Just checked my email and I don't see your email, did you sent the email to carlos.santiago.diaz@gmail.com?

[2020-04-01 13:49] embeddedt commented on #90
@ndunello You tried to push to https://github.com/littlevgl/lv_port_esp32 (which you don't have write access to). You need to fork that repository, clone the fork, and apply your changes there.

Here's the [blog post](https://blog.littlevgl.com/2018-12-06/contributing#how-can-i-send-fixes-and-improvements) we routinely link to for the main LittlevGL repository. The process is basically identical e

[2020-04-01 21:27] #90 closed

[2020-04-02 08:08] ndunello commented on #90
the pins that I used for the connection are the following (shared spi):
**display**

- MISO 19
- MOSI 23
- CLK 18
- CS 15
- DC 2
- RST 4

**touch**

- MISO 19
- MOSI 23
- CLK 18
- CS 22
- IRQ 25

![MPI3501_lvgl](https://user-images.githubusercontent.com/39989827/78224711-4c905f80-74c9-11ea-88e2-9233800cc962.JPEG)

the display maybe has some problems
![MPI3501_detail](https://user-images.githubuser

[2020-04-02 16:55] C47D commented on #90
Thanks for the information @ndunello, I will update the README with it :)

[2020-04-04 10:36] eddeyonline opened #92 "Display flickers when ESP32 is in AP mode"
I've noticed a consistent issue with the display flickering when the ESP32 is in AP or APSTA mode. I'm using a 240x320 2.4" TFT LCD from AliExpress with ILI9341 display driver and XPT2046 touch driver. The display works perfectly when wifi is not enabled or when the ESP32 is connected in STA mode. As soon as it is in AP or APSTA mode, without changing any other factors or connecting to the AP, the

[2020-04-04 14:30] C47D commented on #92
Could you upload some code to replicate it?

[2020-04-05 05:38] eddeyonline commented on #92
/* LVGL Example project
 *
 * Basic project to test LVGL on ESP32 based projects.
 *
 * This example code is in the Public Domain (or CC0 licensed, at your option.)
 *
 * Unless required by applicable law or agreed to in writing, this
 * software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
 * CONDITIONS OF ANY KIND, either express or implied.
 */

// Change whether AP or STA mode wit

[2020-04-05 05:39] eddeyonline commented on #92
That didn't format too well! I'll just email you Carlos.

[2020-04-05 16:06] C47D commented on #92
Could you create a repo with it?

[2020-04-05 21:16] eddeyonline commented on #92
I've never done that before, but I'll give it a go!

On Mon, 6 Apr 2020, 02:06 Carlos Diaz, <notifications@github.com> wrote:

[2020-04-05 23:27] C47D opened #93 "Menuconfig improvements"
There's a lot of room for improvements to make this reference project easier to use.

**Display/touch controller configuration:**

- [x] Display pins configuration must be independent of the bus used to communicate with the display controller, I2C, SPI, etc. So if a SPI bus is used the pins to configure must be MOSI, MISO, SCLK and /SS, if I2C bus is used only SDA and SCL must be available. Fixed

[2020-04-10 12:22] eddeyonline commented on #92
Repo:
https://github.com/eddeyonline/lv_port_esp32_flickering.git

[2020-04-11 04:15] C47D commented on #92
Thanks for the repo @eddeyonline, I will take a look at it.

[2020-04-12 20:55] KammutierSpule commented on #92
Is the flickering brightness change (a possible hardware power supply issue) or pixel filling flickering?

[2020-04-13 13:15] #79 closed

[2020-04-14 07:56] benton-anderson opened #96 "Menuconfig does not give HSPI/VSPI option for TFT"
Latest update no longer includes option to set SPI port in Menuconfig for TFT controller. After saving Menuconfig, lvgl_spi_conf.h shows that both defines for `TFT_SPI_HOST` and `TOUCH_SPI_HOST` expand to `VSPI_HOST`

When running the demo.h from the main.c example I get the following printed to serial.

[code]

The TFT screen flickers white and resets within 1 second. The above message is printed

[2020-04-14 08:06] benton-anderson commented on #96
Can confirm that the `main.c` example works after modifying `disp_spi.c` to replace `TFT_SPI_HOST` with `1` at the following lines:

[code]

[2020-04-14 13:35] C47D commented on #96
Thanks for the report, can you try using this branch? https://github.com/littlevgl/lv_port_esp32/tree/restore_spi_bus_option
The menuconfig now shows the SPI Bus selection option, but I have no hardware to test it until later today.

[2020-04-14 19:33] benton-anderson commented on #96
Yes, Menuconfig works and the demo works too. Thank you.

[2020-04-14 19:33] #96 closed

[2020-04-14 19:41] C47D commented on #96
No problem, I will update the master branch with the fix. Thanks for testing it.

[2020-04-14 22:05] C47D commented on #88
Supported in ILI9341 and ST7789 so far.

[2020-04-17 02:47] #82 closed

[2020-04-17 02:47] #77 closed

[2020-04-19 02:48] C47D opened #100 "[Wrover Kit v4.1] The display doesn't display anything when the SD Card is inserted."
_When the SD Card is inserted into the SD Card holder of the Wrover Kit v4.1, the display doesn't show anything._

This is because the Card Detect (CD) signal is connected to the IO_21 pin, R168 is pulling the IO_21 pin high (to VDD33) and R167 is connected in series between the CD signal and IO_21.
IO_21 is also connected to the D/C signal of the display, so the display D/C pin always gets a logi

[2020-04-19 02:48] #100 closed

[2020-04-21 19:39] C47D opened #101 "Port to LVGL v7.0"
List of necessary changes:

- [x] Update lvgl submodule.
- [x] Update lvgl example submodule.
- [x] Update lvgl configuration file.

[2020-04-21 20:29] kisvegabor commented on #101
It's in `dev-7.0` branch

It's in `rework-7` branch

It'd be best to create a new one based on `lv_conf_templ.h` in `dev-7.0`.

Could you make a build test to see if there are any serious issues?

[2020-04-22 15:15] C47D commented on #101
I will do the tests here: https://github.com/C47D/lv_port_esp32_v7
Once we get it working I will update this repo

[2020-04-23 05:20] C47D commented on #101
First teaser, still some work to do i think

![lvgl_v7](https://user-images.githubusercontent.com/11037705/80061982-443fa900-84f8-11ea-866d-4c8eef757854.jpeg)

[2020-04-23 06:09] kisvegabor commented on #101
What is the size and resolution of the display and LV_DPI?

[2020-04-23 15:24] C47D commented on #101
Size of the screen is 320*240, LV_DPI is 100.

![lvgl_v7_2](https://user-images.githubusercontent.com/11037705/80117282-9c07ff80-854c-11ea-822e-f741f36632cd.jpeg)

[2020-04-23 17:53] kisvegabor commented on #101
The demo recognizes if it's a small, medium, large or extra large display and sets the layouts accordingly. This display should have been recognized as small.
What is the size of the display (in inches). We can calculate the real DPI from it.

Besides, please modify `LV_DISP_SMALL_LIMIT` to `25` in `lv_conf.h`.

[2020-04-23 18:47] C47D commented on #101
The LCD size is 3.2" (inches), ok I will modify `LV_DISP_SMALL_LIMIT` to 25 and upload a pic.

[2020-04-23 19:10] kisvegabor commented on #101
So the actual DPI is: `sqrt(320^2 + 240^2) / 3.2 = 125.
And width of the display is 320/125 = 2.56".

If you set to `LV_DISP_SMALL_LIMIT` to 25 lvgl will consider > 2.5" display as medium-sized and create this ugly layout.  So please set it to `30` (3.0") instead of `25`.

[2020-04-23 19:36] C47D commented on #101
Much better

![lvgl_v7_3_landscape](https://user-images.githubusercontent.com/11037705/80141847-d0d97e00-856f-11ea-8a3d-0f87ff74fdca.jpeg)

[2020-04-23 19:39] kisvegabor commented on #101
Awesome, thank you!
I'll recalculate the default size limits.

You can enable `LV_USE_PERF_MONITOR` in `lv_conf.h` to see the current FPS and CPU usage.

[2020-04-23 20:43] C47D commented on #101
I'm getting 33FPS, with CPU from 18% to 28% and peaks of 34%.

[2020-04-23 20:44] embeddedt commented on #101
@C47D I'm curious; what FPS do you get at the moment when you scroll past the gauges in the Values tab? I'd like to compare with what I see on STM32F7 (I get 14-18 FPS while scrolling; it increases after that).

[2020-04-23 20:58] C47D commented on #101
Hi @embeddedt, this particular display doesn't have a touch controller, I will try to setup another display to measure the FPS values you've requested.

[2020-04-24 08:06] kisvegabor commented on #101
@C47D I've modified the demo in [test/no-tp](https://github.com/littlevgl/lv_examples/tree/test/no-tp) branch. It changes between the tabs automatically and shows the gauges on the second tab.

[2020-04-24 14:19] C47D commented on #101
Hi, I took a video of the demo using the test/no-tp branch.

https://youtu.be/BJv-vr03RsM

[2020-04-24 14:47] kisvegabor commented on #101
Thank you!

There is still huge FPS drop when the gauge is fully redrawn. At least refreshing the needle only is not that bad.

I have a few questions:
- What is the size of the display buffer?
- Do you use 2 buffers with DMA in `flush_cb`?
- Have you enabled `-Os` or `-O3` optimization?

[2020-04-24 16:06] C47D commented on #101
Hi, I'm not at home right now I will update my reply with the data you requested.

I had an issue with the demo, the demo stopped working after some minutes and the screen is stuck, I have tried to replicate the issue but it stopped at different times. I will try to add the log functions to lvgl so I can know when it stops.

[2020-04-24 16:15] embeddedt commented on #101
I also saw this happen once on my STM32F7, but I didn't have time to investigate further. It was a few days ago.

[2020-04-24 17:39] C47D commented on #101
Added some printf debugging points to see where the display is getting stuck and I can't replicate the issue, the demo has been running for almost an hour, but noticed that the `lv_tick_task` is still running.

There's also a new issue on the lvgl repo which uses the same dev board as me and doesn't report the issue [Dev-7.0 performance experiments](https://github.com/littlevgl/lvgl/issues/1471)

[2020-04-24 17:39] kisvegabor commented on #101
I also saw the freeze but I thought it's a bug in my hacky display driver. I've already debuged that it stops on a `while(vdb->flushing);` I still don't know if `lv_disp_flush_ready` is not called or it's called  but as it is called from an interrupt (for all of us) it might mess up things somehow. I mean some assembly level you-never-find-it bug.

I suspect the latest because `while(vdb->flushing

[2020-04-24 17:41] kisvegabor commented on #101
I suggest running the `lv_demo_stress()` which makes much more drawing.

[2020-04-24 17:41] embeddedt commented on #101
I call `lv_disp_flush_ready` directly from the `flush_cb` function, so it can't be entirely an interrupt-related issue.

[2020-04-24 17:46] kisvegabor commented on #101
Ah, good to know. I thought you are using the DMA based `flush_cb`.

[2020-04-24 18:19] C47D commented on #101
I call `lv_disp_flush_ready` from a callback when the SPI finished transferring the data via DMA.

[2020-04-24 18:23] C47D commented on #60
There's a display driver for the SSD1306 chip.

[2020-04-24 18:48] C47D commented on #101
@kisvegabor Do you know if it's possible to get a backtrace when the application is stuck? I'm searching some tutorials to debug the esp32 chip with gdb.

[2020-04-24 18:53] embeddedt commented on #101
If you have debug symbols available and can attach to the device with GDB after it's already running, you should be able to interrupt execution, type `bt`, and get a decently usable backtrace.

[2020-04-24 19:11] kisvegabor commented on #101
It seems @embeddedt knows it much better than me :slightly_frowning_face:

---

I added some debug code and will run the stress demo all night, and hopefully it'll freeze.

[2020-04-24 20:09] kisvegabor commented on #101
I think I found the issue but the picture is not perfect yet.

[These](https://github.com/littlevgl/lvgl/blob/4502d7a879c6bd0050c650e525eb3e96ff957a4b/src/lv_hal/lv_hal_disp.h#L55-L58) are the interesting parts of `lv_disp_buf_t`. So there are 4 bits next to each other. When going to the next part to refresh lvgl might write the last 3 fields. So what I suspect is:
1. When e.g. `last_area` is set,

[2020-04-24 22:20] C47D commented on #101
Thanks for the explanation @kisvegabor, I've set the tools to be able to debug the demo-application (I'm still using the demo-widgets app), I'm running it with gdb so I can backtrace when the application gets stuck.

The "problem" I see is that I we don't know how much time it will take to the application to stall, so how much time should we run the application with the fix to be sure it worked as

[2020-04-24 22:42] embeddedt commented on #101
100% sure. I don't have access to interrupts in the context that LittlevGL runs in. My setup is a bit unique so it's quite possible that the issue isn't within LittlevGL (although I didn't experience this with 6.1 or earlier snapshots of 7.0).

We have several weeks before release, so I'm pretty sure one of us will run into the issue if it's still present. I'd say let it run for a few hours and if

[2020-04-25 00:43] C47D commented on #101
@kisvegabor I've fixed an error on the lv_examples repo that I found when trying to run the stress demo, I sent a pull request to that repo.

Is this the expected behavior of the demo? https://youtu.be/7goD6lRqTLc

[2020-04-25 00:44] embeddedt commented on #101
I think that's what it's supposed to look like - the idea is that it randomly creates and moves a bunch of objects around to try and trigger weird bugs like this one.

I've had `lv_demo_widgets` running for a few hours now - it hasn't crashed. I think I can safely say the freeze is gone for me.

[2020-04-25 01:11] C47D commented on #101
I also haven't hit the bug again, I will leave the demo running overnight.

You guys know lvgl better than I do, is there any particular reason why `flushing` and `flushing_last` are ints instead of uint32_t?

[2020-04-25 05:46] kisvegabor commented on #101
Is this the expected behavior of the demo? https://youtu.be/7goD6lRqTLc

Thank you for the PR. Yes, it should look something like this. You can increase `TIME_STEP` in `lv_demo_stress.c` (e.g. to 200) to see more.

It was running for me for more than 8 hours. So it really seems to be solved. :tada:

Okay, let's turn back to the original topic: v7 on ESP.
@C47D seemingly it's running well on ESP. I

[2020-04-25 15:15] barbiani commented on #101
@C47D

actually you  [can](https://www.esp32.com/viewtopic.php?f=13&t=9160&p=38216#p38216) or use [https://visualgdb.com/](https://visualgdb.com/)

[2020-04-25 17:00] C47D commented on #101
Hi @kisvegabor,

- What is the size of the display buffer?
For this particular display is `LV_HOR_RES_MAX * 40`, so 320 * 40 bytes, 12.5KBytes.

- Do you use 2 buffers with DMA in flush_cb?
This is the `flush_cb` of the display driver available on my dev kit:
https://github.com/littlevgl/lv_port_esp32/blob/d124fe22a99580c47b7e45f449faf028390d4353/components/lvgl_esp32_drivers/lvgl_tft/ili9341.c#L1

[2020-04-25 17:02] embeddedt commented on #101
Can you try it with `-Og` and see what happens? That should already be an improvement over no optimization.

[2020-04-25 18:13] C47D commented on #101
@embeddedt the project is being compiled with - 0g, I can try the other options tho if you want me to.

[2020-04-25 18:29] kisvegabor commented on #101
@C47D
Just a minor correction: one buffer has 320*40*2 byte = 25 kB (because there is 2 bytes/pixel)

Could you try `-O2` and `-Os` too?

[2020-04-25 18:47] kisvegabor commented on #101
I usually don't use `-Og` so tested how it compares to others on my STM32F7 dev board:
[code]
So hopefully you also will see ~50% performance boost.

[2020-04-25 19:59] barbiani commented on #101
@C47D

Did you do anything do add the -O2 setting? Mine shows only debug amd release.

[2020-04-25 20:02] C47D commented on #101
@barbiani I'm using the master branch of the esp-idf, maybe is because of that.

[2020-04-25 21:30] C47D commented on #101
@kisvegabor this is the demo stress compiled with -02

https://youtu.be/lTgXsJjYHk8

[2020-04-25 21:52] C47D commented on #101
Thanks for the information @barbiani, I ended up running openocd on the Windows prompt and gdb on WSL, but I had to change the drivers for the FTDI chip on windows to be able to connect openocd to it.
I debugged the application and it ran for about 5 hours with no issues, so i think the patch @kisvegabor did worked.

[2020-04-25 22:24] barbiani commented on #101
While writing a touch driver I have found that lvgl crashes with touches
outside of the screen. Meaning coordinates bigger than x and y resolutions.

On Sat, Apr 25, 2020, 18:52 Carlos Diaz <notifications@github.com> wrote:

[2020-04-25 22:59] persello opened #103 "ILI9488 build error"
**Describe the issue**
Error when compiling and ILI9488 is selected.

**Code to reproduce the issue**
Clone the repository, enter the menuconfig, set ILI9488 as the display driver and 480x320 resolution. Set the bus to HSPI.

**Expected Results**
The example compiles and runs.

**Actual Results**
idf.py flash fails.

NOTE: With the same settings, but ILI9341 selected instead of ILI9488, the build

[2020-04-26 04:43] C47D commented on #103
Thanks for the report @persello I will take a look at it.

[2020-04-26 08:12] kisvegabor commented on #101
Awesome! :slightly_smiling_face:

outside of the screen. Meaning coordinates bigger than x and y resolutions.

I'll check it!

[2020-04-26 08:19] kisvegabor commented on #101
outside of the screen. Meaning coordinates bigger than x and y resolutions.

Should work now.

[2020-04-26 09:00] kisvegabor commented on #101
@C47D

It seems to me it's quite the same FPS as `-Og`.

Sending 320 * 240 * 16bit with 40 MHz takes 30 ms (33 FPS) so it should not be a limiting factor (as it happens in parallel with rendering). However, a 200 MHz MCU should be much faster with a 320x240 TFT. It'd be awesome to see how does it look on an oscilloscope to send an empty screen to the driver (CLK would be enough). I know it needs m

[2020-04-26 11:50] persello commented on #103
It works, thanks!

[2020-04-26 11:50] #103 closed

[2020-04-26 17:27] C47D commented on #101
@kisvegabor, sorry if i say something silly but, aren't we limited by the spi clock and not the cpu clock?

I don't have an oscilloscope at home to test it :/, I'm going to the office until next Wednesday so i can test it until then, seems like i need a better logic analyzer :)

Regards

[2020-04-26 17:54] kisvegabor commented on #101
From the quick calculation above, we can see that it takes only 30 ms the send a full screen image. So, it limits the FPS to 33. If data sending to the display happens in the background (using DMA) the MCU is free to deal with rendering. If rendering takes < 30 ms we are still limited by the SPI clock speed, but the limit is still at 33 FPS. So is we see 16 FPS it means rendering took 60 ms. Which

[2020-04-26 17:59] KammutierSpule opened #105 "cannot build disp_driver.c"
**Describe the issue**

Cannot build

**Compilation warnings/errors (if available)**
../components/lvgl_esp32_drivers/lvgl_tft/disp_driver.c:20:5: error: implicit declaration of function 'ili9341_init';

It looks it is adding this file and it shouldn't? because disp_driver.c is inline included in lvgl_driver.c

[2020-04-26 18:05] KammutierSpule opened #106 "cannot build LV_HOR_RES_MAX and LV_VER_RES_MAX must be greater than 0"
**Describe the issue**

I'm trying to build V7 it used to work but with some of new updates it now cannot build and gives this error

**Code to reproduce the issue**
Using dev-7.0 of lvgl

**Compilation warnings/errors (if available)**

`../components/lvgl/lvgl/src/lv_widgets/../lv_core/lv_obj.h:39:2: error: #error "LittlevGL: LV_HOR_RES_MAX and LV_VER_RES_MAX must be greater than 0"
`

[2020-04-26 18:11] C47D commented on #105
Hi,

Are you selecting a predefined display configuration on the menuconfig or selecting every option by yourself? I'm working with the Wrover Kit v4.1 preconfiguration (it have the ILI9341 display controller) and i can't reproduce the issue.

[2020-04-26 18:13] C47D commented on #101
Thanks for the explanation @kisvegabor, I'm compiling the widgets demo with -O2, will upload the video asap.

[2020-04-26 18:15] C47D commented on #106
Hi,

I also had that issue when trying to run lvgl v7, can you try using this repo? https://github.com/C47D/lv_port_esp32_v7 , once we figure out some issues I will import the changes to here.

[2020-04-26 18:31] KammutierSpule commented on #105
I'm assigning the PINs myself on the "Display Pin Assignments"
The predefined options are set to "None"
but I should note that CONFIG_LVGL_TFT_DISPLAY_CONTROLLER_ILI9341 is set
so this issues is because that .c file is included and there is no include to this define.
but I think thats ok because it should be excluded from the build list? ..

[2020-04-26 18:44] KammutierSpule commented on #106
I found the issue, It was my fault! I deleted by mistake the includes that are need to this esp32 port in the config.h

[2020-04-26 18:44] #106 closed

[2020-04-26 18:44] KammutierSpule commented on #105
I found the issue, It was my fault! I deleted by mistake the includes that are need to this esp32 port in the config.h

[2020-04-26 18:44] #105 closed

[2020-04-26 19:10] C47D commented on #105
Don't worry, happy to know you solved it.

[2020-04-26 19:10] C47D commented on #106
No problem, please let me know if you have any more issues.

[2020-04-26 20:54] C47D commented on #101
Here's the video for demo widgets compiled with -O2 https://youtu.be/6FWhe9Ovd6k

[2020-04-26 21:10] KammutierSpule commented on #106
Thanks I'm now using this repo!

[2020-04-27 00:09] eddeyonline commented on #92
I don't think it's a power issue as changing power supply doesn't make a difference and it doesn't flicker when under load in STA mode.
I've just switched from using VSPI to HSPI to see if that made a difference but the issue is the same.
I've tried videoing the display in the two different modes to demonstrate the issue, but the flickering isn't apparent on the video.
Is anyone else noting this i

[2020-04-27 07:29] kisvegabor commented on #101
@C47D Thank you for the video. It still looks quite the same FPS as with `-Og`. :(

I'm looking forward to seeing the oscilloscope measurement on Wednesday! :)

[2020-04-27 11:57] kisvegabor commented on #101
@C47D
I've added some minor fixes to `lv_demo_bechmark`.
Could you try it and share a photo/video about the summary screen at the end?

[2020-04-27 12:08] embeddedt commented on #101
I ran `lv_demo_benchmark` on STM32F746 (without the GPU). This looks like a really great tool. Here's the results I'm seeing. For brevity I'm only including the ones that either stuttered visually or have poor FPS numbers.

* Small/medium text - 18 FPS
* Shadows -  ~15 FPS when small, ~11 FPS when an offset is added, <7 FPS when they're large. They seem to be very taxing.
* Image (A)RGB rotate/zoo

[2020-04-27 12:25] embeddedt commented on #101
I should have mentioned before that all of my tests thus far without GPU are done with a custom driver that does direct copies to the framebuffer in `flush_cb`, and not with the official TFT driver, which uses standard DMA in `flush_cb`. I only use the official TFT driver to test with the GPU.

Results with the official TFT driver (GPU enabled):

* "Opa speed" increased from 79% to 91%.
* All unco

[2020-04-27 13:23] kisvegabor commented on #101
@embeddedt
It'd be interesting to measure with `speed/gpu` branch and enable `LV_USE_GPU_STM32_DMA2D` to use the builtin GPU support.

I've added `LV_SHADOW_CACHE_SIZE` to `lv_conf.h` to speed up shadow drawing. You should set it to 10000.

In general, it's strange that I see 2-3 times better FPS on STM32F769 which is quite the same MCU.
- Still disabled caching? (It'd explain the slowness)
- What

[2020-04-27 13:32] embeddedt commented on #101
Will do.

Yes; that's probably why it's so slow (although I would hope that it can perform reasonably even without the cache).

I'm using `-Og` at the moment.

Always. :slightly_smiling_face:

Thanks for checking that. I had forgotten to increase the size in the demo project, so it's currently at about 1/27th of the display size. We're probably losing a lot of performance to all the style calculat

[2020-04-27 14:10] C47D commented on #101
@kisvegabor @embeddedt how often should I call `lv_tick_inc`? Right now it's called every 10ms.

[2020-04-27 15:34] kisvegabor commented on #101
In general, it shouldn't matter too much, however it's better to keep below 5 ms for higher precision.

In this case, when lvgl needs to measure 10-100 ms (the rendering time) the 10 ms tick resolution can cause some measurement error. E.g. if the real rendering time is 45 ms (22.2  FPS), lvgl can measure i as 40 ms (25 FPS) or 50 ms (20 FPS).

[2020-04-27 15:37] kisvegabor commented on #101
@embeddedt

 I forget t answer it: "Image RGB renders at a surprising 173 FPS. Is this possible?"

Yes, it's possible because the benchmark measures the rendering time and calculates the FPS from it. So if something was rendered in 10 ms, it will be displayed as 100 FPS. Although, the real FPS is limited by `LV_DISP_REFR_INTERVAL`. The performance monitor (right bottom corner) takes this limit int

[2020-04-28 04:13] barbiani commented on #101
I was also updating the esp32 port to dev-7.0 and today I added an adc touch driver to my wrover kit [here](https://github.com/barbiani/lv_port_esp32/blob/master/components/lvgl_esp32_drivers/lvgl_touch/adcraw.c)

Just bought a cheap touch panel and hooked up to some gpios. Works quite well and has stable readings.

![image](https://user-images.githubusercontent.com/7387556/80446405-23f35e00-88ed-

[2020-04-28 13:17] C47D commented on #101
@barbiani I didn't knew that was possible, it's nice to know is worked quite well.

[2020-04-28 20:35] barbiani commented on #101
Here are two measurements of the MOSI line.

Visuals tab of lv_demo_widgets with LV_INDEV_DEF_READ_PERIOD and LV_DISP_DEF_REFR_PERIOD set to 15. So 66FPS.
Compiler flag -Os
TFT SPI at 60Mhz
Cores at 240Mhz
Flash SPI at 80Mhz

Gauge animating in the middle of the page:
![20200428_172612](https://user-images.githubusercontent.com/7387556/80534805-39609a80-8976-11ea-8a1c-0145facfa838.jpg)

Gauge anim

[2020-04-28 20:38] C47D commented on #101
Does every horizontal division is 20ms?

[2020-04-28 20:43] barbiani commented on #101
Correct.

[2020-04-28 21:46] kisvegabor commented on #101
Thank you @barbiani!

I suppose there were ~10 FPS (100 ms/frame) while scrolling.
There is one thing I don't understand. One "burst" on the trace is ~ 10 ms wide. And there is 20 ms between the start of the bursts. If you also have a 320x240 display with 40 lines of buffer (1/6 display) it makes sense because  20 ms x 5 = 100 ms (x5 instead of x6 because the top is not refreshed). So one burst sh

[2020-04-28 22:25] barbiani commented on #101
It shows 16 to 20 fps scrolling the animated gauge.

Here is a better view of the clock line. Shows 2 buffer updates taking roughly 10ms.

![image](https://user-images.githubusercontent.com/7387556/80543160-babf2980-8984-11ea-9f69-de6d4cb2c3ed.png)

I have two SPI options set in the sdk:

[code]

I do not think that going further is worth the trouble. The performance is good. Unless the SPI driver

[2020-04-29 07:13] kisvegabor commented on #101
@barbiani
Wow, that's really impressive!

The 10 ms update time is measured on the scrolling gauge?

I'm really curious about the performance impact of placing critical function to IRAM so I added  `LV_ATTRIBUTE_FAST_MEM` to `lv_conf.h`. Could you try the speed with `#define LV_ATTRIBUTE_FAST_MEM IRAM_ATTR`?

[2020-04-29 13:46] C47D commented on #101
@barbiani  Can you try with this changes, polling `disp_spi_is_busy` is done inside `disp_spi_send_data` already so i think it's not necessary to poll for it in the `ili9341_send_cmd` function.

I don't know if it's possible to send everything in one transaction (setting /CS low, sending all the commands and data and setting /CS high again) we would need to check the driver datasheet for it.

Anot

[2020-04-29 14:21] barbiani commented on #101
I can not tell anymore. Need better measurement setup as a possible speed up is small to see.
Getting 33 fps scrolling the gauge (~15ms to send the two buffers).
Average under 1mS to update the needle.

[2020-04-29 14:25] barbiani commented on #101
@C47D

I was thinking that we could avoid going through the queues during the buffer setup code. 100us (for just a few bytes) per transfer is lost in these sections.

[2020-04-29 14:27] C47D commented on #101
Yep, we can avoid them, can you add the code for that on `disp_spi_send_data`?

[2020-04-29 18:36] C47D commented on #101
Can you take a video of it?

Does the time it takes to get stuck consistent?
This also happen when there's no automatic slide of the tabs?

This issue happened before, and there was a fix for it (13dd42fd0bb61fc65a6d317e093436e76be59967) but you need to make sure both lvgl and lv_examples submodules are updated.

If the submodules are not updated you can try:
Go to components/lv_examples/lv_exampl

[2020-04-29 19:01] embeddedt commented on #101
I believe it should be `origin/rework-7` not `origin/rework`.

[2020-04-29 19:08] C47D commented on #101
I think the last cherry picked commit on lv_example was merged into rework.

[2020-04-29 19:16] kisvegabor commented on #101
@barbiani

Getting 33 fps scrolling the gauge (~15ms to send the two buffers).
Average under 1mS to update the needle.

I video would be really great. If you set `LV_DISP_DEF_REFR_PERIOD 10` the max FPS will be limited at 100, so will the changes better.

FreeRTOS's tick should be also set to a lower value (2-3 ms?),or move `lv_tick inc()` to a 1 ms timer. It will give more precision on FPS measur

[2020-04-29 19:33] C47D commented on #101
Yep, it is rework-7, sorry about the confussion, i'm at work and have to finish a prototype tomorrow 😄

[2020-04-29 21:40] X-Ryl669 commented on #60
Any plan for SSD1327 ?

[2020-04-29 21:46] barbiani commented on #101
It seems that the animation tries to go past the page bottom... it can not, but still wants to refresh it.

[1](https://youtu.be/oLnLNm1tuuk) and [2](https://youtu.be/PIla5gmiwz8)

[2020-04-29 23:38] C47D commented on #60
@X-Ryl669 Not at the moment, I don't have any display with that driver, there's support for the SSD1306, if it's similar we can get SSD1327 working.

Do you have any display with that driver?

[2020-04-30 08:18] X-Ryl669 commented on #60
Yes, it's very similar. It's 128x128, 4 bits per pixel (instead of just 128x64 and 1 bit/per pixel for SSD1306), but it's the same I2C address, almost the same command words. The initialization is different through:
Instead of:
[code]
you should have:
[code]
Starting a block is done this way:
[code]
instead of
[code]
I'm using ESP32 here with I2C mode, with this [module](https://fr.aliexpress.com/

[2020-04-30 11:42] kisvegabor commented on #101
Thanks, @barbiani.
I've fixed it in `lv_examples`

[2020-04-30 13:31] C47D commented on #60
I will add support for it but I would like you to run the tests, can you?.

[2020-05-04 01:38] C47D commented on #101
@barbiani I just found out this: https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/peripherals/spi_master.html#transactions-with-data-not-exceeding-32-bits

[code]

I did that optimization, also incorporated your changes from your PR and some refactoring I need to be able to use the SD card on my board, into a new branch named `dev-7.0`, I'm using the Wrover Kit v4.1 board

[2020-05-04 04:05] barbiani commented on #101
@C47D  You can change
 https://github.com/littlevgl/lv_port_esp32/blob/5d07cda76dbe5e6136c97b8fc65e70ee56e42eb4/components/lvgl_esp32_drivers/lvgl_tft/disp_spi.c#L119 to `spi_device_polling_transmit(spi, &t);` to halve the flush_cb setup time.

Are you using the sd card with the wrover kit?

[2020-05-04 04:17] C47D commented on #101
Sure, I will do that change.

And yes I'm using the Wrover with SD card. I had to remove a couple of resistors to make it work.

[2020-05-04 05:31] C47D commented on #101
Just pushed the commit, but I'm having the same performance as before, how are you configuring the ESP32?

[2020-05-04 05:37] barbiani commented on #101
All maxed out.

240 MHz core clock
80MHz qio spi flash
-O2 compiler flag
Spi master functions in IRAM

On Mon, May 4, 2020, 02:31 Carlos Diaz <notifications@github.com> wrote:

[2020-05-04 07:43] kisvegabor commented on #101
Do you also use the `LV_ATTRIBUTE_FAST_MEM`?

[2020-05-04 11:14] BFFonseca commented on #88
Hello.
Is there any way to set the rotation to 180º or 270º? This would be a good feature on menuconfig.

My display is upside down
![photo_2020-05-04_12-13-44](https://user-images.githubusercontent.com/49754867/80960424-ba011a00-8e00-11ea-805c-b4a81aab507f.jpg)

Sorry if this isn't the right place to ask.

[2020-05-04 12:46] C47D commented on #88
@BFFonseca Hi, is that an ILI9341 based display?

[2020-05-04 12:57] BFFonseca commented on #88
Yes! It is an ILI931 320x240 with an XPT2046.

I was able to rotate the screen by hardcoding on the ili_init_cmds[] structure's 0x36 command with a value of 0xE8, like so:
![rotation_fix_hardcoded](https://user-images.githubusercontent.com/49754867/80967957-18cd9000-8e0f-11ea-8906-924db6f49c9a.png)

[2020-05-04 12:58] BFFonseca commented on #88
I am guessing this is not a very clean way to do it, but it was the only fix I could find.
I've started working on this lib only a couple days ago.
Would be nice if there was a way of getting the 4 possible rotations (0º, 90º, 180º and 270º) on the menuconfig.

[2020-05-04 13:00] C47D commented on #88
Don't worry, I just turned on my PC, I will let you know when I add the options to the menuconfig.

[2020-05-04 13:06] barbiani commented on #101
I do!

On Mon, May 4, 2020, 04:43 Gabor Kiss-Vamosi <notifications@github.com>
wrote:

[2020-05-04 15:25] kisvegabor commented on #101
Then all seems good, at least as far as I can judge. We are limited to 30 FPS by the SPI and we saw 25-30 FPS. I think it was usually 52 because of the 10 ms resolution of lv_tick. Let's see if it works like this for @C47D too.

If you have time and interest one more thing can be tried out. Set `monitor_cb` in the driver, `printf` the rendering time  in it, and make `flush_cb` empty (but call the

[2020-05-04 15:42] barbiani commented on #101
I will try it. What I noticed was that the perf monitor cpu usage does not
update during the demo widgets animation. Only when it changes direction.

On Mon, May 4, 2020, 12:25 Gabor Kiss-Vamosi <notifications@github.com>
wrote:

[2020-05-04 16:37] C47D commented on #101
I tried to replicate your configuration:

But I can't get the same results, and I get some artifacts/glitches on the display.

I will be able to continue the investigation until tonight (8 hours from now). What I saw earlier is that if the demo doesn't switch tabs I get 6% CPU usage and 66FPS.

There are some other tasks I would like to work on:

- [ ] Indev, I haven't tested any touch drivers.
-

[2020-05-04 17:26] barbiani commented on #101
@C47D
Use `.flags = SPI_DEVICE_NO_DUMMY|SPI_DEVICE_HALFDUPLEX`

[2020-05-04 19:47] riks5 opened #111 "blank display with ILI9486"
If you try to connect a controller ILI9486 through a none predefined wiring: build and flash runs fine. After reboot the display keeps empty, touchscreen functions well.

In the preview of the sdkconfig one can see that the configuration sets 2 display controllers at the same time.

Is this a bug or is such a setup not possible at the moment?

[2020-05-04 22:01] C47D commented on #111
Sounds like a bug, can you append the sdkconfig.h file generated by idf? Or an screenshot of the two enabled display controllers?

[2020-05-04 23:18] C47D commented on #111
Never mind I think I found the issue, 42d51f9 must fix it, please update your repo, do `idf.py fullclean` and then configure the project again with the ILI9486 display controller, let me know if it fixes it.

Thanks for your report.

[2020-05-05 08:12] kisvegabor commented on #101
@barbiani Would it be possible to upload your project somewhere?

[2020-05-05 11:42] riks5 commented on #111
Great progress, now display shows demo content!
Not vertically but horizontally flipped, see pic.
Changing "invert display" to off in config, sets the screen in portrait? and "not synced"

I attached sdkconfig.h and sdkconfig.old
Same wiring works fine in other project/driver.

Thanks for your help!

[sdkconfig.txt](https://github.com/littlevgl/lv_port_esp32/files/4580446/sdkconfig.txt)
[sdkconfig

[2020-05-05 12:17] C47D commented on #111
Hi,

Thanks for the pics and files, yeah, last night I was struggling with the Ili9341 controller having similar issues.

I don't have your exact driver, I will need you to test some changes for me, can you?. I will let you know when I upload them.

[2020-05-05 12:55] riks5 commented on #111
Okay, I understand.
Yes I can do some testing for you, but hey... I'm not a pro.
I would like to use the littlevgl-driver in the future.

[2020-05-05 13:25] C47D commented on #111
Don't worry, is easy. let's try something fast (until i get out of my work). Keep invert display in off.

In file `components/lvgl_esp32_drivers/lvgl_tft/ili9486.c` can you edit the line:
https://github.com/littlevgl/lv_port_esp32/blob/42d51f924bff20904a0e5fdeaf9fcf3f772c72f6/components/lvgl_esp32_drivers/lvgl_tft/ili9486.c#L61

To:
[code]
Then compile and flash the program.

After that change the

[2020-05-05 14:15] barbiani commented on #101
@kisvegabor It is in my [fork](https://github.com/barbiani/lv_port_esp32)

[2020-05-05 15:33] riks5 commented on #111
Sorry, cann't send any pic with goog screen.
Screen is never blank, content rotates but is not okay.

Only with 0x48 the txt on screen is readable but in portrait as config indicates landscape.

Maybe important: warnings during build.
![warning lvportesp32](https://user-images.githubusercontent.com/14071986/81084554-50633780-8ef6-11ea-842c-2d2eee5e0628.JPG)

[2020-05-05 15:46] BFFonseca commented on #88
Alright, looking forward to it.

By the way, I based myself on this library that I used in Arduino before: https://github.com/Bodmer/TFT_eSPI/blob/master/TFT_Drivers/ILI9341_Rotation.h

[2020-05-05 16:33] C47D commented on #88
Thanks for the link I will check it. I'm pushing my changes here: https://github.com/littlevgl/lv_port_esp32/tree/ili9341_rotation

Problem is the four orientations seems to work on the Wrover Kit v4.1 (it have an embedded display with the same ILI9341 controller), but only landscape mode works on the display with the separated ILI9341 controller (like yours).

[2020-05-05 20:02] C47D commented on #111
I will fix that warning later today. So 0x48 works as portrait, noted that.

Can you try this new values? First `0x28`, then `0x88` and `0xE8`.

Sorry for the inconvenience, but i don't have that display to try myself :/

[2020-05-05 20:29] riks5 commented on #111
0xE8.....bingo!!!
See pics, well done.

![0xE8bingo2](https://user-images.githubusercontent.com/14071986/81112923-b1533580-8f1f-11ea-8744-519a3529f0f6.jpg)
![0xE8bingo3](https://user-images.githubusercontent.com/14071986/81112925-b1ebcc00-8f1f-11ea-9b4c-1ff91ad5670c.jpg)
![0xE8bingo1](https://user-images.githubusercontent.com/14071986/81112926-b1ebcc00-8f1f-11ea-8575-c68f21d3db9e.jpg)

[2020-05-05 20:45] C47D commented on #111
Great 😄 , did you had the chance to try the other values?

[2020-05-05 20:52] riks5 commented on #111
Yes, I tried all values.
Only one works fine: text and view 100% okay.
Attention/correction: with 0x48 only text was readable, part of screen was gray in portrait.

[2020-05-05 21:43] C47D commented on #111
Fck, I need to fully understand how the displays are being updated, just for reference I got those values from here: https://github.com/schreibfaul1/ESP32-TFT-Library-ILI9486/blob/master/src/tft.cpp

[2020-05-05 22:08] riks5 commented on #111
Sorry I cann't help you with that.
I found and read the manual, full of clear explications but concepts of digital media way too complicated for me.
I'm just a newbie in the firmware world.

[2020-05-05 22:45] C47D commented on #111
Don't worry, we will figure it out, thanks for the help and patience.

[2020-05-05 23:08] davidjade opened #112 "TFT SPI queued but never dequeued - can lead to potential memory leaks"
Sorry for the long narrative but this doesn't fit the bug template as this is a general design issue with the current disp_spi driver.

I've been working with the lvgl esp32 driver code (adding a new display type actually) and something strikes me as wrong.

Code in the TFT disp_spi calls spi_device_queue_trans() but it never calls spi_device_get_trans_result(). From reading the IDF spi_master sou

[2020-05-06 05:25] C47D commented on #88
@BFFonseca Hi, i think i found the root issue, commit d6f6e18 on the `ili9341_rotation` branch seems to fix all 4 rotations, can you test that branch and let me know if it works for you?

I've tested it locally but is better if you can test it as well.

[2020-05-06 09:27] riks5 commented on #111
Good luck with that.
Many thanks for your help and fixing problem!

[2020-05-06 11:37] C47D commented on #111
@riks5 I found a bug last night that made screens see like your first picture, the one that is incomplete and I think I fix it.

I will add the necessary code to make your display able yo rotate later today, can you help me out and test it? I can upload the instructions later today.

[2020-05-06 11:44] BFFonseca commented on #88
I can confirm it's fixed!
All 4 rotations and the touch work fine.
Touch coordinate are switched up, but that's to be expected.

Thank you! Excellent work.

Portrait:
![portrait](https://user-images.githubusercontent.com/49754867/81172795-d8008300-8f96-11ea-9e19-60a0ccabc1d0.jpg)

Portrait Inverted:
![portrait_inverted](https://user-images.githubusercontent.com/49754867/81172798-dd5dcd80-8f96-11ea

[2020-05-06 12:23] C47D commented on #88
Thanks for testing it @BFFonseca :) , I think you can swap X and Y coordinates on the touch menu. I didn't tested it.

Sure, we could try to make the coordinate swap automagically, based on the rotation, let's leave that for another time.

[2020-05-06 15:20] C47D commented on #112
Hi @davidjade thanks for reaching out.

Just saw the esp-idf source and your analisys seems to be correct, I'm not an esp-idf expert tho. I guess that we don't notice the xQueue being overflowed because we constantly draw the display.
As far as I know the only driver (in master branch) that allocates DMA memory is the ILI9488 (it got updated recently #109), and now that you mention it maybe their

[2020-05-06 19:25] riks5 commented on #111
I saw your reopening just now.
Good improvement!
All layouts work just fine.
I noticed with every build a warning, see pics of 2 versions.

![warning](https://user-images.githubusercontent.com/14071986/81219321-f179ed00-8fdf-11ea-9482-dcf8eb41bc4d.JPG)
![warning2](https://user-images.githubusercontent.com/14071986/81219324-f2ab1a00-8fdf-11ea-94e7-d77af170388a.JPG)

[2020-05-06 20:30] C47D commented on #111
Hi, thanks for taking your time and test it.
Those are just some messages for printing the configured orientation, are for debug info, i will remove them.

Thanks again, i think we can close this issue :)

[2020-05-06 20:30] #111 closed

[2020-05-06 21:09] davidjade commented on #112
One thing to note is that spi_master may allocate DMA memory on your behalf even if you didn't explicitly do this - it decides. This is why transactions always need to be cleared I think. I do think it is unlikely that spi_master would do this in typical lvgl cases (or you'd see many more bug reports I think).

It is not possible to call spi_device_get_trans_result in the ISR, it will cause kernal

[2020-05-07 07:00] kisvegabor opened #115 "ESP get started page"
Hi,

In the docs of v7 there will be sites for manufacturers and platforms.
For ESP it is here: https://docs.littlevgl.com/v7/en/html/get-started/espressif.html

It's similar to a README. A few lines about ESP, some recommended boards, how to get started, some platform-specific info, a super simple example, etc.

I'd like to ask if somebody has time and energy to write about these things.

[2020-05-07 16:05] C47D opened #116 "warning: the choice symbol LVGL_DISPLAY_ORIENTATION_LANDSCAPE is selected by the following symbols, but select/imply has no effect on choice symbols"

[2020-05-07 16:07] #116 closed

[2020-05-07 19:20] C47D commented on #112
Thanks for the code snippet, I've added it in here: [rework_display_spi](https://github.com/littlevgl/lv_port_esp32/tree/rework_display_spi), that branch is based on master (LVGL v6), I'm planning to add it to the LVGL v7 PR once we got it working. I'm running tests with a ILI9488 display.

On the LVGL v7 PR, the only functions on `disp_spi` are:
https://github.com/littlevgl/lv_port_esp32/blob/d89

[2020-05-07 19:44] davidjade commented on #112
Just a quick coupled of notes, since I was just working on this. I will take a look at your new code soon.

For my display, I cannot use CMD and ADDR bits at the device config level - I have to use them on the transaction level since not all of my transactions need address bits. This has cause my re-work of disp_spi_transaction_ex (of whatever I end up calling it) to use spi_transaction_ext_t and

[2020-05-08 01:23] barbiani commented on #101
I am not sure why yet, but I gained 18fps (from 25 to 43) overall moving guiTask to CPU0.

[2020-05-08 03:27] guo652917087 opened #117 "Is it supported for "esp-idf v4.2" branch?"
Hi,
   When I use "esp-idf v4.2" and use the command "idf.py menuconfig", the menu function cannot be run successfully. I can switch to v4.0 and it will work fine. Is there any plan to support v4.2 version?

[2020-05-08 03:45] C47D commented on #117
Hi,

I haven't tested the ESP-IDF 4.2 branch, I'm running ESP-IDF 4.1-rc1 myself. Care to send an screenshot? Do it shows something on the console?

[2020-05-08 04:45] guo652917087 commented on #117
Hi，
I just tested it again and found that the menu can be generated on linux, and the menu cannot be generated on windows10, and an error is reported. It should be an error in the CMakeLists.txt file.

So I chose to compile with linux.

![image](https://user-images.githubusercontent.com/17864680/81371181-bbe11b00-9129-11ea-963c-a247ef985cc7.png)

[2020-05-08 05:30] C47D commented on #101
Thanks for the heads up, will update #110 with this, I've been fixing some bugs on the master branch, will add those as well.

[2020-05-08 05:33] #117 closed

[2020-05-08 05:36] C47D commented on #117
Seems like CMake can't find the C nor C++ compilers, are the esp32 dependencies installed? I think each release of the ESP-IDF need to install their dependencies.

[2020-05-08 06:15] kisvegabor commented on #101
Does it mean we were running uncached so far?

[2020-05-08 06:22] barbiani commented on #101
I've found that the core 0 cache is enabled in the bootloader and core 1 is
enabled in the app compiled with the sdk. Right now I have no idea why it
is so much faster in core 0. 43fps scrolling the gauge page vs 25 before.

On Fri, May 8, 2020, 03:15 Gabor Kiss-Vamosi <notifications@github.com>
wrote:

[2020-05-08 06:36] C47D commented on #101
@barbiani Is your repo fork updated?

[2020-05-08 06:42] barbiani commented on #101
It is not. The way I am going with the testing will break the compatability
with the other tft controllers.

On Fri, May 8, 2020, 03:36 Carlos Diaz <notifications@github.com> wrote:

[2020-05-08 06:47] rangeli opened #118 "Invert display option name misleading"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
The option "Invert display" is very misleading.  "Invert display" sounds like the colors are being inverted when in reality, the image is being **flipped**.

I suggest that we change the name for this option to "Flip display", but I don't know if

[2020-05-08 06:52] rangeli opened #119 "Colors are inverted on ILI9341"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
I flashed the example to my [M5Stack Gray](https://docs.m5stack.com/#/en/core/gray) and the colors were inverted.

I tried using the "Invert display" feature, but found that it actually flipped the display instead.

I was able to fix this by sendi

[2020-05-08 06:54] C47D commented on #118
Hi @rangeli,

I agree with you, we've been adding display rotation to some display controllers and noticed the invert display option intended to do that. So what do you think if we remove the invert display and left the display rotation option only?

Just out of curiosity, what display controller are you using?

[2020-05-08 07:06] C47D commented on #119
Hi,

I don't have that dev kit, can you take a pic of the inverted colors? IIRC I had the same problem but with other display.

Based on your other issue, we may add an option to the display menu config named "Invert display colors" or something similar, so the users can enable/disable at will. What do you think?

[2020-05-08 07:17] rangeli opened #120 "M5Stack display is scrambled"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
The display is scrambled on the latest version on the M5Stack configuration.  I checked out every previous PR until I found one that worked for me.  The PR that caused the bug was #113.

@C47D

**Code to reproduce the issue**

**Expected Results**

[2020-05-08 07:32] rangeli commented on #119
I think having a menu item for this might make sense, at least for the M5Stack/ILI9341.  I've made a PR with the fix BTW, but I could turn it into a menuconfig option.  Here's some pics of the display before and after the fix:
![image](https://user-images.githubusercontent.com/1470630/81382423-60d50700-90dc-11ea-8575-94eff5c645d6.png)

![image](https://user-images.githubusercontent.com/1470630/813

[2020-05-08 07:49] kisvegabor commented on #101
Could it be only measurement error somehow? It might be worth a try to see toggling a pin around `lv_task_handler` as you did in your previous measurement.

[2020-05-08 15:59] C47D commented on #119
Thanks for the photo and PR, the problem can be specific to the M5Stack, I'm using the Wrover kit for my tests and I didn't got the inverted colors.

By any chance are you configuring the display orientation to any of the inverted options?

[2020-05-08 16:45] barbiani commented on #119
Try to change your lv_conf.h to `#define LV_COLOR_16_SWAP   1`

[2020-05-08 17:19] C47D opened #123 "LV_HOR_RES_MAX and LV_VER_RES_MAX not defined for predefined displays"
Both symbols weren't taken into account after #113.

[2020-05-08 17:30] #120 closed

[2020-05-08 17:31] C47D commented on #123
Closed with #124

[2020-05-08 17:31] #123 closed

[2020-05-08 23:02] persello commented on #101
Hello, I just tried the dev-7.0 branch with my ILI9488. I had some problems with the default frequency set to 64MHz by the f6113afe568b000602a52acb9f17c65261f753c6 commit. I have to say, I'm on a breadboard, so this could be the issue here, and I won't get any PCBs for my project until late this summer. From what I have tested, 64MHz seems just above the "sweet spot" for this display driver (data

[2020-05-09 00:39] C47D commented on #101
It looks really helpful, thanks for the PR, hopefully more to come :)

[2020-05-09 01:46] barbiani commented on #101
60MHz is actually 40... and 64 is 80. The esp32 does not have fractional
clock multipliers so the last jump is from 40 to 80.

On Fri, May 8, 2020, 21:39 Carlos Diaz <notifications@github.com> wrote:

[2020-05-09 07:21] rangeli commented on #119
Unfortunately, that doesn't work.  That option swaps the the 2 bytes of RGB565 color.  The fix needs to be a full invert of the colors.

[2020-05-09 07:39] guo652917087 opened #127 "Is it possible to read the ID of the screen chip?"
Hi，
   Is it possible to read the ID of the screen chip? No read function is defined.
    I use ST7789V2
    Why does ST7789V use SPI mode 2?

   I modified and modified st7789.c to increase the vertical screen display:

   {ST7789_MADCTL, {0x80|0x20}, 1}, // Set to 0x28 if your display is flipped

[2020-05-09 08:21] rangeli commented on #119
I've added a menuconfig option for this:

![image](https://user-images.githubusercontent.com/1470630/81468266-74e83980-91ac-11ea-8d1e-d32a53829396.png)

@C47D Can you look at my PR?

[2020-05-09 16:29] C47D commented on #127
Right now the display river only uses the MOSI signal, what register do you need to read to get the ID?

{ST7789_MADCTL, {0x80|0x20}, 1}, // Set to 0x28 if your display is flipped

Thanks for the code snippet, I will add more display orientation options to the ST7789, I got the IPS 240x240 display.

I had been busy updating the code for LVGL v7 and ILI9341 and ILI9488 displays, will work on the ST

[2020-05-09 16:32] C47D commented on #115
I would love to do that but I'm pretty busy right now. Have you posted this on the forum?

[2020-05-09 23:28] C47D commented on #119
@rangeli Is this closed with #121 ?

[2020-05-09 23:29] C47D commented on #118
@rangeli Is this closed with #121?

[2020-05-09 23:43] C47D commented on #112
Hi,

With 5d03411 I've added parameters to the `lvgl_spi_driver_init` function to set the QSPI pins on the SPI master.

Do you mean on here?
[code]

I'm a bit confused on how ESP32 SPI works, hope you or anyone else can help me, if we configure the SPI master with more than 1 queue depth, could we queue the transaction instead of waiting the SPI to be done with it's current transaction?

Once it f

[2020-05-10 03:46] davidjade commented on #112
To clear transaction results, you have to call code like this (from my most recent revised code I pasted in above):

[code]

The important part is calling spi_device_get_trans_result(). It has to be one-for-one with transactions sent or you will not release any memory that the ESP32 spi_master might have allocated for those transactions. Note that the pointer to the transaction it returns is the s

[2020-05-11 00:22] guo652917087 commented on #127
@C47D
Right now the display river only uses the MOSI signal, what register do you need to read to get the ID?
Reply：Now the screen display function is written directly. Can you consider that the "littlevgl" display will have a flower screen (the display is disordered), if I regularly (for example, 3 minutes) compare the content written in and the content read out is the same? Just to be more stabl

[2020-05-11 08:30] kisvegabor commented on #115
No problem!

Not yet, I wanted to ask here first.

Thank you anyway! :slightly_smiling_face:

[2020-05-11 08:30] #115 closed

[2020-05-11 11:09] BFFonseca commented on #88
@C47D no problem. Was a feature I needed, so thank you!

Yes, that is what I did, and it's not hard to do anyway. I would be a nice to have feature, but indeed not a priority.

Yes, you can use my pictures on the README :)

[2020-05-12 10:02] ghosttk opened #128 "idf.py failed in windows7"
Build without modifing anything results in the following:
`
../components/lvgl_esp32_drivers/lvgl_touch/ft6x36.c:23:10: fatal error: lvgl/lv
gl.h: No such file or directory
 #include <lvgl/lvgl.h>
          ^~~~~~~~~~~~~
compilation terminated.
ninja: build stopped: subcommand failed.
ninja failed with exit code 1
`

I  copy lvgl.h from littlgvgl/lvgl repository to lvgl/lvgl directory and rebuilt,

[2020-05-12 11:04] ghosttk opened #129 "Is 8 pins paralell ili9341 shield board supported?"
This shield has 8 lcd pins , there is no config options in menuconfig, where to assign these pinouts?

![](https://www.arduino.cn/data/attachment/forum/201906/13/160055aip4cfi88v3zknv8.jpg)

[2020-05-12 11:41] C47D commented on #128
Hi @ghosttk,

What display and touch controller are being used in your configuration? I need more information to try replicate the issue.

[2020-05-12 11:44] C47D commented on #129
Currently the repository doesn't support parallel interface, only SPI and I2C.
To support it we would need to edit the code in several places, I will do some research if someone already ported lvgl to that controller in parallel mode.

[2020-05-12 14:33] ghosttk commented on #128
I did not change the dufault configuratonns, it was still 9341.

[2020-05-12 16:52] C47D commented on #128
How did you cloned the repo? Are the submodules initialized? You can take a look at components/lvgl/lvgl, if there is no files in that directory then you need to initialize the submodules.

I have no Windows 7 machines available but I just cloned the repo and was able to build the project with default configuration.

[2020-05-13 02:33] ghosttk commented on #128
Problem solved ,  thank you!!
It was because I used to directly download repositories from browser, hence not including submodules.

[2020-05-13 02:33] #128 closed

[2020-05-13 02:40] C47D commented on #128
Don't worry, have fun :)

[2020-05-20 03:33] guo652917087 opened #131 "using PWM to control the brightness of the screen."
Hi，
   I have a suggestion: Do you think about adding the function of using PWM to control the brightness of the screen. I use the development board "ESP-WROVER-KIT" and use the reference example of "https://github.com/espressif/esp-idf/tree/master/examples/peripherals/ledc", which can be designed to display on the screen at night The brightness gradually dims.

[2020-05-20 03:34] guo652917087 commented on #127
No feedback, then I close this issue.

[2020-05-20 03:34] #127 closed

[2020-05-20 12:43] C47D commented on #131
Hi,

Not adding it directly but you can disable the backlight pin on the menuconfig and control the pwm on the application side of the code.

[2020-05-21 05:42] LuoJuly opened #132 "Driver for ST7796S"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Can you add st7796s driver ? Thank you sir**

**It seems to be able to use the ili9341 driver, but it flashes every few seconds**

**ESP32 Chip version：ESP32-WROVER-B+ST7796S 320*480 3.5inch LCD SCREEN**

[2020-05-21 05:51] LuoJuly commented on #132
![177c5fdd-50bc-46c2-9443-8efc3ec5126a](https://user-images.githubusercontent.com/25450131/82527608-70872d80-9b69-11ea-9b56-c628dfd54d77.jpg)

[2020-05-21 10:26] henkjannl opened #133 "Can't get it to work with ESP-IDF"
After:
[code]

I get:
[code]
My directory structure looks like this:
[code]

The hello_world example is working normally

Cmakelist.txt just contains:
[code]

Just ignoring that and running idf.py build also produces errors.

What am I doing wrong?

[2020-05-21 14:19] C47D commented on #133
Hi,

I tried to replicate your issue with an Ubuntu machine, but I didn't had any issue, so I guess this issue is specific to Windows.

Can you try using the `ESP-IDF Command Prompt` created when you installed all the tools?

I will try to get a Windows machine to replicate the issue later today.

Regards
Carlos

[2020-05-21 15:05] C47D commented on #133
I'm able to make it work with the ESP-IDF Command Prompt.

![image](https://user-images.githubusercontent.com/11037705/82572806-86392a80-9b4a-11ea-82bb-deef56c9b177.png)

[2020-05-21 15:06] henkjannl commented on #133
Dear Carlos,

Thanks for helping. I was already using the ESP-IDF command prompt. I'm not
sure which version of ESP-IDF I'm using but I think it is 3.3. Also, Python
3 is installed, could it be something like that?

HenkJan

Op do 21 mei 2020 16:19 schreef Carlos Diaz <notifications@github.com>:

[2020-05-21 15:43] C47D commented on #133
I'm using ESP-IDF 4.0, can you try that one? I'm 99% sure is because of that.

[2020-05-21 20:41] C47D commented on #132
Hi,

I will take a look at the datasheet of it, I don't have any display with that driver at hand.
What version of ESP-IDF are you using?

[2020-05-22 10:50] henkjannl commented on #133
Dear Carlos,

That indeed works! I'm working today, so did not have time to test all, but
menuconfig works and build works without errors.

Thank you very much!

Would it be a suggestion to add something in the README.md? It
currently says:

I'm sure "is easy translate to make" is true if you know what you are
doing. My case is that I want to migrate from Arduino IDE to something more
advanced, an

[2020-05-22 10:51] #133 closed

[2020-05-22 11:53] #131 closed

[2020-05-22 19:19] lefty01 opened #134 "with ST7789 display controller error in ili9xxx.c data undeclared"
with current master branch I  configure for ST7789 display controller and get errors while ili9xxx displayer driver files are being compiled.
(This is supposed to run on board TTGO-T see here: https://github.com/Xinyuan-LilyGO/TTGO-T-Display)
following is part of the sdkconfig file after menuconfig
--- sdkconfig ---
[code]
** compile log error:
[code]

as a workaround I changed the respective file

[2020-05-22 21:09] C47D commented on #134
Hi,

Thanks for the report, I will look at it. The ilixxx source files are compiled even when not using them, I will try to find a way to change that.

[2020-05-22 22:29] C47D commented on #134
Can you test this branch? https://github.com/lvgl/lv_port_esp32/tree/fix_134

[2020-05-23 06:39] lefty01 commented on #134
H, yeah after checkout fix_134 branch idf.py build was compiling the code without error! thx!
so I can confirm this is working for me.

also tried one build with
CONFIG_LVGL_TFT_DISPLAY_CONTROLLER_ILI9341=y
this compiles as well (showing your pragma msg)

[code]

[2020-05-23 15:16] C47D commented on #134
The problem is how we were handling the rotation on the ILI9xxx controllers, as you saw, all the *.c files on lvgl_tft directory are compiled, even those not used by your display controller.

We've working on getting this repo ready for LVGL v7, hope this issue solves with that improvements.

[2020-05-23 16:00] C47D opened #135 "Compile only the *.c files used by your display driver"
Currently, all the source files located on the lvgl_tft directory are being included for compilation, even those not used by your driver. Sometimes this triggers errors on source files not necessary for your driver.

Consider including only the source files used by the currently enabled driver.

[2020-05-23 16:06] #119 closed

[2020-05-24 21:02] barbiani commented on #101
@C47D
Have you ever tried running guiTask in the PRO_CPU? I can not understand why it is much faster than APP_CPU. This is true if wifi/bt are disabled.

[2020-05-24 21:09] C47D commented on #101
No, I haven't. Did you tried to?

[2020-05-24 21:12] barbiani commented on #101
I did. About twice the FPS.

On Sun, May 24, 2020 at 6:09 PM Carlos Diaz <notifications@github.com>
wrote:

[2020-05-24 21:22] C47D commented on #101
Do you think we should add a comment about that on the source code? I'm about to merge the dev-7.0 PR into master, I'm finishing some arrangements in the README

[2020-05-24 21:26] barbiani commented on #101
I would not add the note until someone figures it out. The cores should be the same.

[2020-05-24 21:42] embeddedt commented on #101
I would guess that there's another task running on the APP_CPU that we're unaware of.

[2020-05-25 03:29] #92 closed

[2020-05-25 11:23] kisvegabor commented on #101
I've found these topics
https://www.esp32.com/viewtopic.php?t=9315
https://www.esp32.com/viewtopic.php?t=8558

[2020-05-25 14:22] barbiani commented on #101
It has something to do with running lvgl in a task. [This](https://github.com/espressif/esp-iot-solution/blob/master/components/hmi/lvgl_gui/lvgl.c) approach gives the same result as running lvgl in core 0 but without the drawbacks of sharing the core with the comms stack.

Do expect 2x the performance over the code from this repository.

[2020-05-25 15:57] C47D commented on #101
So instead of running a periodic timer and increase the LVGL tick on the callback of it you are increasing it at the FreeRTOS tick rate?

[2020-05-25 16:03] barbiani commented on #101
I am running lvgl in a timer callback (that is called in a core 1 task) and
lv tick in an interrupt. There is no semaphore.

On Mon, May 25, 2020, 12:57 Carlos Diaz <notifications@github.com> wrote:

[2020-05-25 17:22] embeddedt commented on #101
Maybe #136 is related?

[2020-05-25 18:10] C47D commented on #101
@barbiani Could you review it? I don't have access to my pc to test it right now

[2020-05-25 19:47] vheathen commented on #101
Could it be connected to [this](https://github.com/espressif/esp-idf/blob/f91080637c054fa2b4107192719075d237ecc3ec/components/esp_timer/include/esp_timer.h#L39)?

[2020-05-25 20:36] C47D commented on #101
I think @barbiani meant the task that runs LVGL, which is attached to APP CPU, not the CPU of the tick timer.

[2020-05-25 22:24] vheathen commented on #101
Yes, I understand it. If a timer callback runs on the different (in regard to the LVGL task) core it might have speed penalty (I didn't dig into the lv_tick_inc() func so don't know how expensive it is). If the LVGL task started on the same core as a timer callback then performance is higher than if it started on an another core, so it is just a guess.

[2020-05-25 23:40] barbiani commented on #101
What I am experiencing is that I get better performance when lv_task_handler() is scheduled on core 0.

[2020-05-26 00:52] C47D commented on #101
For this demo is OK to pin the lvgl task to CPU 0, or don't even create a new task for it. Once the users try to enable WiFi or BLE into their applications they would need to pin the lvgl to CPU 1.
Is this right?

[2020-05-29 17:44] C47D opened #140 "lv_esp32_drivers should be compatible for LVGL v6 and LVGL v7"
So far the only change on lv_esp32_drivers between LVGL v6 and LVGL v7 is the function `lv_refr_get_disp_refreshing` (in v7 it's renamed to `_lv_refr_get_disp_refreshing`), we could use `LV_VERSION_CHECK` to detect the LVGL version we are using.

[2020-05-31 01:31] #118 closed

[2020-06-04 12:44] petestewardson-schneider opened #146 "Strange Adafruit TFT FeatherWing - 3.5" 480x320 issue"
Hi

I'm using the Adafruit 3.5"  TFT Featherwing with an Adafruit Huzzah32 board and having an issue.

The display appears to be working fine using this example code in that it it shows the write/list/chart example screens. However the touch operation is not working, and every 3s roughly the screen switches to the next of the three tabs in the example cycling around them. I am using the configurat

[2020-06-04 15:41] C47D commented on #146
The example is configured to automatically switch tabs.

We're about to merge #110 into master, could you test it again later today? I't updates to LVGL v7 an several bug fixes.

[2020-06-04 16:07] embeddedt commented on #146
@petestewardson-schneider https://github.com/lvgl/lv_port_esp32/blob/c1f43bfb090df293059ab52baabbdbdd8df00712/components/lv_examples/lv_ex_conf.h#L45

[2020-06-04 18:39] C47D commented on #135
Fixed in 8ba9d9d1662400b0626fa7f4766f34f234c30a08

[2020-06-04 18:39] #135 closed

[2020-06-04 18:40] C47D commented on #134
Fixed with 8ba9d9d1662400b0626fa7f4766f34f234c30a08

[2020-06-04 18:40] #134 closed

[2020-06-04 18:40] C47D commented on #140
Should be fixed with ff994aae31e64e571b417cf18b965579b4014411, reopen in case of errors.

[2020-06-04 18:40] #140 closed

[2020-06-04 18:42] C47D commented on #101
Closed with #110 being merged into master.  Further performance improvements can be discussed in new issues.

[2020-06-04 18:42] #101 closed

[2020-06-04 18:43] C47D commented on #88
All displays with rotation support are currently available in the menuconfig.

[2020-06-04 18:43] #88 closed

[2020-06-05 06:50] Cikkcakk opened #147 "lv_theme_material_init not found if configured with NO_THEME"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**

**Code to reproduce the issue**

**Expected Results**

**Actual Results**

**ESP32 Chip version**

**ESP-IDF version**

**Development kit used**

**Development machine OS**

**Compilation warnings/errors (if available)**

**If possible, copy the

[2020-06-05 16:51] C47D commented on #147
Can you test this branch https://github.com/lvgl/lv_port_esp32/tree/kconfig_themes

I've added theme configuration options in the menuconfig interface, you'll need to select an theme init function.

[2020-06-05 18:52] #57 closed

[2020-06-05 18:53] #93 closed

[2020-06-07 16:46] C47D commented on #147
Merged into master, update your clone to test it.

[2020-06-08 04:57] huming2207 opened #149 "IL3820 (GDEH029A1) crashes when setting to portrait modes"
**Describe the issue**

Looks like the hardware rotation related code are not implemented for IL3820, and it may cause crashes when setting to portrait (or inverted portrait) modes.

I think I know why it crashes with garbage result rendered. Because this register is not set correctly:

![image](https://user-images.githubusercontent.com/4463497/83993937-4bcbec00-a998-11ea-88ef-6a27c5e6b402.png)

I

[2020-06-08 13:07] huming2207 commented on #149
Hello @C47D and @aircable

Firstly, according to the code at the latest master commit, it does NOT have any rotation support for IL3820. It definitely won't work.

So far I've tried adding the support to get it working, but no luck with these attempts:

1. Swapping `EPD_PANEL_WIDTH` and `EPD_PANEL_HEIGHT`: won't work - crash
2. Swapping the width and height + set the entry mode (register 0x11) to

[2020-06-08 14:42] C47D commented on #149
I agree the code needs to be clean up.

[2020-06-08 19:24] aircable commented on #149
I'm sorry I have not tested landscape mode, only portrait. And I'm pretty
sure it needs some
extra code for the transfer of partial blocks to the display.

I'll be back on working on the driver soon. In the meantime please feel
free to clean up the code.
I know, I have my own coding style ;-)

On Mon, Jun 8, 2020 at 7:42 AM Carlos Diaz <notifications@github.com> wrote:

[2020-06-08 19:31] C47D commented on #149
Don't worry @aircable, I'm trying to get a display with this controller to test it.

[2020-06-08 21:52] huming2207 commented on #149
Hello @C47D

It works in landscape mode. However, now the current landscape mode in `menuconfig` works but the screen is portrait (i.e. in 128x296, like this: https://github.com/aircable/lv_port_esp32/blob/master/images/Waveshare_EPD2in9.png), while the portrait mode in `menuconfig` will cause crashes or garbage result.

Just grab a Waveshare 2.9 inch module: https://www.waveshare.com/wiki/2.9inch

[2020-06-08 21:54] huming2207 commented on #149
Also looks like for this panel, according to GoodDisplay's demo code, this default orientation is  **128x296** instead of **296x128**. So now the landscape mode orientation is actually correct.

[2020-06-08 22:06] C47D commented on #149
Thanks for the link, I tried to buy some displays last weekend on ebay and they don't have the usual postal service available, and I can't afford the shipment cost. I will try to source the display locally, I'm based in Mexico, so it's a bit hard.

I checked the IL3028 code and indeed it doesn't handle portrait mode, I will try to send you some patches to enable this.

[2020-06-08 22:27] huming2207 commented on #149
Hello @C47D

You should try the GoodDisplay official store on AliExpress.

If you really want to get one, I can contact GoodDisplay sales directly as I know a guy there. Please send me an email if necessary.

Regards,
Jackson

[2020-06-09 00:21] huming2207 commented on #149
By the way @C47D @aircable ,

I think this kind of polling is not acceptable for production, as it wastes the CPU times anyway: https://github.com/lvgl/lv_port_esp32/blob/8bc5e18432f710a12981f69721b9e34327ffa596/components/lvgl_esp32_drivers/lvgl_tft/il3820.c#L94

It really should be replaced to interrupt instead.

[2020-06-09 04:38] C47D commented on #149
Sure, contributions are very welcomed, I'm waiting for the confirmation of the display I tried to buy, it should take a long time to arrive tho.

[2020-06-09 05:06] huming2207 commented on #149
Hello @C47D

Yea I totally agree. This is just a PoC level thing. But it should be approved later.

If you have any difficulties on buying those panels, please send me an email at huming2207@gmail.com . I can help you out.

Jackson

[2020-06-09 07:19] #112 closed

[2020-06-09 13:19] #129 closed

[2020-06-09 13:27] huming2207 commented on #149
Hello @C47D @aircable

Here's the latest status. The code can be found here: https://github.com/huming2207/lv_port_esp32/tree/fix/il3820-rotate

I've adjusted something in `il3820_flush()` and `il3820_set_px_cb()` to get it properly flushed to framebuffer in 296x128 direction, instead of 128x296. I've also set the R11h data entry register to 0x03. But still no luck.

Here's what it looks like for

[2020-06-09 22:48] barbiani commented on #101
A small optimization to prevent uneeded context switches.

[code]

[2020-06-10 00:18] C47D commented on #101
Nice to see that LVGL feature being used, thanks for the tip @barbiani :)

[2020-06-10 00:22] embeddedt commented on #101
I'd add `lv_delay = 10;` at the beginning of the loop body. That way if the semaphore doesn't get taken the thread will always sleep for 10 ms and try again.

[2020-06-10 00:33] barbiani commented on #101
Good point. The idea was posted. I have it as static.

Could increase the sem take timeout... but anyway, it sleeps exactly the amount needed by lv_task_handler();

[2020-06-10 05:14] Cikkcakk opened #154 "lv_label_set_text_fmt not working"
lv_label_set_text_fmt cause crash

every time when I update submodule I have to change
lv_conf.h > #define LV_SPRINTF_CUSTOM   0 to 1
to work

how to avoid this ?

We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**

**Code to reproduce the issue**

**Expected Results**

**Actual Results**

**ESP32

[2020-06-10 05:16] Cikkcakk commented on #147
there are no problems anymore with the latest master

[2020-06-10 05:16] #147 closed

[2020-06-10 05:23] Cikkcakk commented on #154
I should be a config property

[2020-06-10 06:28] C47D commented on #154
Lvgl configuration via menuconfig isn't complete, I will update it once I get some free time.
Are there any other options you change regularly?

[2020-06-10 07:55] petestewardson-schneider commented on #146
OK so I've updated to the latest code after the merge  and disabled the slideshow as above. I'm still getting no touch input in the example app.

I'm new to using esp-idf but is there anyway I can help to diagnose with the HW I have?

[2020-06-10 19:17] seeul8er opened #155 "Use branches, tags or releases"
I am using this project as a submodule for my application. Currently, there are no branches or tags that I can use to easily identify different releases of this repository. The only thing I can do is link against some commit ID.

Could you consider tagging releases now and then when they are considered stable/tested or when major changes happened. For example, tagging the last commit that works wi

[2020-06-10 23:06] huming2207 commented on #149
Hi @C47D

Yea I did set to monochrome theme with ascii8 font.

Jackson

[2020-06-11 10:13] petestewardson-schneider commented on #146
Hi,

I've attached the config, but there is clearly something not correct when using the monitor command ( I didn't know about that one so thanks )

`--- idf_monitor on COM8 115200 ---
--- Quit: Ctrl+] | Menu: Ctrl+T | Help: Ctrl+T followed by Ctrl+H ---
ets Jun  8 2016 00:22:57

rst:0x1 (POWERON_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0

[2020-06-14 15:52] seeul8er commented on #155
That would be great! I'd definitely use the drivers repo. The other(s) could be for reference on a sample project only.

Thank you

[2020-06-14 23:37] C47D commented on #155
I've posted this idea in the forum, here: [[RFC] ESP32 port repo, improvement suggestions](https://forum.lvgl.io/t/rfc-esp32-port-repo-improvement-suggestions/2485), it would be great if you can comment over there how this change would help your use case.

[2020-06-15 18:49] C47D opened #157 "[RFC] ESP32 port repo, improvement suggestions."
We are requesting user feedback about a change described on the forum topic [[RFC] ESP32 port repo, improvement suggestions](https://forum.lvgl.io/t/rfc-esp32-port-repo-improvement-suggestions/2485). It would be great to know your opinion about it, if possible add a comment in the forum topic so other users of LVGL can look at it.

If you don't have an account on the forum you can log in with your

[2020-06-20 17:15] #132 closed

[2020-06-20 19:30] embeddedt commented on #155
The new [branch scheme](https://github.com/lvgl/lvgl/branches) that's been rolled out across the core LVGL projects would address this issue, as it creates a new branch for each major version. We backported the logic to 6.x so there is a `release/v6` branch as well (even though it will likely never get another commit).

We should probably apply this to the current ESP32 repo even if we plan to rep

[2020-06-20 21:28] C47D commented on #155
Hi @embeddedt,

Great, I was planning to apply the new branch scheme once we have the separated repo for the esp32 drivers (because they changed a lot), they should work for v6 and v7. Or if you have another suggestion please let us know.

Thanks for the reminder.

[2020-06-23 23:52] C47D commented on #149
Hi @huming2207, sorry for the late reply, just got the display.

[2020-06-24 05:42] huming2207 commented on #149
@C47D Thanks for your update. What's your current config?

[2020-06-24 16:07] C47D commented on #149
I'm using it in landscape mode, the weird thing is that I think it's crashing somewhere on the lvgl code and not in the SPI code.
I'm cleaning up the code and adding comments to it in a separated branch, I haven't pushed it to remote.

[2020-06-25 01:33] huming2207 commented on #149
Because the buffer gets overflow, as the landscape mode coordinates are wrong.

[2020-06-25 01:38] huming2207 commented on #149
What I understood is, we need to do is to rotate the framebuffer first, before pushing to the panel. Unlike U8g2 or some other UI libraries, LVGL does not support rotating directly. We need to either 1. implement the framebuffer rotation for these panels or 2. add native rotation support for LVGL, like U8g2 did.

[2020-06-25 01:59] C47D commented on #149
Hi,

Here's what I've tried, this is the first time I work with e-paper displays:
- Try to replicate the issue on the CodeBlock simulator, I can't because the win_driver doesn't work with `LV_COLOR_DEPTH=1`.
- Set `DISP_BUF_SIZE` to `LV_HOR_RES_MAX*LV_VER_RES_MAX`, this make the esp32 not to hardfault, but I get garbage as output, this is where we need to do what you say. But LVGL does support rot

[2020-06-27 19:22] C47D commented on #149
Hi,

Just wanted to share my progress, I've added some logging to `set_px` and `flush` functions, here's the output for printing an 'a' into the top left side of the display.

[code]

And the 'a' being displayed with some notations
![imagen](https://user-images.githubusercontent.com/11037705/85930336-16246f80-b881-11ea-8b95-fa9a1a65a78b.png)

From this I can assume that if I want to "rotate" the d

[2020-06-30 09:22] huming2207 commented on #149
Hi @C47D ,

Sorry I was extremely busy these days for some of my projects at work. Yes looks like the XDYDY mode didn't really work somehow.

Also, this official demo code may help: http://www.good-display.com/product/201.html

Regards,
Jackson

[2020-06-30 17:18] C47D commented on #149
Hi Jason,

I've been able to configure the display in landscape inverted. Will check the link later today. I been having limited access to my work computer.

Regards,
Carlos

[2020-07-02 11:55] richard-mckenna commented on #146
I'm just trying to get this working on the FeatherWing as well. Display is working but touch not working. I've tested the hardware with the Arduino [touchpaint_featherwing example application](https://github.com/adafruit/Adafruit_HX8357_Library/tree/master/examples/touchpaint_featherwing) and both display and touch works.

Is there anything I can try?

[sdkconfig.txt](https://github.com/lvgl/lv_po

[2020-07-03 07:43] tobiwan42 opened #163 "Error at linking with cmake: undefined reference to `disp_spi_send_xxx`"
I followed the installation instructions from the readme and installed the latest version of lv_port_esp32 as submodule for my ESP-IDF Projekt.
When I compile with cmake (idf.py build) I got following error at linking:

[code]

I also changed the lv_port_esp32 cmake file like in the readme told.

[code]

This is my project root cmake.txt file

[code]

**ESP-IDF version**
release/v4.0

**Developmen

[2020-07-05 01:36] C47D commented on #163
Hi,

Thanks for the information, I was not able to replicate it, did you also did the `git submodule update --init --recursive` step?

Also, we are working on create a repo with all the lvgl_esp32_drivers so it will no longer necessary to add this whole repo as component on user projects, see #157

[2020-07-05 04:05] #154 closed

[2020-07-09 20:15] #157 closed

[2020-07-12 00:26] C47D commented on #163
@tobiwan42 Are you still having this issue?

[2020-07-16 07:48] EtienneMdv opened #166 "ESP-IDF v3.3 compatibility"
Hello,

I was wondering if there is any chance that I could use the lvgl library using esp-idf version 3.3.

I have encountered similar problems that those describe in this issue : [(https://github.com/lvgl/lv_port_esp32/issues/133)].

I can't switch to the latest esp-idf unfortunately...  However I was hopeful to make it work after reading the following note :

Best,
Etienne

[2020-07-16 08:18] tobiwan42 commented on #163
Thanks for the quick answer.

I tried `git submodule update --init --recursiv`  but it didn't helped. I'm still having the same error at linking.

[2020-07-18 09:39] ma89vik commented on #166
The issue is probably that the project uses the CMake functions that were introduced in 4.0, e.g. `idf_component_register`. So you wont be able to compile it with CMake+3.3 without changing anything.

You could try using make instead and see if that works.

[2020-07-18 16:47] C47D commented on #166
Hi, as far as I know using make should solve this issue. Do any of yall know if there's a way to know the idf version that we could use on the CMakeLists files?

[2020-07-18 17:01] ma89vik commented on #166
You mean a way get the current IDF version as a variable in the cmake file?

Another way to solve this would be to write the CMake file the way they were written in 3.3, which should still be compatible with newer IDFs. That way it should compile OK with all versions.

[2020-07-18 17:23] C47D commented on #166
Yes, that. I'm taking a look at the documentation. Maybe we can use IDF_VER as described here: [Checking the Current Version](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/versions.html?highlight=idf%20version#checking-the-current-version).

[2020-07-18 17:24] C47D commented on #163
I will try to replicate the issue again later today.

[2020-07-18 22:30] #155 closed

[2020-07-19 03:35] huming2207 commented on #149
Hello @C47D

Sorry for the late reply. Have you got any luck for now?

Maybe we should also try to examine the initialise sequence.

Regards,
Jackson

[2020-07-20 23:04] DrZlo13 opened #168 ".platformio with espidf framework compability"
Hello, i noticed that [commit](https://github.com/lvgl/lv_port_esp32/commit/a42c982c912e2f93868ebec21306e7a8c912d2f1) says this project have compability with .platformio build system, but i dont have any luck to compile that.

For now i have bunch of "undefined reference to `lv_something'" and i don't know how to fix any of those things.

[2020-07-22 11:39] EtienneMdv commented on #166
Hi guys, thanks a lot for your answers! Using make instead of CMake works fine for me.

[2020-07-24 08:21] petestewardson-schneider commented on #146
I've not been able to address this issue so far.

[2020-07-24 19:16] nikola-winmaker commented on #163
@C47D Just set compiler optimisation to -Os and you'll see the issue. I understand those functions were put in order to inline it in acutal driver later on... but they get optimised away, as a work around @tobiwan42 just remove inline from those functions in disp_spi.h

[2020-07-24 22:29] KammutierSpule opened #169 "variable "may be used uninitialized in this function""
When selecting ILI9488

On function sh1107_set_px_cb
CONFIG_LVGL_DISPLAY_ORIENTATION_LANDSCAPE
or
CONFIG_LVGL_DISPLAY_ORIENTATION_PORTRAIT

is not defined, so
uint16_t byte_index;
    uint8_t  bit_index;
are not initialized.

[2020-07-26 16:36] C47D commented on #166
@EtienneMdv Thanks for letting us know, I will update the README to let users know to use make when working with the ESP-IDF v3.3 😄

[2020-07-26 16:47] C47D commented on #163
Thanks for pointing out the issue @nikola-winmaker, maybe we shouldn't inline those functions to avoid the issue, let's wait on @tobiwan42 feedback so we can set up a pull request for it :)

[2020-07-26 16:49] C47D commented on #149
Hi @huming2207,

Sorry, I haven't been able to work on this, got a job non related to computers and almost had no free time to work on this, do you have any luck?

[2020-07-26 16:55] #166 closed

[2020-07-26 16:56] C47D commented on #169
Hi @KammutierSpule, it shouldn't raise a warning because only the source file for the chosen display is included into the build. What commit of the repo are you working on?

Anyways, I will initialize those variables to 0 if necessary.

[2020-07-26 17:01] C47D commented on #168
Hi @DrZlo13, I don't personally use Platformio but hopefully @davidjade can help us out. On the meantime, could you attach a text file with the output you are getting to check what functions are not being defined?

[2020-07-26 17:24] KammutierSpule commented on #169
sorry, you're right.. it was some issues with updating to the latest repo version.

[2020-07-26 17:24] #169 closed

[2020-07-26 18:30] C47D commented on #169
No problem, have fun and let us know if you have more issues :)

[2020-07-27 03:32] DrZlo13 commented on #168
[code]

[2020-07-27 08:29] tobiwan42 commented on #163
Thanks for replicating the issue. I removed inline and moved the function body to `disp_spi.c`. Now it's compiling also in -Os optimization. Thanks for your help.

[2020-07-27 13:09] kisvegabor commented on #168
Hi,

I've just tried it with our [lv_platformio](https://github.com/lvgl/lv_platformio) project and I added these lines to plaformio.ini:
[code]
Changed the efault environment to `default_envs = esp32`

And modified main.c like this:
[code]

And it compiled but I can't test it on hardware now. :slightly_frowning_face:

[2020-07-27 15:32] C47D commented on #163
I will update the repo with that change later today.

[2020-07-27 15:36] nikola-winmaker commented on #163
@C47D We should think about this.. removing inline will solve the issue for sure, but it will add function calls to execution which will slow down things, as I suppose this functions are called often. You need to be sure that compiler will inline those functions on -0s. You can check that in asm file produced.

[2020-07-28 03:35] C47D commented on #163
Hi @nikola-winmaker and @tobiwan42,

I was able to reproduce the issue when setting the optimization to -Os, but the error I got is, in the ST7789.c file:

[code]

After some googling I found this stack overflow answer: https://stackoverflow.com/a/9399539

So in `disp_spi.h` I changed the following (added static to both inline functions):
[code]

Do you think this is the most appropiate fix @nikol

[2020-07-28 06:13] nikola-winmaker commented on #163
@C47D You could add static, which would declare scope of those functions to be part of every module it is included in. As you said this could bloat the code but as these functions are small enaugh I would say it is ok.
But the clean solution would be IMHO, to declare these functions in header file and add implementation in some “common” *.c file... Either way it’s fine with me 👍
Keep up the good w

[2020-07-28 10:21] embeddedt commented on #163
In this case, the functions wouldn't be inlineable except within the C file, since the compiler would need access to the implementation in order to inline them. I think the `static inline` approach is the best; it's also the same practice we use in the core library.

[2020-07-28 10:30] nikola-winmaker commented on #163
@embeddedt It’s always a trade off between clean and the best (ODR - one definition rule)... static inline will work as I have stated before 👍

[2020-07-29 13:44] #163 closed

[2020-07-30 06:57] huming2207 commented on #149
Hello @C47D

Sorry I was busy working on another two projects for BLE with NimBLE on ESP32. I think the issue might be either the transform callback is still wrong or this display panel controller is buggy.

We had another issue with another similar panel before. Their temperature register value is invalid if the read operation frequency is higher than 3MHz. Other registers can be read with 5MHz b

[2020-07-30 15:59] C47D opened #174 "Rotate display using the lv_disp_drv_t rotated field."
Currently we rotate the display by swapping `LV_HOR_RES_MAX` and `LV_VER_RES_MAX` in `lv_conf.h`, we should use the `rotated` field in `lv_disp_drv_t` instead.

Is this correct @kisvegabor, @embeddedt ?

[2020-07-30 16:02] C47D opened #175 "Set a GitHub Action to build predefined configurations."
We can use GitHub Actions to build predefined configurations, this builds can be triggered on Pull Requests, commits, manually, etc. This can help so build issues are discovered before the PRs are merged and without waiting for the manteiner to build locally.

I got a shell script that tries to set up a ubuntu machine be able to do this, it installs all the dependencies and sets up the ESP-IDF env

[2020-07-30 16:27] embeddedt commented on #174
`rotated` is a bit of a strange flag at the moment - I don't completely understand how it works myself. I think the actual rotation still ends up being done by the display driver, not by LVGL itself, so I don't know if using the `rotated` flag really changes that much. I guess it might matter for rotating the screen on the fly.

[2020-07-30 20:53] C47D commented on #174
I used it with the ILI9341 display I have, setting it to 1 rotates the display without any change on the driver. Do you mean that?

[2020-08-02 10:55] kisvegabor commented on #175
It's a good idea to use GitHub actions for testing. lvgl's [test file](https://github.com/lvgl/lvgl/blob/master/.github/workflows/ccpp.yml) might be a good starting point.

Maybe it might be worth separating the components first (i.e. make lvgl to ESP component). It seems we are not that far from that.
What do you think?

[2020-08-02 11:13] kisvegabor commented on #174
`rotate` only swaps the horizontal and vertical resolution of the display now and the real rotation really should be done in the display driver. In the future, we can have a `set_orientation_cb` in the display driver which can be called according to the current rotation settings.

[2020-08-02 18:02] C47D commented on #175
In case of the LVGL component I wanted to ask the Zephyr and Nuttx people what mean to them having a KConfig file on the LVGL main repo.

For the lvgl_esp32_drivers component we are taking a lot of time before making anything, I wanted to move the existing component code there and make improvements after that.

I checked the lvgl test file for the github actions, just wanted to ask you something,

[2020-08-02 18:04] C47D commented on #174
This is the silly workaround I did on the `lv_config.h` file, swapping the resolutions (I didn't knew the `rotate` option back then). Do you think is sane to remove the workaround and use `rotate` instead?

[2020-08-04 12:37] kisvegabor commented on #175
Restructuring the drivers will really require some time, so I agree to use the current drivers first and improve them later.

I don't know for sure, but if they can be installed this way, I see no problem with that.
However, if they are really large (takes 10 minutes to install) we can consider using a docker file where the libs are preinstalled.

[2020-08-04 12:38] kisvegabor commented on #174
Yes, that's why we have rotate. :slightly_smiling_face:  (although it's very limited now).

[2020-08-04 15:38] C47D commented on #175
You're right, there's quite a lot of requirements for ESP-IDF. I will take a look into Docker container and GitHub Actions, found this tutorial on a quick research: [Creating a Docker container action
](https://docs.github.com/en/actions/creating-actions/creating-a-docker-container-action)

[2020-08-04 15:40] C47D commented on #175
So you agree we move the current lvgl_esp32_drivers directory onto it's repo? Then @zladay can incorporate their improvements?

[2020-08-04 15:53] kisvegabor commented on #175
Yes, I agree. But I assume that @zladay would rather rewrite than modify the driver.
Anyway, we can decide it later.

[2020-08-04 21:42] zladay commented on #175
@C47D

I can not incorporate anything, since I came up with a new structure. It has a completely different concept. The two are very far apart. They would mix a little less than oil and water.

@kisvegabor

There is not much to modify or rewrite. Comparing the hardware support capabilities of the two, mine is missing the monochrome stuff only (SSD1306, SH1107 and e-paper). The rest is supported no

[2020-08-06 07:32] kisvegabor opened #177 "Menuconfig issue"
**Describe the issue**
I got this error on `make menuconfig`
[code]

If I remove the use of touch's Kconfig from the Makefile the menuconfig opens but there is no TFT config menu.

**Code to reproduce the issue**
Using the latest ESP-IDF
[code]

**Expected Results**
Open menuconfig

**ESP-IDF version**
Latest, just updated from GitHub

**Development machine OS**
Linux Mint 19

[2020-08-06 16:33] C47D opened #178 "Some LVGL configuration options are not available on menuconfig"
@kisvegabor Some LVGL configuration options are not available on the menuconfig, such as:

[code]

and

[code]

This is because the option types available on Kconfig.

For the LV_ATTRIBUTE_x options we can do something like this, so the users can define them somewhere else:
[code]

[2020-08-06 16:35] C47D commented on #177
Can you try using `idf.py menuconfig` to see if you get the same error? I haven't tested using IDF 4.x with make, will take a look at it.

[2020-08-07 01:54] C47D commented on #168
Any feedback @DrZlo13?

[2020-08-07 03:49] C47D commented on #177
Just tried using `make menuconfig` and got it working (I'm using WSL Ubuntu). Are you doing `. export.sh` on the esp-idf directory? Do you get any more logging?

[2020-08-08 16:53] kisvegabor commented on #178
Thank you for opening this issue!

IMO, we can leave minimal lv_conf.h (only with the non-Kconfig compatible options) to let the user set those there.

By the way, what should happen if we have an option defined `lv_conf.h` and Kconfig too? Which one should have a higher priority?

[2020-08-08 22:02] C47D commented on #178
Hi,

I don't follow you there, the symbols defined in Kconfig are used in the lv_conf.h like so:
[code]

`LVGL_DISP_DEF_REFR_PERIOD` is defined in the Kconfig file (`CONFIG_ ` is appended before compiling), the value of it is given when you configure the menuconfig. You can see the value of `CONFIG_LVGL_DISP_DEF_REFR_PERIOD` in `build/config/sdkconfig.h`.

I don't know what do you mean with option

[2020-08-10 03:47] kisvegabor commented on #177
There is no `export.sh` in the es-idf directory for me.
[code]

[2020-08-10 07:29] kisvegabor commented on #178
In a [previous issue](https://github.com/lvgl/lv_port_esp32/pull/164#issuecomment-657418702), we talked about how `lv_conf.h`, `Kconfig` and `lv_conf_inernal.h` can live together.

If we slightly modify that idea by always include `lv_conf.h` but give Kconfig a higher priority, user can simply define non-Kconfig compatible options in lv_conf.h.

`#warning` can be added if an `lv_conf.h` option is

[2020-08-10 13:39] C47D commented on #149
Almost there...

![IMG_20200809_233651.jpg](https://user-images.githubusercontent.com/11037705/89788554-f4a3de00-dae4-11ea-80a9-5fabb085fb1b.jpg)

[2020-08-10 14:00] C47D commented on #177
Are you using this repo for the esp-idf? https://github.com/espressif/esp-idf

[2020-08-10 23:43] huming2207 commented on #149
@C47D Congrats!

By the way, maybe it's a bit off-topic. But I think we can later port a QuickJS JavaScript binding. I've just ported a quick & dirty version of QuickJS for ESP32 last night: https://github.com/huming2207/quickjs-esp32

[2020-08-10 23:56] C47D commented on #149
I will create a new predefined display configuration for this e-paper display once it's working properly. Will let you know then.

[2020-08-11 00:28] huming2207 commented on #149
@C47D Yep thx. I'm happy to check it out.

[2020-08-11 08:28] kisvegabor commented on #177
Hmm, it seems I screwed up something when pulled the esp-idf. It wasn't updated properly and I didn't notice it.

Now I have export.sh, but a few dependencies are still missing for esp-idf.

It should work from here. Sorry, for the noise.

[2020-08-11 08:28] #177 closed

[2020-08-12 05:22] C47D commented on #149
I tried several data entry configurations but couldn't make it work, so I'm "mirroring" the X pixels in software, it's ugly but it seems to work, at least it displays `Hello World` properly.

![IMG_20200812_001726.jpg](https://user-images.githubusercontent.com/11037705/89977722-799c0e00-dc31-11ea-93d8-6ca438d82281.jpg)

Right now it only works on portrait and landscape orientations, none of the in

[2020-08-12 05:45] C47D commented on #177
To get those dependencies I think you can do `install.sh`, I haven't updated my toolchain in some time but that's what I remember.

Don't worry about it, always happy to try help :)

[2020-08-12 06:26] kisvegabor commented on #177
It works like a charm after `install.sh`.

Thank you very much! ^^

[2020-08-12 13:07] huming2207 commented on #149
Hi @C47D

Great thanks for your work!

I just did a quick test and I think it looks all good for now.

I've also tested a few times for the data entry mode. I think it is just buggy. It won't work as I expected but just generating some garbage results.

Regards,
Jackson

[2020-08-12 13:10] huming2207 commented on #149
![image](https://user-images.githubusercontent.com/4463497/90018759-c561bc80-dcf0-11ea-9710-b529fbe0219b.jpeg)

Here's my panel with your original code. It looks perfect!

Jackson

[2020-08-12 13:34] C47D commented on #149
Nice, I will create a new predefined display configuration so it's easier to choose the right options. Also this last photos are in landscape mode, not portrait, will fix that as well.

[2020-08-13 00:15] huming2207 commented on #149
Hello @C47D

Yep, thanks for your efforts too!

Meanwhile, I think LVGL should provide its native support for rotation and better monochrome/greyscale support, preferably in the config, without any conversion callbacks in the display driver. This is for in case some weird panels that:

- have no or buggy hardware rotation in its controller chips;
- and/or, two or more primary/secondary-style contr

[2020-08-13 00:25] C47D commented on #149
Hi @huming2207,

I didn't knew the IL3820 controller supported cascaded controllers, but I think it should be up to the user to handle this.

What improvements on monochrome displays o you have in mind?

Carlos

[2020-08-13 12:27] huming2207 commented on #149
Hi @C47D

Sorry for the late reply.

I was thinking about the ghost marks and those panels with 2+ controllers. But I think maybe it's enough for using the rounder_cb and set_px_cb to achieve the monochrome/greyscale conversions anyway. But it would be better if LVGL can provide a rotation function. I know this can be also done by some hacks in set_px_cb, but it may be a bit repetitive if we later

[2020-08-14 14:52] C47D commented on #149
Hi Jason,

I'm going to merge #179, this is the first part of fixing the IL3820 driver issues, I removed the portrait inverted and landscape inverted options when selecting this controller.
Next week I will add the predefined display configuration for it.

If you want you can open an issue on LVGL main repository with the request you did above and see what is possible to do.

[2020-08-15 00:08] huming2207 commented on #149
@C47D Yep I will leave a feature request on main LVGL repo later. Again thanks for your efforts in regards to this issue!

[2020-08-15 00:35] C47D commented on #149
No problem @huming2207, always happy to help, sorry for taking so long to get it working. I will close the issue.

[2020-08-15 00:35] #149 closed

[2020-08-16 12:10] HoGC opened #183 "Can TTGO Camera Plus development board be added?"
I tried to configure, but no success
![56438efc5261fcb2f20356092eb63e3](https://user-images.githubusercontent.com/50402699/90333864-e7628400-dffb-11ea-8a3a-e6ca0fc2090c.png)
![c5264002da0353083682de80fd51752](https://user-images.githubusercontent.com/50402699/90333867-ef222880-dffb-11ea-897a-95ba79c9b433.png)
This is a ttgo project: https://github.com/lewisxhe/esp32-camera-screen

[2020-08-16 14:03] C47D commented on #183
Hi @HoGC, what do you mean with no success? The display didn't displayed anything? It displays garbage?

Can you paste here the output of `idf.py monitor`?

[2020-08-16 14:31] HoGC commented on #183
The display didn't displayed anything,  But the backlight is on.
 I can use this drive to display: https://github.com/Xinyuan-LilyGO/TTGO-T-Display
LOG
[code]

[2020-08-16 22:02] C47D commented on #183
I got a ST7789 display, I will try to see if anything is wrong, and also will check the repository you use to see if there's any difference with the initialization sequence of the display controller.

[2020-08-17 13:05] HoGC commented on #183
I tried the TTGO-T-Display development board to show it successfully, but TTGO Camera Plus display didn't displayed anything，ST7789 display。

[2020-08-17 13:11] C47D commented on #183
I checked my st7789 display and it looks good.

[2020-08-18 16:03] BFFonseca opened #185 "Update LVGL version?"
LVGL is now on 7.3.1 already.
I see that this and other repos are still using 7.0.2 dev.

Is there any reason for this?
Can I safely update my LVGL locally to the latest version?

[2020-08-18 16:05] embeddedt commented on #185
You can safely update to newer minor releases. There shouldn't be any API breakage - the only things that may have changed are source files being added/removed.

The delay in updating is caused by the fact that the projects need to be updated manually. This generally only happens if someone sends a pull request to update the project, a core maintainer has access to the hardware to test the updated

[2020-08-18 16:15] #185 closed

[2020-08-20 07:28] kisvegabor commented on #185
For the next minor release, I'm planning to make updating project automatically like this:
1. A new LVGL version is released by a script
2. The same script clones the project to update
3. Each project has an update script that recreates the `conf.h` files and changes the defines important for itself and leave the others.

[2020-08-20 14:29] HoGC commented on #183
I solved the problem，Add  `gpio_pad_select_gpio` when initializing GPIO
st7789.c (84)
[code]

[2020-08-20 15:41] C47D commented on #183
Thanks for letting us know the fix, I will add it later today.

[2020-08-20 21:38] C47D commented on #185
I think what we need to do is use lvgl as a esp component, some people had issues when we updated from v6 to v7.

Zephyr and Nuttx people have their own kconfig system, I consider we should not add an Kconfig file directly into lvgl main repo.

@kisvegabor is possible to have a audio meeting or something?

[2020-08-20 23:22] embeddedt commented on #185
Since we have `lv_conf_internal.h`, I think you could just make a stub `lv_conf.h` for each project that only defines what needs to be overridden from the default options. It might be simpler than replacing lines from the template.

[2020-08-21 05:01] kisvegabor commented on #185
It's also possible but might be difficult for people to change the config later.

[2020-08-21 05:03] kisvegabor commented on #185
Sure, what about Tuesday?
@embeddedt Would you like to join?

[2020-08-24 08:39] kisvegabor commented on #185
Hi,

I've just sent the invitations.

The main topic are  "LVGL as ESP component" and Kconfig questions, right?

[2020-08-24 17:18] C47D commented on #185
Yes, I would like to also talk a bit about the work to be done on `lv_drivers`.

[2020-08-25 10:59] C47D opened #188 "Update LVGL and lv_example submodules"
Currently we use LVGL 7.0.x, it would be great to update to LVGL 7.3.x to have the latest and greatest features of the project.

[2020-08-26 14:38] C47D commented on #175
Not staled

[2020-08-26 14:39] C47D commented on #174
Not stalled

[2020-08-27 02:16] C47D commented on #183
@HoGC I've added the configuration for the TTGO Camera Plus board on the `add_ttgo_camera_plus` branch, can you test it?
![imagen](https://user-images.githubusercontent.com/11037705/91375792-3620d280-e7e1-11ea-813f-43424aec9c5d.png)

[2020-08-27 02:20] HoGC commented on #183
OK, I'll test it later

[2020-08-27 07:29] kisvegabor commented on #188
Let me know if you need assistance from my side!

[2020-08-27 16:17] C47D commented on #188
Will do, I've been a bit busy with my day job but I will start the update later today.

[2020-08-27 16:19] HoGC commented on #183
@C47D Can be displayed normally
Thanks for added

[2020-08-27 16:24] C47D commented on #183
Thanks for testing it @HoGC, it will be merged into master.

[2020-08-28 02:11] #183 closed

[2020-08-28 15:21] C47D opened #190 "Check for ESP_PLATFORM on CMakeLists files."
^

[2020-08-28 15:25] C47D opened #191 "Update Kconfig symbol names to start with LV instead of LVGL"
See [here](https://github.com/zephyrproject-rtos/zephyr/issues/27772).

[2020-08-29 19:04] C47D commented on #168
Will add the steps @kisvegabor took to make it work with platformio into the README. Then I will close this issue as there wasn't any feedback.

[2020-08-31 09:08] kisvegabor commented on #168
To the README of this repo or lv_platformio?

[2020-09-01 00:18] C47D commented on #168
I was thinking on this repo README, what do you think?

[2020-09-01 08:02] kisvegabor commented on #168
I'm ok with adding this to the README here.
We can say to use `lv_platformio` repos and modify its platforimio.ini file.

[2020-09-02 12:10] #190 closed

[2020-09-03 02:41] #168 closed

[2020-09-03 14:10] C47D commented on #188
@kisvegabor both `lvgl` and `lv_examples` are now on the latest commit of the `release/v7` branch.

Still need to update the config and Kconfig files.

[2020-09-04 11:51] kisvegabor commented on #188
Awesome!

What do you think, let's create Kconfig manually and think about auto-generating later?

[2020-09-04 13:03] C47D commented on #188
Yes, I was thinking that, I can re use the Kconfig files that we already have.

[2020-09-07 08:40] #178 closed

[2020-09-08 10:55] C47D opened #197 "Update component.mk file"
Maybe we can check for the `ESP_PLATFORM` variable.

[2020-09-08 13:11] kisvegabor commented on #197
It seems a simple [ifdef](https://www.gnu.org/software/make/manual/html_node/Conditional-Syntax.html) can work:
[code]

[2020-09-17 17:06] C47D commented on #175
on the backburner

[2020-09-17 17:06] C47D commented on #174
on the backburner

[2020-09-18 06:00] YTvW opened #199 "Feature request: EVE3 BT81X commands"
Would it be possible to add EVE3 specific commands to the driver. Since the EVE3 has on board RAM that is not accessible with the current commands.

[2020-09-18 14:35] C47D commented on #199
Hi,

The EVE driver was contributed by a user, as I don't have that device. I will try to take a look at it and see what can we do to add the commands you've requested.

If you have that device it would be great if you could test the changes. Is there any particular command that you want to add?

[2020-09-21 22:45] #191 closed

[2020-09-23 16:35] C47D opened #200 "Identify ESP32 specific configurations in lv_conf"
Some configuration options require ESP32 specific values, such as
[code]

Current `lv_conf ` file doesn't include them, so we need to identify them and update `lv_conf` file accordingly.

[2020-09-23 17:31] kisvegabor commented on #200
I think it should be added to `lv_conf_internal.h` when [LV_CONF_SKIP](https://github.com/lvgl/lvgl/blob/6b06ac4b726f5e90881607387593e402202fca37/src/lv_conf_internal.h#L1917) and `ESP_PLATFORM` are defined.

It solves to add the mandatory ESP configs if lv_conf.h is not present.

[2020-09-23 17:47] C47D commented on #200
Didn't knew there is a `LV_CONF_SKIP` (or `CONFIG_LV_CONF_SKIP`) option, we should define it in the LVGL Kconfig and set it to y. I can do that later if you want.

[2020-09-23 18:04] kisvegabor commented on #200
Yes, this way the user still can chose to add lv_conf.h.

Ok, no problem.

[2020-09-23 23:50] davidjade commented on #199
I ported the EVE2 driver to LVGL but I don't have an EVE3. What differences does it have to access this other RAM? Is it not like the EVE2 where everything is memory mapped?

[2020-09-24 00:11] davidjade opened #201 "Adding support for Dual and Quad SPI modes"
I've been working on extending the current driver to support both Dual and Quad SPI and I've got it working with the FT81x but there are some serious caveats - the main one being that reading more than 1 byte of data at a time does not appear to working in HALF_DUPLEX mode using a mix of address and dummy bits as required by the FT81x. At this point I've spent a lot of time trying to understand wh

[2020-09-25 02:50] C47D commented on #201
Hi,

Thanks for the link, I find very useful to read others experiences.

Actually we are trying to contribute the display and touch controllers back to lv_drivers. There's a post on the forum about it, [here](https://forum.lvgl.io/t/merge-display-and-input-drivers-from-lv-port-esp32-to-lv-drivers/3021).

Do you have your work available somewhere so we can take a look at it and maybe incorporate i

[2020-09-25 06:14] davidjade commented on #201
I saw mention of the esp32 driver migration but I have not read up on it. I will take a look.

I'm not quite sure what you mean by taking a look to incorporate before the "big" change. If you are suggesting that I can put in this Dual/Quad change now to the current lv_port_esp32 before the "big" change over to make it a separated lv_esp32_driver, then I can most likely do that as the changes to en

[2020-09-25 06:27] davidjade commented on #199
@YTvW  One other question I might add: what in the EVE3 command set would benefit the LVGL driver? Access to more RAM won't actually help LVGL, as LVGL treats the FT81x as a dumb bitmap display device.

If it's not apparent already, the existing esp32 LVGL driver for FT81x displays really does not use any part of the EVE commands set to do anything. It simply sets EVE up to display one full screen

[2020-09-27 12:19] C47D commented on #188
Configuration files are still needed to update.

[2020-09-28 23:32] davidjade opened #203 "Adding support for multiple queued DMA transactions"
After adding the DIO/QIO SPI modes I have done some further experiments with enabling a queue of SPI in-flight transactions and the results so far are very promising. By using a queue of in-flight DMA transaction structures instead of having just one static in-flight transaction, the Esp32 DMA controller can be sent multiple SPI transactions to process instead of the current code, where it always

[2020-09-30 06:53] davidjade commented on #203
I've got this one pretty much ready to submit but there are maybe a few things to consider first:

1. This really, really boosts the performance of the FT81x driver but I also think it will boost the performance of the existing drivers for the il3820, jd79653a, and uc8151d. I say "think" because they all appear to send multiple SPI DMA transactions in bursts and this change reduces the latency bet

[2020-10-01 01:47] C47D commented on #197
Seems like `ESP_PLATFORM` is not defined when using make to bring up the menuconfig or cleaning the project, I'm getting the following warning messages:
``
/home/user/lv_port_esp32/components/lvgl_esp32_drivers/lvgl_touch/component.mk:1: warning: undefined variable 'ESP_PLATFORM'
/home/user/lv_port_esp32/components/lvgl_esp32_drivers/lvgl_tft/component.mk:1: warning: undefined variable 'ESP_PLATFO

[2020-10-01 08:36] maxd commented on #85
@C47D I want to clarify the following thing: you are using `if (NOT DEFINED PROJECT_NAME)` to disable call of `project(lvgl-demo)`. How about to use the same `if` to disable `include` directive with no need for make any manual changes (comment this line manually in sub-module repository)?

I have made this:

[code]

and it solved the error:

[code]

So, looks like with this fix the workaround desc

[2020-10-01 08:40] Mair commented on #85
yes. Another way would be
[code]

[2020-10-02 00:09] C47D opened #206 "Optional use of IRQ pin in XPT2046 indev."
My XPT2046 doesn't work properly, I can't get the IRQ to go low when I touch the screen, so I can't use it with the current `read` function implementation.

While searching other XPT2046 library codes I saw one that determines if the user is pressing the display by using reading the Z coordinate (amount of pressure) on the display.

Do you think it's useful to make the usage of the IRQ optional, i

[2020-10-02 01:48] C47D commented on #203
I have the IL3820, so I can test the new approach on that display, @huming2207 have contributed the other two drivers, so maybe he can test it, what do you think @huming2207?

It's great the new approach only changes code on the `disp_spi.c` file, this means it's really ESP32 specific and once we get the generic drivers done (hopefully one day soon) we can still using this approach.

I got some di

[2020-10-02 01:53] huming2207 commented on #203
Hello @C47D

I remember previously ESP32's SPI can't do DMA when it's in half-duplex, single-wire MISO+MOSI mode. But meanwhile, those e-paper panels are using those modes. It's fine if you don't read anything from the panel (i.e. assuming the panel is full-duplex, no MISO), otherwise you may have some issues when reading. The reading may be necessary for panel self-check and temperature measureme

[2020-10-02 02:42] davidjade commented on #203
Hi @huming2207

By single-wire SPI do you mean the same IO pin for both MISO & MOSI? Does the ESP32 SPI even support that? I don't recall seeing a reference to that support. Does this work now? That would have to be half-duplex mode if so, so would have the half-duplex mode DMA restrictions.

The main restriction with ESP32 half-duplex and DMA is you can't mix reading and writing in one transactio

[2020-10-02 03:13] huming2207 commented on #203
Hi @davidjade

Sorry I was distracted by something else. I meant the 3-wire SPI, that is CS, SCLK and DATA where DATA = MOSI and MISO together. See this:  https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/peripherals/spi_master.html#c.SPI_DEVICE_3WIRE

Hmm ok, understood. Previously for our own projects, I always kept the same setting for every transaction so probably that

[2020-10-02 03:17] C47D opened #207 "Remove display controller dependant code from lv_conf.h"
Currently the `lv_conf.h` file configure the `LV_COLOR_16_SWAP` symbol based on the selected display, like so:

[code]

We can clean this up by defining the `LV_COLOR_16_SWAP` option on the Kconfig file, and setting the value over there depending on the display, so it ends up like this:
[code]

[2020-10-02 03:55] davidjade commented on #203
@huming2207

If you look at disp_spi.c you'll see that in half-duplex reading, the write transaction length has to be set to zero and the rxlength has to be valid or the ESP32 driver flips out.

That said, this 3WIRE mode is one thing I can't test but currently it's not supported by disp_spi.c either.

[2020-10-03 16:08] colesnicov opened #208 "Esp8266 support"
Hello. It's support ESP8266-RTOS-SDK?

[2020-10-03 20:09] C47D commented on #208
Not really, this is just meant for ESP32 chips.

[2020-10-04 05:44] #208 closed

[2020-10-05 02:23] #203 closed

[2020-10-07 18:16] maxd opened #212 "Typo in CONFIG_LV_FONT_MONTSERRAT12SUBPX"
**Describe the issue**

`CONFIG_LV_FONT_MONTSERRAT12SUBPX` option from `components/lvgl/lv_conf.h` has typo: `PX` instead of `PIX`. It cause compilation error if `Montserrat 12 subpixel` font is selected in menu config.

I suppose that instead of fix typo in this place the `LV_FONT_MONTSERRAT12SUBPIX` config option from `components/lvgl/Kconfig` should be renamed to `LV_FONT_MONTSERRAT12SUBPX` bec

[2020-10-07 18:57] C47D commented on #212
Thanks for the report, I will fix it later today.

[2020-10-08 05:50] C47D commented on #212
@maxd Does #213 solves the issue?

[2020-10-08 06:17] maxd commented on #212
@C47D I have checked compilation with and without Montserrat 12 sub-pixel font in my project. Yes, everything works fine without any compilation errors :)

[2020-10-08 06:21] C47D commented on #212
Great, thanks for the quick reply @maxd, it takes a lot of time to compile in my pc (it's quite old), will merge the PR!

[2020-10-08 06:22] #212 closed

[2020-10-08 17:10] BFFonseca opened #215 "Using a third SPI peripheral with LVGLs Display and Touch drivers"
**Describe the issue**
I'm using an ESP32 with a ILI9341 driver display and a XPT2046 touch driver. They're both running on HSPI.

I'm trying to incorporate another SPI peripheral in the same bus (HSPI).

In the ESP32 documentation it says it is possible to have 3 peripherals per SPI bus.

When I try to use the same SPI bus for all of these, I get the error:
[code]

I am initializing the 3rd SPI p

[2020-10-08 18:38] davidjade commented on #215
I am not positive about this but I believe this issue may be trying to call spi_bus_initialize() a second time. I think it can only be called once and the esp32 LVGL drivers already do that.

[2020-10-09 02:02] C47D commented on #207
Closed with #210

[2020-10-09 02:02] #207 closed

[2020-10-09 02:40] C47D opened #216 ""Readable" LV_COLOR_DEPTH option in lv_conf.h"
Hi,

@embeddedt I think you can help me out on this one, I'm comparing the current `lv_conf.h` with the `lv_conf_internal.h`. This is because we want to handle all configurations inside `lv_conf_internal.h` so we don't need `lv_conf.h` to use LVGL as an ESP-IDF component.

Here's the issue:

Currently the `LV_COLOR_DEPTH` configuration looks like this in `lv_conf.h`:
[code]

In `lv_conf_internal.h

[2020-10-09 02:45] C47D commented on #216
Same applies to options like this:
[code]

`CONFIG_LV_FEATURE_USE_BLEND_MODES` should have the value 0 or 1, using the workaround we can make that:
[code]

Again, much easier to read, but this work will increment the Kconfig size and work on it.

[2020-10-09 08:21] kisvegabor commented on #216
Hi Carlos,

I think it's important to keep `lv_conf_internal.h` generic and make it possible to generate is from `lv_conf.h`. Therefore I like your workaround for `LV_COLRO_DEPTH` and other special cases.

However, I think we should handle simple bool values in `lv_conf_internal.h` automatically as there are a lot of them.

In lvgl parts are guarded like
[code]

So setting `LV_USE_BLEND_MODES fals

[2020-10-09 10:23] BFFonseca commented on #215
I have tried that and now I get
`I (172413) spi_master: Allocate RX buffer for DMA`

Do you have any idea why this is?
From what I can tell, LVGL alocates the buffer size relative to the display buffer size

[2020-10-09 11:39] davidjade commented on #215
The LVGL SPI driver is set up to use DMA so if you are using buffers for transfers, then they must be in DMA capable RAM. You need to use heap_caps_malloc() and specify MALLOC_CAP_DMA for your transfer buffers.