[2020-10-09 12:37] embeddedt commented on #216
Kconfig doesn't output any define if a boolean is false, so I think what you would end up with is `LV_USE_BLEND_MODES` having an empty value. Usually the compiler will complain about that if you try to use it in an `#if` statement.

[2020-10-09 12:41] kisvegabor commented on #216
Now it looks like this in `lv_conf_internak.h`:
[code]

So if the a value is not defined then we end up with the default value of LVGL.
Probably we should make a policy to have the undefined values to 0/false/disabled.

[2020-10-09 16:35] C47D commented on #216
Ok, will start pushing changes to the Kconfig where the workaround fits.

[2020-10-10 16:37] C47D opened #218 "FULL Duplex support on ILI9341 display driver."
Currently the only driver that supports (have code to do it) full duplex communication is the FT18x.

I need to read back some information from the ILI9341 driver, how can we add support for full duplex communication for it? driver-specific code, generic code?

[2020-10-10 23:27] davidjade commented on #218
FULL Duplex literally means reading and writing at the same time - bits are transferring in both directions at the same time. Even thought the FT81x has code to do this, it doesn't really operate in full duplex mode. In full duplex mode, it sends some address bits and/or commands, ignores some dummy bits as required by the FT81x, and then receives some data. While it's sending data, it ignores any

[2020-10-15 14:14] #200 closed

[2020-10-17 20:24] #174 closed

[2020-10-19 16:47] C47D commented on #201
Closed with #202

[2020-10-19 16:47] #201 closed

[2020-10-21 19:00] C47D commented on #199
Reopen if there's some feedback.

[2020-10-21 19:00] #199 closed

[2020-10-24 13:57] C47D commented on #206
Not dead

[2020-10-24 13:57] C47D commented on #197
Needs further investigation

[2020-10-24 13:59] #188 closed

[2020-10-24 13:59] C47D commented on #175
Need more time to get this done.

[2020-10-24 18:24] cmumford opened #220 "PlatformIO instructions are incomplete"
I'm new to PlatformIO, but I'm pretty sure that the [platformio instructions](https://github.com/lvgl/lv_port_esp32#platformio-support) in README.md are incorrect. I read through issue #168 and it only recommends the following:

1. Start with [lv_platformio](https://github.com/lvgl/lv_platformio)
2. Modify `platformio.ini`
3. Modify `main.cc`

I think it is ambiguous whether it is necessary to cre

[2020-10-25 20:50] cmumford commented on #220
I managed to get my project running with lv_port_esp32. Here's what I had to do:

1. Checkout lv_port_esp32 into the //lib directory.
2. Make the following changes to lv_port_esp32:
   1. Include lvgl.h differently, PR #221
   2. Include lv_refr.h diffently, PR #222.
   3. Added a library.json file (no PR yet - more on that later).
3. Made the following changes to my app's project:
   1. Modified

[2020-10-26 11:21] kisvegabor commented on #220
Hi Chris,

Thanks for sharing your experiences. The things you have pointed out seems correct.

In the very near future, we will make `lvgl` and `lv_examples` directly work as an ESP component. lvgl was updated to work with Kconfig (Kconfig file will be added soon) and without `lv_conf.h`, that is you can add LVGL defines to `platfromio.ini`.  (it should solve "Hopefully come up with an alternativ

[2020-10-26 19:34] BFFonseca commented on #215
@C47D were you able to do some testing on this?

[2020-10-28 02:34] C47D commented on #215
Hi @BFFonseca,

I did, and successfully added two devices into the SPI master, apart of the display (my touch controller isn't working). What I did in main, is:
[code]

`spi` is a global variable of type `spi_device_handle_t`, you also would need to include `driver/spi_master.h`.

I haven't tested transferring data with the new device, the new device is a SD card connected via SPI, so it will take

[2020-10-28 13:26] BFFonseca commented on #215
@C47D I will do some more testing based on that code when I get the chance.
I will let you know when I do.
Thank you!

[2020-10-28 15:54] C47D commented on #215
I will try to add a thread to do dummy transfers periodically.

[2020-11-02 01:20] #175 closed

[2020-11-02 01:20] #197 closed

[2020-11-02 01:20] #206 closed

[2020-11-02 10:16] kisvegabor commented on #220
@cmumford Thanks for sharing this. I wonder if we can add these environment settings to [platform.ini](https://github.com/lvgl/lv_platformio/blob/master/platformio.ini#L53) file `lv_platformio`.

[2020-11-03 10:00] neilim opened #227 "Display compatibility problem (other resolution than 800x480)."
**The problem:**
480x272 display doesn't work properly.
**Why?**
I have found a bug in this file: _components/lvgl_esp32_drivers/lvgl_tft/FT81x.c_ in this function: void _TFT_bitmap_display(void)._
In this line:
_EVE_cmd_setbitmap(SCREEN_BITMAP_ADDR, EVE_RGB565, **800**, **480**);_
The resolution parameters are fixed to 800x480. If the configured display resolution is 480x272, then the library is

[2020-11-03 20:57] davidjade commented on #227
Whoops. Thanks for catching that. I will get it fixed ASAP.

[2020-11-04 06:53] #227 closed

[2020-11-04 06:53] C47D commented on #227
Thanks @neilim for reporting the issue, thanks @davidjade for the quick fix.

[2020-11-07 11:55] app-z opened #229 "fatal error: lvgl/lvgl.h: No such file or directory"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**

I tried  compile example for ST7789

.dir/main.c.obj.d -o esp-idf/main/CMakeFiles/__idf_main.dir/main.c.obj   -c ../main/main.c
In file included from ../components/lvgl_esp32_drivers/lvgl_helpers.h:18,
                 from ../main/main.c:25:
../

[2020-11-07 15:07] C47D commented on #229
Hi, try editing it to:

[code]

That should make it work, if so please let me know and I will do the proper fix.

[2020-11-07 17:45] C47D commented on #216
I'm starting to hate this bot... This issue should be solved once we get the Kconfig file into lvgl.

[2020-11-07 18:27] embeddedt commented on #216
You can use the pinned label to disable the bot on certain issues. I've added it to this one.

![image](https://user-images.githubusercontent.com/42941056/98448809-ee7dc780-20fc-11eb-9058-5ced24692f73.png)

[2020-11-07 21:50] app-z commented on #229
Sorry I fogot about --recurse-submodules
At least I can build now

[2020-11-07 22:35] C47D commented on #229
Thanks for letting me know, I will leave the issue open just in case you need any help.

[2020-11-08 11:11] kisvegabor commented on #216
You can also modify the settings of the bot here:
https://github.com/lvgl/lv_port_esp32/blob/master/.github/stale.yml

[2020-11-09 07:03] #218 closed

[2020-11-18 10:43] eme-bennytang opened #230 "True double buffer with SPI DMA in ESP32"
Hi,

I am creating a lvgl project in ESP32.

Display driver: ST7735S (Max 13MHz SPI CLK)
LCD: 160*128 pixels
ESP32 CLK: 160MHz

Been trying to figure out what can be done to reduce lv_task_handler duration and to increase FPS.

My problem is:
- lv_task_handler() last for a really long time (~70ms in my case with 1/4 buffer) and sometimes exceed 100ms if UI is complicated
- Tried using screen-sized

[2020-11-19 05:52] C47D commented on #215
I'm currently working on adding a SD card connected via SPI (same spi of the display controller) for a personal project, will update if I'm able to make it work.

[2020-11-19 14:48] kisvegabor commented on #230
Hi,

With a screen-sized double buffer, LVGL assumes that the flushing is only the frame buffer address change. It's not the case in your configuration as you need to send the image to the display via SPI.

If you want screen-sized buffers but not "true double buffering" just use `screen_size+1` sized buffers.

See the different buffering modes here: https://docs.lvgl.io/latest/en/html/porting/dis

[2020-11-20 03:08] eme-bennytang commented on #230
Hi,

Oh I see!
So if I want to "render and flush in parallel" I should not be using "true double buffer" (2 screen sized buffer).
Instead I should configure the buffers size to screen size +1 to avoid "true double buffer" but still enjoing "rendering and flushing" in parallel?

Thanks for the help anyway, been struggling to understand the buffer configurations

[2020-11-29 17:29] #229 closed

[2020-12-01 12:21] romocitto88 commented on #229
Hi I'm using this library on PlatformIO, where have I execute the command "--recurse-submodules" to solve this issue?
I've included the library directly from platformIO, in library section.
Thank you in advance.

[2020-12-01 16:27] C47D commented on #229
Hi @romocitto88, you should use the --recurse-submodules` when cloning this repo.

[2020-12-03 21:18] samuelbles07 opened #231 "RPi MPI3501 Compile error error: 'data' undeclared"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
Compile error using preconfigured `RPi MPI3501`.

**Code to reproduce the issue**

TFT Display controller config:
- Predifined display: RPi MPI3501
- SPI Bus: HSPI
- SIO (MOSI/MISO)
- HALF Duplex
- Landscape
- PIN: MOSI 23, CLK 18, CS 5, DC 12, RS

[2020-12-04 17:45] samuelbles07 commented on #231
I tried to comment out all statement inside [ili9486_set_orientation](https://github.com/lvgl/lv_port_esp32/blob/master/components/lvgl_esp32_drivers/lvgl_tft/ili9486.c#L196). Compile success and works but the orientation is vertical (i think).

![photo6221729912235076194](https://user-images.githubusercontent.com/18721002/101195860-9fdb3300-3692-11eb-9da9-b0422ae4f726.jpg)

The problem is the def

[2020-12-08 14:43] tlechman49 commented on #220
Is more work being done on this topic? Should I just follow steps as @cmumford described? The instructions for set up with platformio are still incomplete and this post doesn't seem like it should be left closed.

[2020-12-08 16:44] cmumford opened #233 "LVGL does not build for ESP32-S2"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**

When compiling the build fails: (see below).

I made a fix at https://github.com/cmumford/lv_port_esp32/commit/8697e2cdd05ba3d49393a52f43959cdb92c178a9. However, I don't yet have an attached screen, so it is untested - it only compiles. I will cr

[2020-12-08 18:31] C47D commented on #220
Hi @tlechman49, can you try the @cmumford steps? If they work please let us know, on the meantime I reopen the issue.

[2020-12-08 18:35] cmumford commented on #220
I'm happy to put together a PR with these changes if @tlechman49 concludes they are correct.

[2020-12-08 18:35] C47D commented on #233
Hi @cmumford, thanks for the report.
I don't have any ESP32-S2 at hand, but if I remember correctly it doesn't have the same SPI master ports as the ESP32, let me check it's documentation and we can try figure out a way to make it work.

I will try to update the LVGL submodule as the Kconfig file now is available on the main repo, but before that I will create a release with the current state of t

[2020-12-08 18:42] tlechman49 commented on #220
So I actually just posted a pull request ( #234 ) for this that worked fine for me. If someone else tests that, I guess further notes should be added on how to set the .ini file in the readme and then this would be solved.

[2020-12-08 22:47] C47D commented on #231
Hi @samuelbles07 I will try to take a look at this later today.

[2020-12-09 06:37] C47D commented on #233
Can you test using this branch https://github.com/lvgl/lv_port_esp32/tree/esp32s2_aware ? It's a hotfix but I didn't had time to build the project using ESP32S2 as target.

[2020-12-09 16:08] samuelbles07 commented on #231
Hi @C47D , thanks for your response, looking forward!

It's not related to MPI3501 but this driver [file](https://github.com/lvgl/lv_port_esp32/blob/master/components/lvgl_esp32_drivers/lvgl_tft/ili9488.c#L226) might have same issue too

[2020-12-09 16:20] cmumford commented on #233
The esp32s2_aware branch built successfully for me. I did see two warnings at the end of the build.

[code]

[2020-12-09 21:55] C47D commented on #233
Seems like an issue in the Kconfig file.

[2020-12-09 22:05] cmumford commented on #233
Agreed. I made one comment on https://github.com/lvgl/lv_port_esp32/commit/743104ba96d2c9275d57dc4ba370e9c2d6a4f575, but I haven't done any Kconfig work, so that might be intentional.

[2020-12-10 04:44] C47D commented on #233
@cmumford I've updated the branch, selected the FSPI by default on ESP32S2 targets and fixed a typo that triggered the warning on https://github.com/lvgl/lv_port_esp32/issues/233#issuecomment-741882137

[2020-12-10 05:24] cmumford commented on #233
I tested using commit e326044. It built OK, but still a warning:

[code]

Interesting that the warning was only emitted once - not twice like last time.

[2020-12-10 06:08] C47D commented on #233
My fault, it was another typo, just pushed 3fc2e2f, that should fix it.

[2020-12-10 16:49] cmumford commented on #233
That works - no errors/warnings. 👍

[2020-12-10 20:30] C47D commented on #233
Great, feel free to close the issue when you think it's fully solved.

[2020-12-10 20:43] cmumford commented on #233
I'm not sure I'll be able to test this weekend so I'll close this now. I'll open a new issue if I encounter any ESP32-S2 issues when I get around to testing. Thx for the quick fix @C47D.

[2020-12-10 20:43] #233 closed

[2020-12-10 20:52] C47D commented on #233
No rush @cmumford, test it when you have some free time to do so.

Open a new issue if you have any problems.

[2020-12-11 20:36] C47D commented on #231
Hi @samuelbles07 ,

This function `ili9488_send_cmd(0x36)` lets the display driver know that we want to change it's orientation, after that we send the configuration value of the register with address 0x36. The elements of the `data` array are configuration values that works on my display.

[2020-12-14 16:31] cmumford commented on #233
Followup... **working fine** on my ESP32-S2 ([Cucumber R ESP32-S2](https://www.gravitech.us/curesdebo.html)). I only tested FSPI - and didn't test touch - just display.

[code]

[2020-12-14 16:51] C47D commented on #233
Thanks for the follow up @cmumford !, touch code is a bit dated, I might need to work on it.

[2020-12-16 17:23] kisvegabor opened #236 "Moving driver to it's own repo"
Hi,

I think the last step to finish the "LVGL as an ESP component" project is to move the drivers to a separate repo.

Are there any blocking issues to do this?

[2020-12-16 22:47] C47D commented on #236
I can try moving the `lvgl_esp32_drivers` directory into the other repo as is, and fix errors, if any.

[2020-12-17 06:34] C47D commented on #236
See test branch, I think I didn't broke anything 😄

[2020-12-17 12:54] kisvegabor commented on #236
Cool, thanks! :slightly_smiling_face:

It seems to me it works the same way as lvgl, and lv_examples - a "normal" ESP32 component that can be used directly in the component folder. Is it correct?

[2020-12-17 14:35] C47D commented on #236
Yes, it's similar to those components, the only difference is the location of the Kconfig files. Because of that we need to tell the esp-idf framework the location of those files.

Just let me do another test and I will let you know when to merge it, what do you think?

[2020-12-17 18:49] kisvegabor commented on #236
Perfect! :heart:

[2020-12-18 20:05] Lisa999 opened #238 "disp_drv.rotated not working with ST7735 driver"
The problem is that the ST7735 display is 160x128 pixels.
So if you set:

- Landscape during compile time
- disp_drv.rotated = 1 in the code
- Swap display width and height in the code
- Call the ST7735 rotation function for a hardware rotate

It still is not working in portrait mode. The upper 128 pixels are working in portrait mode, the bottom 32 pixels are not functioning at all (pixel noise).

[2020-12-18 20:58] Lisa999 commented on #238
Ok, one step further. Setting this helps a little:
    disp_drv.hor_res = canvas_width;
    disp_drv.ver_res = canvas_height;

[2020-12-20 21:49] C47D commented on #238
Hi,

You're right, the drivers code were developed without taking in consideration the `rotated` field. We're about to move the drivers code into its own repository. You can find it [here](https://github.com/lvgl/lvgl_esp32_drivers).

After merging that repo I will try to update the drivers orientation code.

[2020-12-20 22:29] Lisa999 commented on #238
void st7735s_flush(lv_disp_drv_t * drv, const lv_area_t * area, lv_color_t * color_map)
{
	uint8_t data[4];
	ESP_LOGD(TAG, "Flush, Portrait mode: %u, width: %u , height %u", drv->rotated, drv->hor_res, drv->ver_res);

	/*Column addresses*/
	st7735s_send_cmd(ST7735_CASET);
	data[0] = (area->x1 >> 8) & 0xFF;
	data[1] = (area->x1 & 0xFF) + (drv->rotated ? COLSTART : ROWSTART);
	data[2] = (area->x2 >>

[2020-12-20 22:31] Lisa999 commented on #238
Ditch st7735s_portrait_mode var, totally unnecessary...

[2020-12-20 22:33] Lisa999 commented on #238
Wrong:
uint8_t data[] = {0xC8, 0xC8, 0xA8, 0xA8};
Right:
uint8_t data[] = {0xC0, 0x00, 0x60, 0xA0};

[2020-12-24 11:38] #230 closed

[2020-12-24 16:59] C47D commented on #236
Closed with bfbc1c5d5fc729f76e0d3163f920dc26b5464c59

[2020-12-24 16:59] #236 closed

[2020-12-31 20:12] C47D opened #241 "Update README"
@kisvegabor and @embeddedt , I'm thinking on updating the README with some points:

- Better pictures, the current ones doesn't look nice (they suck to be honest, I'm not good at taking pictures).
- Remove the [install-this-project-as-a-library-submodule-in-your-own-project](https://github.com/lvgl/lv_port_esp32/#install-this-project-as-a-library-submodule-in-your-own-project) section, now the use

[2021-01-01 03:41] C47D opened #242 "lv_label_set_text_fmt() outputting f on display and not the actual text"
Reported in the forum, see: https://forum.lvgl.io/t/lv-label-set-text-fmt-outputting-f-on-display-and-not-the-actual-text/4164

[2021-01-03 19:55] ssuraci opened #244 "Display problem on ESP32 / ILI9341"
**How to reproduce**:

I've cloned this repo and tried the default example (`Show demo widgets`) on
- board: `ESP32-WROVER-B`
- display: `ILI9341` with `XPT2046` touch (`KMRTM28028`)
- SDK: `ESP-IDF 4.2 SDK`
- Dev machine: Ubuntu 20.04

**Issues**
and I've experienced two issues:
1) build fails (with lots of `undefined symbols`) because of an ordering mismatch in `LINK_LIBRARIES`; I've created a P

[2021-01-04 02:35] C47D commented on #244
Hi,
Thanks for the detailed report, sorry for the inconveniences you're getting, I'm getting back to maintain this repo from a month being off.

[2021-01-04 08:31] kisvegabor commented on #220
The PR is merged so I close this issue.

Thank you @tlechman49

[2021-01-04 08:31] #220 closed

[2021-01-04 08:33] kisvegabor commented on #241
Sounds good.

I think the info in the README could be added to the [docs](https://docs.lvgl.io/latest/en/html/get-started/espressif.html) too. So we can keep them in sync at least to some extent.

What do you think?

[2021-01-04 18:51] C47D commented on #241
For reference: To update the README I'm working in [this](https://github.com/lvgl/lv_port_esp32/tree/update_readme) branch.

What do you think?

That's great, I think.

[2021-01-05 15:55] petestewardson-schneider commented on #146
Is there any help anyone can give on this? It seems it's confirmed not to be working but I don't know where to start to debug.

[2021-01-06 02:25] acer1204 opened #246 "how to control lv_indev_t *mouse without touchpad to move and click?"
my ili9341 tft is not touch version.
i want to control mouse by two adc as intput x,y.

this is my mouse init code, it will show x icon as cursor .

`lv_indev_t *mouse = lv_indev_get_next(NULL);`
`cursor = lv_label_create(lv_scr_act(), NULL);`
`lv_label_set_recolor(cursor, true);`
`lv_label_set_text(cursor, "x");`
`lv_indev_set_cursor(mouse, cursor);`
the lcd show x cursor icon.

when i use this a

[2021-01-06 02:56] embeddedt commented on #246
LVGL should move the cursor itself if you supply the correct input data in the input device's `read_cb` function. Please note that you need to use an input device of type `LV_INDEV_TYPE_POINTER` for the cursor to function correctly.

----------------------
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

It's possible

[2021-01-06 02:56] #246 closed

[2021-01-07 18:11] jhancharler opened #247 "RA8875 7" LCD not functioning with this library (white screen random lines) - ER-TFTM070-5 screen from BuyDisplay"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Issue**

After setting up the device pins on menuconfig and flashing the basic example (with some modifications that I will explain below), I see a white screen with some coloured lines. Like this:

![ra8875](https://user-images.githubusercontent.com/56173677/10392803

[2021-01-07 21:17] jscott304 commented on #244
I had the same issue. My confusion came from having already set the display size for the driver not realizing I needed to set it there too.

[2021-01-07 21:28] ssuraci commented on #244
OK it was that ! Now it works, thank you both @C47D and @jscott304

[2021-01-07 21:28] #244 closed

[2021-01-07 21:53] C47D commented on #244
Thank you for being patient, I need to document the last repository changes.

[2021-01-07 22:03] C47D commented on #247
Hi, can you attach the `idf.py monitor` output?

[2021-01-07 22:04] C47D commented on #242
Fixed in LVGL [here](https://github.com/lvgl/lvgl/pull/1988)

[2021-01-07 22:04] #242 closed

[2021-01-07 22:09] #216 closed

[2021-01-08 11:42] jhancharler commented on #247
Hey C47D, thanks for your great work with this library, really enjoying using it :).

Here is the monitor output:

[ra8875_idfpy_menuconfig.txt](https://github.com/lvgl/lv_port_esp32/files/5786521/ra8875_idfpy_menuconfig.txt)

Here's the display that I'm using- it's from BuyDisplay. All the solder pads behind are soldered/left open to enable 4-wire SPI. **Resolution is 800 x 480**

![ra8875_back](

[2021-01-08 16:20] C47D commented on #247
@jhancharler Thanks for all the information, I will try to take a look at it later today.

[2021-01-08 16:49] C47D commented on #247
Is it possible for you to test the latest master? I've cleaned up a bit the lvgl_esp32_drivers component.

[2021-01-08 18:45] jhancharler commented on #247
I've pulled the latest master.

`
Unpacking objects: 100% (24/24), 7.39 KiB | 1.05 MiB/s, done.
From https://github.com/lvgl/lv_port_esp32
   f1427fa..0b51387  master     -> origin/master
Fetching submodule components/lvgl_esp32_drivers
From https://github.com/lvgl/lvgl_esp32_drivers
   6b1e219..1cda575  master     -> origin/master
Updating f1427fa..0b51387
Fast-forward
 CONTRIBUTE_CONTROLLER_SUPP

[2021-01-08 21:53] C47D commented on #247
Thanks for trying on another display, the driver for the one you're using (RA) was shared by another user. I will take a look at it because I'm not familiar with it.

[2021-01-08 22:20] davidjade commented on #247
@jhancharler I don't have this display so I can't check but I would start with a much lower clock rate as it could just be SPI corruption. Also make sure the right SPI duplex mode is configured. It looks like you are trying Full Duplex. Are you sure it is full duplex SPI? I bet it is not (full duplex means it sends and receives at the same time, unusual for a display).

[2021-01-09 19:34] jhancharler commented on #247
@davidjade Thanks for your suggestion- I thought half-duplex might have been it, but unfortunately it didn't appear to solve the issue for me.

The SPI is being clocked at 1 MHz currently which is the slowest setting the menuconfig allows.

Note: When setting SPI to half-duplex, if it is making use of DMA for SPI transactions (like how this library does), we are only allowed to send or receive, bu

[2021-01-09 20:34] #241 closed

[2021-01-09 20:34] C47D commented on #241
Closed with #245 and #248

[2021-01-09 20:58] C47D commented on #247
Hi, there was a recent update on the lvgl_esp32_drivers and some symbol names weren't updated (see https://github.com/lvgl/lvgl_esp32_drivers/issues/5#issuecomment-757101320), can you try using this https://github.com/lvgl/lvgl_esp32_drivers/tree/fix/update_lvgl_helpers branch of lvgl_esp32_drivers?

[2021-01-09 21:12] C47D commented on #247
This commit in particular updates the symbols used in your display driver https://github.com/lvgl/lvgl_esp32_drivers/commit/6a451cacf7d217965b66ff72afc015f51aa0a7b8

[2021-01-10 14:51] jhancharler commented on #247
Thanks @C47D , I will update this thread when I try it. I can't get round to it now but will post when I do. Thanks again for the suggestion.

[2021-01-10 15:03] C47D commented on #247
That's ok, I will update this if I find something else.

[2021-01-11 20:00] VedantParanjape opened #249 "Static text shows up on display everytime I reboot"
here's my code: https://pastebin.com/6EQgP0Dh

when I boot my board, it shows a static text "Text" on the upper left corner of the screen as follows. I tried clearing my screen, refreshing it. just doesn't work. Is this some bug ? Tested it on multiple screens too.

here's the picture and video exhibiting this
Video: https://streamable.com/6zpzsf

![IMG_20210112_001739](https://user-images.githubu

[2021-01-12 11:19] kisvegabor commented on #249
What happens if you add `lv_refr_now(NULL)` to line 152?

BTW, the video not available :slightly_frowning_face:

[2021-01-12 11:38] VedantParanjape commented on #249
https://streamable.com/6zpzsf Sorry, reuploaded the video, take a look

[2021-01-12 13:38] C47D commented on #249
I saw a lot of changes on the task infinite loop that should not be there, I am able to print the labels with no problem.

[2021-01-12 17:38] VedantParanjape commented on #249
Did you check that video, If I try to print anything before infinite loop, "Text" appears on screen. As soon it enters loop, that specific text disappears. If you need access to complete repository let me know, it's private as of now.

[2021-01-12 22:02] C47D commented on #249
I didn't, I think, @kisvegabor correct me if I'm wrong, `lv_task_handler` shouldn't be called on the same loop than `lv_tick_inc`, so the guiTask infinite loop should look like this:

[code]

The tick callback like this:
[code]

And you should be able to update the labels using an lv_task.

I think "Text" is being written by default to the display, I am not able to exactly pin point how.

I didn't

[2021-01-12 22:11] embeddedt commented on #249
I'm not @kisvegabor but it looks correct to me.

[2021-01-13 12:33] kisvegabor commented on #249
I'm @kisvegabor and to be honest, I have never seen serious issues with adding them to the same loop. :smile:

The only drawback is that it makes animations inaccurate, but it should work.

[2021-01-13 17:52] VedantParanjape commented on #249
@kisvegabor @embeddedt @C47D Yes, agreed. code is shit, I am new to lvgl, learning it, and docs isn't that great :(

I still can't understand why does "Text" appear on the screen out of nowhere, is it some default routine ?

[2021-01-13 17:53] embeddedt commented on #249
It's the default text a label displays when it is created. This would normally only happen if `lv_label_set_text` wasn't being called, or failed for some reason. Perhaps try [turning on logging](https://docs.lvgl.io/latest/en/html/porting/log.html) if you haven't already. See if anything interesting comes up.

[2021-01-14 07:22] VedantParanjape commented on #249
I was asking exactly this, that was the whole point of the issue 😆

[code]

Did this and all my problems went away, thanks for the help @C47D @embeddedt @kisvegabor :)

[2021-01-14 16:27] C47D commented on #249
@VedantParanjape it does look as an interesting board! and no problem, sorry for taking this long to solve it.

[2021-01-14 16:27] #249 closed

[2021-01-24 17:10] C47D commented on #247
Hi @jhancharler , did you had any chance to test the changes?

[2021-02-01 18:29] jockm opened #252 "This project will not build correctly on the ESP32-S2"
# Description
If you try and compile this project using the ESP32-S2 you get the following error

[code]

The reason for this that the ESP32-S2 has less SRAM than the ESP32 (320MB v 520MB) and a smaller SRAM0 segment.

Out of the box the default max resolution of 480x320, if you use the ILI9341 TFT Controller, the `DISP_BUF_SIZE` is 480*64*2, os 60K.  Because the default is to use double buffering

[2021-02-01 19:05] VedantParanjape opened #253 "Random crashes due to small changes in event handler"
The esp32 crashes randomly when I remove call to the external function `action_menu_page()` from the event handler. I tried doing this, I can add any function which does random things and stop it from crashing.

Here is the complete code: https://pastebin.com/im4nTZ7w

If line 106 is uncommented, it works fine.

This is my main code
[code]

[code]
**ESP-IDF version**
V4.2-release

**Development ki

[2021-02-01 22:15] davidjade commented on #252
Some of these options may not be valid as the buffer needs to be in DMA capable memory. That rules out PSRAM, regular malloc(), etc... SRAM is the only place that can be used for DMA buffers and transaction descriptors. The only realistic option may be to just use smaller buffers that fit in available SRAM.

[2021-02-01 22:26] jockm commented on #252
@davidjade OK fair, but the size of the buffers is pre calculated based on the horizontal size in the config files, the code either needs to be modified to come up with sizes that will work with the -S2, or documented to ignore the example given.

And fine you can't use regular clib malloc, but one could use `pvPortMallocCaps()` which would still be called "malloc".  My point still stands on that

[2021-02-01 22:40] davidjade commented on #252
If you look at the ESP docs for DMA, it states that heap_caps_malloc(size, MALLOC_CAP_DMA) must be used for DMA buffers and that flag is going to force it right back into the SRAM heap.

I suspect it will be necessary to reduce the buffer size for SRAM constraint devices. I personally don't have an S2 device so I cannot test this.

[2021-02-02 00:32] embeddedt commented on #252
Please keep in mind that many of us are hobbyists doing this in our free time, and we don't necessarily have access to the latest hardware immediately. We of course appreciate reports like this and will do our best to resolve the issue.

[2021-02-02 00:41] jockm commented on #252
@embeddedt I am, but I am also cognizant that there is a company that is offering services and support.  That raises the bar of what I expect a little.  The -S2 was announced in 2019, boards were available in march of 2020.  So no, I don't expect people to jump as soon as a new board is out, but after about 6-10 months or so I do kinda expect that someone to take the 5-10 minutes to `idf.py set-ta

[2021-02-02 02:26] embeddedt commented on #252
@jockm Fair enough; that's a reasonable point.

[2021-02-02 04:34] jockm commented on #252
@davidjade I think the larger point is that in the time we have quibbled over DMA and various forms of malloc, y’all could have closed this bug simply by documenting that the example does on work on the -S2 as is. It was one of the courses of action I suggested

However right now anyone who has a -S2 and wants a GUI aid going to be frustrated and possibly baffled by the error. They are more likely

[2021-02-02 05:11] jockm commented on #252
@davidjade I have read the docs — I had to dig into them deeply to fully understand the nature of this problem before I reported it.  I will refer you to [the documentation](https://docs.espressif.com/projects/esp-idf/en/latest/esp32s2/api-reference/system/mem_alloc.html#dram), you will find this note:

If you dig further you will find that the statically allocated DRAM area is actually about 114K

[2021-02-02 11:12] Mair opened #254 "lvgl/lvgl.h: No such file or directory when using FT81X"
**Describe the issue**
When building the project, if I use a development board such as the WROVER kit v4.1 it builds correclty however, if I select to use a screen driver such as the FT81x I get a compilation error

**Code to reproduce the issue**
standard git clone (with recursion) on master

**Expected Results**
build correcltly

**Actual Results**
[code]

**ESP32 Chip version**
N/A

**ESP-IDF v

[2021-02-02 11:22] coztemur commented on #254
Im having the same problem with FT810 display driver with 7 inch Satoz TFT.
It looks there is a bug in the driver

[2021-02-02 17:19] jockm opened #255 "Question: Why is the default buffer size for the ILI9341 larger than for similar display controllers in lvgl_helpers.h?"
If we look in `lvgl_helpers.h` where `DISP_BUF_SIZE` is set/calculated you will see:

[code]

Why is the `DISP_BUF_SIZE` 1.6x that of similar controllers?  I find it odd because it is very common for for ILI9341 based displays to be 320x240 and 64 doesn't divide cleanly into 240.  64 does however divide cleanly into 320, as in 480x320 displays we see associated the the ILI9486/8.

Also is there a

[2021-02-02 17:33] jockm commented on #252
I am just going to put this here for the morbidly curious, but I have filed a related issue (#255) noting that the default buffer size for the ILI9341 (the default as shipped) defines a `DISP_BUF_SIZE` that is 1.6x the default for other displays.  If it were set to 40 like the others were, then the -S2 wouldn't overrun the static area.  This would leave about 14K left for for other static storage.

[2021-02-03 00:56] jockm opened #256 "ESP32-S2 Projects cannot use pin numbers higher than 39 when configuring through menuconfig"
The ESP32-S2 has more available GPIOs than the ESP32, but menuconfig only allows assigning pins 0-39.

It remains clear that no testing or consideration of the -S2 chip has been given.

Again I must stress the need to publicly document that the -S2 chip is currently unsupported

[2021-02-03 04:55] C47D commented on #256
Hi,

This can be fixed quite "easily".

There's an closed issue report about somebody running this repo on the ESP32-S2, but I don't have any ESP32-S2 based hardware available to test it.

From the issue I mentioned above it seems like it's kind of working but we could mention the support is in beta, thanks for the suggestion.

[2021-02-03 05:10] jockm commented on #256
Fair enough but you don’t need hardware to do a `idf.py set-target esp32s2` And see if things compile, or to glance at the data sheet and contemplate if the config needs to be updated

The -S2 has been out for almost a year now and the example project can’t compile, and there isn’t so much as a note in the readme to warn people

[2021-02-03 05:13] C47D commented on #256
True that, I will update the readme to make that clear.

Hopefully will get a esp32-s2, they seem interesting.

[2021-02-03 08:37] kisvegabor commented on #253
Does it make any difference if you increase the LVGL task's stack size?

[2021-02-03 08:39] kisvegabor commented on #253
And does it always stop at `lv_draw_label.c:126`?

[2021-02-04 00:46] BH2SEB opened #257 "Cannot Find Components config->LVGL Configuration"
After I clone this repo , I cannot find LVGL Configuration in menuconfig while LVGL TFT Display Configuration and LVGL TOUCH Configuration is on the list.

Then I add an component.mk like this to fix this problem

COMPONENT_SRCDIRS := .
COMPONENT_ADD_INCLUDEDIRS := .

[2021-02-04 04:59] C47D commented on #257
Hi @BH2SEB,

I guess you're using `make menuconfig` to launch the menuconfig menu? I will check your proposal and include it.

[2021-02-04 05:52] C47D commented on #255
Hi @jockm,

Thanks for your patience, most of the drivers were contributed over time, and as far as I remember the first one was ILI9341, there's no reasoning behind the buffer size, it's mostly the size that worked for the users.

I've seen your other issues about the usage of LVGL on the ESP32-S2 and I will try to help to improve this repo to achieve that.
Do you think having the display buffer

[2021-02-04 05:54] C47D commented on #256
Hi @jockm,

I've just seen the other issues you've opened, and I think this is the easiest one to solve, according to [this](https://docs.espressif.com/projects/esp-idf/en/latest/esp32s2/api-reference/peripherals/gpio.html#overview) reference, the ESP32-S2 has 43 GPIOs. Is this the information you would like to see when using that target?

[2021-02-04 05:57] C47D commented on #257
Hi,

This is kind of expected because the main LVGL repository doesn't includes an `component.mk` file, this file is used when using make to build the project.

@kisvegabor Do you think it's possible to add the `component.mk` file in LVGL to support make based commands? All the ESP32 support were assuming the users using idf commands instead.

[2021-02-04 05:58] jockm commented on #256
@C47D Yes that is correct, when configuring for the ESP32-S2, menuconfig should allow for all GPIO pin numbers for that architecture

[2021-02-04 06:05] jockm commented on #255
@C47D I have mixed feelings about menuconfig and am not sure it is always the right way to specify settings for something like LVGL; but at minimum I do think having the ability to specify the buffer size and if there are one or two buffers in menuconfig would be a very good thing

And I would suggest that all magic numbers should be documented, even if to say there is no specific rational why a s

[2021-02-04 06:05] C47D commented on #256
@jockm cool, thanks for the quick reply, I'm a bit busy with my day job so I can work on this at my free time, expect an update before the weekend.

[2021-02-04 06:09] C47D commented on #255
Thanks for the suggestions @jockm , I will transfer this issues to the `lvgl_esp32_drivers` repo to solve it over there.

[2021-02-04 14:28] kisvegabor commented on #257
Yes! We can add `if`s to turn on/off the ESP related section.

[2021-02-05 08:10] VedantParanjape commented on #253
Yes, I tried several different ways, changing the function content, changing the location. But it always seems to crash with this error.

[2021-02-05 08:11] VedantParanjape commented on #253
Aha, Let me try with this. What's the recommended size?

[2021-02-05 12:51] embeddedt commented on #253
Try 4 kilobytes if you have the RAM.

On Fri, Feb 5, 2021 at 3:11 AM Vedant Paranjape <notifications@github.com>
wrote:

[2021-02-07 11:40] VedantParanjape commented on #253
@embeddedt Surprisingly it worked fine this time. This is very wierd. Earlier Stack depth was 8kb, changed it to 4kb and it worked fine.

[2021-02-10 06:01] C47D commented on #257
@BH2SEB Can you try with the current master? I've added the components.mk file into LVGL

[2021-02-11 16:52] tore-espressif commented on #252
Hello @jockm,

I can see that same damage has been already done by not having this example updated to 'new' HW. Nevertheless, you got the solution right with allocation the buffers in DMA-capable heap, see #259 .

I'd also like to shed some light onto some of the topics that you mentioned in this thread:

1. It is true that DMA does not have access to external RAM. But the SPI driver won't crash i

[2021-02-11 17:09] tore-espressif commented on #254
Hello @Mair

This line https://github.com/lvgl/lvgl_esp32_drivers/blob/master/lvgl_tft/EVE_config.h#L38 should resolve to `#include "lvgl.h"`.

This was broken by commit https://github.com/lvgl/lvgl_esp32_drivers/commit/a2a00bd7455dc9cedfeeafe05c4d0e9dc54b5247 and then reverted (but not with `git revert`) by commit https://github.com/lvgl/lvgl_esp32_drivers/commit/a2a00bd7455dc9cedfeeafe05c4d0e9dc

[2021-02-11 17:21] #252 closed

[2021-02-11 17:23] C47D commented on #252
Thanks for the request @tore-espressif , can you validate it works for you @jockm ?

@tore-espressif I've seen you're improvements into this and the drivers repo, thanks for the help 😃

[2021-02-12 08:22] 1404360768 opened #260 "fatal error: lvgl/lvgl.h: No such file or directory"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
Using git clone --recursive https://github.com/lvgl/lv_port_esp32.git clone the project without making any changes, directly Compile after the following error, and the location is not only this place, all references to the file location have repor

[2021-02-13 05:05] DylanMingan opened #261 "运行demo有样式，但颜色不对"
**Describe the issue**
使用的硬件是ESP32-S2-Saola-1开发板，外接2.4寸tft（tft），4线spi，跑默认的demo（换了两个默认主题）有样式，但颜色不对。
在lvgl设置里面的颜色选择16位RGB565，勾选sawp 2 bytes of rgb565..
![IMG_20210213_124220](https://user-images.githubusercontent.com/34081904/107842117-f9cb4800-6dfb-11eb-93cf-c27c11349056.jpg)
![IMG_20210213_124538](https://user-images.githubusercontent.com/34081904/107842119-fb950b80-6dfb-11eb-9608-3991bdca65e2.jpg

[2021-02-13 14:31] #253 closed

[2021-02-14 18:39] C47D commented on #261
Hi,
I can't reproduce the issue with my 240x240 ST7889 based display, can you check the primary and secondary colors? and also try not swapping the RGB656 bytes.

[2021-02-14 21:43] Mair commented on #260
duplicate of [778219950](https://github.com/lvgl/lvgl_esp32_drivers/issues/36#issuecomment-778219950)
@C47D also reported by @coztemur as still being an issue

[2021-02-14 22:21] C47D commented on #260
The problem seems to be the symbol `LV_LVGL_H_INCLUDE_SIMPLE` not being defined, in LVGL CMakeLists.txt file we're defining  `LV_CONF_INCLUDE_SIMPLE` instead. @kisvegabor do you remember why did we kept `LV_CONF_INCLUDE_SIMPLE` instead of defining `LV_LVGL_H_INCLUDE_SIMPLE`?

[2021-02-14 22:25] C47D commented on #260
@Mair, are you using make instead of idf?

[2021-02-14 22:28] C47D commented on #260
Can you try check if 3154e57 solves the issue?

[2021-02-14 22:46] Mair commented on #260
@C47D no I'm using idf.py build. I was working with @coztemur who found it. then I tried it and replicated it.

I Just did a fresh `git clone --recurse-submodules https://github.com/lvgl/lv_port_esp32.git` in a clean directory then did an `idf.py menuconfig`. and changed the display. then 'idf.py build.
[code]

[2021-02-14 22:49] Mair commented on #260
re #3154e57 I'll try it out later. but you can easily replicate it by trying a fresh pull ☝️

[2021-02-15 00:06] C47D commented on #260
@Mair I was able to reproduce the issue (I wasn't at first because I was using the current master of `lvgl_esp32_drivers`), just updated the `lvgl_esp32_drivers` submodule, you should be able to compile the project.

[2021-02-15 05:13] DylanMingan commented on #261
Set primary color as **0xFF0000** （LV_COLOR_RED） and secondary color as **0x8000**（LV_COLOR_GREEN）
The following picture doesn't swap rgb565 bytes
![IMG_20210215_124235](https://user-images.githubusercontent.com/34081904/107907180-ecde5e00-6f8d-11eb-9407-69c5d1a806e4.jpg)
The following picture swaps rgb565 bytes
![IMG_20210215_123947](https://user-images.githubusercontent.com/34081904/107907230-0e

[2021-02-15 05:13] DylanMingan commented on #261
[Uploading sdk.zip…]()

[2021-02-15 05:36] C47D commented on #261
Thanks for attaching your config file, I will take a look at it. The inverted colors might be a display configuration issue, I remember other display (st7789 I think) being able to invert the colors with one command.

[2021-02-15 05:51] C47D commented on #261
Can you apply the following patch in `components/lvgl_esp32_drivers/lvgl_tft/st7789.c`

[code]

[2021-02-15 07:04] DylanMingan commented on #261
Thank you very much for your opinion, after setting `{ST7789_INVOFF, {0}, 0}`, and swap rgb565, I successfully got the correct image.This experience gave me a better understanding of st7789, thanks again

[2021-02-15 14:11] C47D commented on #261
So, with the patch and swapping the RGB values the issue was solved? If so I can update the code with the patch.

[2021-02-15 15:08] DylanMingan commented on #261
yes, it works. but I just remove`  {ST7789_INVON, {0}, 0}` and add `{ST7789_INVOFF, {0}, 0}` in st7789' init functuion rather than use the patch.

[2021-02-15 16:13] tlechman49 commented on #257
I'm experiencing a similar problem I think. When I bring the repo into my project using platformio or as a submodule I'm getting a lot of errors in compilation with trouble finding lv_conf.h and when I use menuconfig it doesn't find any of the LVGL related components. Seems like it can't find the kconfig files.
I'd prefer to use platformio lib_deps which look like this inside plaformio.ini:
[code]

[2021-02-15 17:00] C47D commented on #257
Hi @tlechman49,
Before we added the Kconfig files into LVGL and separated the drivers into it's own repo, we suggested to use this repo as a submodule. Correct me if I'm wrong, are you now using both LVGL and lvgl_esp32_drivers as submodules and not having issues?

I don't really have experience with Platformio, let me investigate how they manage dependencies.

[2021-02-15 17:01] C47D commented on #261
Ok, I will test the patch with my ST7789 based display. Feel free to close the issue when you feel like it.

[2021-02-15 17:09] tlechman49 commented on #257
I was previously using this repo as a submodule. I'm now hoping to bring the repos for LVGL and lvgl_esp32_drivers in as lib_deps with pio but if that can't be done I can always bring them in as submodules similar to whats in this repo's readme.

I know pio stores the lib_deps libraries in .pio/libdeps/$ENVIRONMENT_NAME/$LIB_DEP_NAME.

[2021-02-15 17:51] tlechman49 commented on #257
I guess I misread your statement..

I was previously not having issues but I would like to upgrade to the latest version of the repo and am now having issues. When I pulled in the two repos as described in the readme and also when I pulled them in with lib_deps on a separate attempt I received errors during compilation regarding lv_conf.h.

[2021-02-16 02:46] #261 closed

[2021-02-16 04:23] C47D commented on #257
Hi,

Before this repo used the `lv_conf.h` file to configure LVGL, it is now configured by using the menuconfig tool, when using menuconfig it doesn't needs the `lv_conf.h` file. So, when using LVGL as submodule (and it includes the Kconfig file) you should be able to use menuconfig.

Maybe we should update the README to note this.

[2021-02-17 00:36] BH2SEB commented on #257
Thank you, the make menuconfig tool  is running normally now.

[2021-02-17 03:32] C47D commented on #257
@tlechman49 Can you open a new issue with your problems?

[2021-02-20 14:15] 1404360768 commented on #260
Sorry, I still can't compile successfully, how to add lvgl alone in the existing project?

[2021-02-20 18:57] C47D commented on #260
@1404360768 You should be able to include LVGL into an existing project in two ways:
1. If your project is a git repository, you can add LVGL as a submodule with `git submodule add https://github.com/lvgl/lvgl.git`
2. If your project isn't a git repo you can add LVGL with `git clone https://github.com/lvgl/lvgl.git`

Did you updated your copy of this project? I'm able to compile it with make and i

[2021-02-20 20:20] C47D commented on #260
@tore-espressif Can you help me out with this one? The `lvgl_esp_drivers` `component.mk` looks like this:

[code]

Please correct me if I'm wrong but `LV_LVGL_H_INCLUDE_SIMPLE` is being defined for this component, it should look for `lvgl.h` instead of `lvgl/lvgl.h`.

[2021-02-22 08:14] tore-espressif commented on #260
Hello,

I'm sorry to hear that you are still struggling with what we considered solved.

Nevertheless, I could not reproduce the problem on any IDF4.x version with CMake (clean clone). I'm on Windows working with Wrover-kit and Kaluga-kit.

Please note, that when you are updating your local project with remote changes with `git pull`, it won't automatically update your submodules, which can be a i

[2021-02-22 08:47] 1404360768 commented on #260
Thank you so much，I'll give it a try idf.py build

[2021-02-22 15:49] C47D commented on #260
@tore-espressif I did took a look into the esp-idf components and saw that we can check for the generated `CONFIG_` symbols, so maybe we can check for them and include the appropriate source files.

This week I will try to fix both Kconfig files (tft and touch) and other issues like this one, because we want to improve the displays code base.

[2021-02-23 03:35] 1404360768 commented on #260
@C47D @tore-espressif At the moment I'm successfully compiled with idf.pyidf.py build, but my original project used idf.pyidf.py build to report errors, couldn't find the relevant SDK files, and didn't make any mistakes with make, which made me wonder, sorry I'm still a novle, so I still hope I can build the project with make.

[2021-02-23 04:26] C47D commented on #260
@tore-espressif I'm working on a new branch to try get make builds done properly, I'm not familiar with this build system when using the ESP-IDF, can you please tell me if this commit goes in the right direction? https://github.com/lvgl/lvgl_esp32_drivers/commit/37715bc2b71e73faa5a07809bc0a5c1052d9c5c1

[2021-02-23 08:06] tore-espressif commented on #260
@1404360768 We are currently working on enhancing the first time user's experience, so if you are not confident enough to dig into the build system, you can wait a little and we will try to make it better.

_More info:_ ATM, when you add `lvgl_esp32_drivers` to your project (project_root/components folder), ESP-IDF won't recognize it as a component automatically; you must add it to its components

[2021-02-23 14:14] C47D commented on #260
@tore-espressif Done, I've opened PRs on both this and lvgl_esp32_drivers.

[2021-02-23 15:02] tore-espressif commented on #260
Can we close this issue then?

[2021-02-24 14:38] 1404360768 commented on #260
Yes, thank you very much for your help

[2021-02-24 14:38] #260 closed

[2021-02-24 15:30] C47D opened #266 "Can't build with make"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
Can't build using make, I got the error below.

**Code to reproduce the issue**
Clone the current master and run make.

**Expected Results**
Being able to build the project using make

**Actual Results**

**ESP32 Chip version**
`ESP32`

**ESP-IDF

[2021-02-24 18:54] 60north opened #267 "idf.py menuconfig fails"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

hi

**Code to reproduce the issue**
Projects\lv_port_esp32>idf.py menuconfig

**Development kit used**

**Development machine OS**
Windows 10
**Compilation warnings/errors (if available)**
-- Building ESP-IDF components for target esp32
Traceback (most recent call last)

[2021-02-24 20:21] 9ae8sdf76 commented on #247
I'm in this boat too, except I'm getting a blank screen. What can I provide to assist? I'm using the latest master from lv_esp32_drivers (https://github.com/lvgl/lvgl_esp32_drivers/commit/72e2e765eb54409f3baa2c89c85455c3ac342246) and the latest master (https://github.com/lvgl/lv_port_esp32/commit/f2e80cbf37cb2848701c3bf83eafdfc5d5b1ed1f) from this repository. Here is my output:

[code]

Here is my

[2021-02-24 22:48] C47D commented on #247
Thanks for the information @9ae8sdf76 I will take a look at it and try to figure out why you're getting a white screen output.
Did you also bought the display on BuyDisplay or is it a different display?

Regards
Carlos

[2021-02-25 00:46] 9ae8sdf76 commented on #247
It is the [7" Display from Adafruit](https://www.adafruit.com/product/2354), and the controller is [their version of the RA8875](https://www.adafruit.com/product/1590).

[2021-02-25 06:48] C47D commented on #267
Thanks for the report, I will try to reproduce the issue and get back to you.
@tore-espressif

[2021-02-25 08:01] tore-espressif commented on #267
Hello,
what version of ESP-IDF do you have?

[2021-02-25 08:58] 60north commented on #267
Yeah this is the Kconfiglib.py difference, apparently - no rsource in my
version of it.

I am on 4.0.2, which means that it will be breaking for all who install
older versions of IDF for some reasons.

чт, 25 февр. 2021 г. в 11:01, Tomas Rezucha <notifications@github.com>:

[2021-02-25 09:06] tore-espressif commented on #267
OK, so obvious quickfix is updating the IDF :)
We will improve the backward compatibility and add some CI steps to prevent this and similar regressions in the future.
Thanks!

[2021-02-25 09:09] tore-espressif commented on #267
@C47D I'm sorry for the breaking changes. I believe that the refactoring is going to be worth it when we tackle all the remaining details. Thanks!

[2021-02-25 15:11] C47D commented on #267
@C47D Don't worry about it, let's hope the user can update its toolchain, we should add a note on the README about the minimum ESP-IDF version required.

[2021-02-25 15:12] C47D commented on #266
@tore-espressif Should I set the target chip before make? Like this: `TARGET=esp32 make`? I've never cross this bug before.

[2021-02-26 10:04] tore-espressif commented on #266
First line of your log says that you are using toolchain for esp32s2. It is only weird if you didn't set it yourself: esp32 should be default.
Running `idf.py set-target esp32` should fix the problem.

(Since ESP32S2 support was introduced in ESP-IDF 4.2, there is no alternative command for `make`, AFAIK)

[2021-02-26 13:46] C47D commented on #266
Yep, it's weird because I've never used the esp32-s2 target. I will try your suggestion.

[2021-02-27 01:03] C47D commented on #266
I was able to compile this project using make with the following patch https://github.com/lvgl/lvgl/pull/2108

[2021-02-27 06:35] tore-espressif commented on #266
Yep, that was the last missing thing :)

[2021-02-27 16:55] C47D commented on #266
Just saw it got merged, will update the lvgl submodule in a bit.

[2021-02-27 19:03] #266 closed

[2021-02-27 20:44] C47D commented on #247
I just saw an error on the monitor output

[code]

We should assert so the program doesn't continue 🤕 .

[2021-03-02 01:21] 9ae8sdf76 commented on #247
I disabled the touch drivers to simplify things. In my main project I do plan to use them.

Sure. Doing that now.

[code]

[2021-03-02 04:30] C47D commented on #247
Hi,

I no longer see the error on the monitor output, does the display showed up something?

[2021-03-02 15:04] 9ae8sdf76 commented on #247
No, it still does not show up for me. I've been trying every combination I can think of, and I've matched my config with the data sheet and Adafruit's implementation. Still blank screen/no power.

[2021-03-03 03:35] 9ae8sdf76 commented on #247
I've been at this all day, and no matter the combination of options nothing changes. The display is just not getting turned on. I have even gone so far as change code to match Adafruit's implementation, and still no display.

There are two things that have been bothering me:

1. When using SIO and full-duplex the memory clear operation times out, which warns the controller may be unresponsive (whi

[2021-03-04 15:48] C47D commented on #247
Hi,

Sorry for the late reply, I'm really busy with my day job (I keep this repo on my free time). I will try to get the same display and controller as yourself but it would take a bit to get here (I'm located in México).

[2021-03-05 11:55] #257 closed

[2021-03-11 19:31] viniciusmiguel commented on #247
Hello There.

I am having the same issue, on my case the display does not even turn on.

I noticed if I set the frequency to 1mhz the message the controller is unresponsive does not shows up.

But it gets stuck in the message:

I (350) RA8875: Enabling display.

`#
# Automatically generated file. DO NOT EDIT.
# Espressif IoT Development Framework (ESP-IDF) Project Configuration
#
CONFIG_IDF_CMAKE=

[2021-03-17 13:06] NashAli opened #268 "error during build"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
file not  found
**Code to reproduce the issue**
in main.c

#ifndef CONFIG_LV_TFT_DISPLAY_MONOCHROME
    #if defined CONFIG_LV_USE_DEMO_WIDGETS
        #include "lv_examples/src/lv_demo_widgets/lv_demo_widgets.h"
    #elif defined CONFIG_LV_USE_DEM

[2021-03-25 04:33] dastarling opened #269 "No support for ESP32C3"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
Compilation Issue on ESP32C3

**Code to reproduce the issue**
building with chip set to ESP32C3

**Expected Results**
compiles properly

**Actual Results**
Does not compile

**ESP32 Chip version**
ESP32C3

**ESP-IDF version**
latest

**Development

[2021-04-03 10:47] Trackhe opened #270 "Touch with TFT_eSPI.h is not working."
**Describe the issue**
I cant use my Touch.

**Code to reproduce the issue**
I use the arduino esp port. And load the Library TFT_eSPI
the kallibration of the touch is working after that i init the lvgl and run a loop

void loop1code(void * pvParameters) {
  for(;;){
    lv_task_handler();
    vTaskDelay(10 / portTICK_PERIOD_MS);
  }
}

framework: espressif

installed components
arduino
lvgl
lvgl_

[2021-04-03 17:34] Trackhe commented on #270
If i change the Select Touch detection method to IRQ pin Only and the IRQ Pin to MISO then i get Watchdog errors. the touch is also not working.

[2021-04-06 07:23] Ernest-su opened #271 "M5stack and their M5Paper"
I've bought a M5Paper with an e-ink screen. Do you know how to start to add this board to your project?  [see this issue](https://github.com/HASwitchPlate/openHASP/issues/48)

[2021-04-07 15:39] bzgec opened #272 "Semantic Versioning"
I see that this repository now uses versioning/tags. I think that it would be appropriate to use [Semantic Versioning](https://semver.org/).
As far as I know this is quite a standard for bigger projects (including lvgl - see [lvgl CHANGELOG](https://github.com/lvgl/lvgl/blob/master/CHANGELOG.md)).

To summarize [Semantic Versioning](https://semver.org/):

[2021-04-13 20:45] 9ae8sdf76 commented on #247
@C47D Any update or progress on trying to reproduce this issue?

[2021-04-14 14:32] C47D commented on #247
Hi @9ae8sdf76 , I haven't been able to reproduce it, nor getting up to speed with any other issue in the repo, got pretty busy with my day job.

[2021-04-24 07:26] mfp20 opened #274 "esp-idf can't link liblvgl.a"
### Introduce the problem
I used the https://github.com/lvgl/lv_port_esp32 repo at first and it was working properly. Then I moved the benchmark demo to my folder, together with lvgl and lvgl_esp32_drivers, adapted to my needs, and it was working good.
So I replaced the benchmark demo with my display.c and, again, it was working properly. Finally I removed lvgl_esp32_drivers and included the ili93

[2021-04-24 19:31] Trackhe commented on #244
What was the solution? Because i have a similar problem.

[2021-04-25 14:27] Trackhe opened #273 "2.8Zoll TFT Bugs Iili9341 Grafik Glitches ESP32"
**Describe the issue**
Grafik Glitches. With the DP 2.8Zoll Iili9341 and the Touch Controller XPT2046. The Touch is Working.
I use the Benchmark example.
<details>
  <summary>Bilder PRESS HERE</summary>

![IMG_3959](https://user-images.githubusercontent.com/1494328/115997459-70967580-a5e3-11eb-95d0-ce37fcfad079.jpg)

![IMG_3961](https://user-images.githubusercontent.com/1494328/115997461-768c5680-

[2021-04-26 07:46] kisvegabor commented on #274
Hi,

I moved this issue to https://github.com/lvgl/lv_port_esp32

Unfortunately, I'm that experienced with ESP. @C47D (our ESP32 expert :slightly_smiling_face: ) is quite busy now but hopefully, he (or someone how knows ESP in more detail) can a look at it.

[2021-04-27 09:34] tore-espressif commented on #273
Hello @Trackhe

I had a brief look at your `sdkconfig` and it seems incorrect:

Please try setting these in menuconfig:
1. LVGL-> resolution: 240x320
2. LVGL-> 16 bit color depth
3. LVGL-> Swap the 2 bytes of RGB565 color
4. LVGL TFT-> SPI half duplex (this shouldn't be a problem, but just in case)
5. LVGL TFT-> Try every orientation

[2021-04-27 09:52] tore-espressif commented on #274
Hi @mfp20

could you please build with `idf.py build -v` (verbose) and share the output? (link command should be sufficient).

And also output of `tree` command in your project root, just to be sure, thanks!

[2021-04-27 14:40] C47D commented on #274
Hi,

I don't consider myself an ESP32 expert, sorry @kisvegabor 😄 , but I will try take a look, got a couple of free days finally! coming at the end of this week.

[2021-04-27 14:41] #268 closed

[2021-04-27 18:15] Trackhe commented on #273
Hello @tore-espressif

That was a nice tip. Thank you.

I changed the Resolution and after some testing it works. Very useful. Thank you.

[2021-04-27 18:15] #273 closed

[2021-04-29 16:12] poky opened #276 "Using two GC9A01 multiple displays at the same time"
Hi, all I'm trying to use multiple display with lv_port_esp32 lib and lvgl_esp32_drivers
Both displays are shared the same SPI (SCL, SDA, DC) control by different CS pins (14 & 15)

I have modified the lvgl_helpers.c to allow register both displays
[code]
As well the disp_spi.c to allow spi_bus_add_device for different CS pin
[code]

With use of lv_obj_t *scr1 = lv_disp_get_scr_act(dis1) & lv_obj_

[2021-05-19 01:16] SinglWolf opened #277 "A few questions about setting up a project via menuconfig"
I express my deep gratitude for the wonderful library. [My project](https://serverdoma.ru/viewtopic.php?f=70&t=1178) sparkled with new colors and acquired new opportunities. Thank you! BUT there are a few annoying points.
Why is there no way to select a display driver at runtime? Flash size 4M (or larger) allows you to store multiple display driver code.
Only 1 display driver (touchscreen driver)

[2021-05-19 14:02] SinglWolf commented on #277
Not entirely true statement. There are several places in the library where the `LV_HOR_RES_MAX` and `LV_VER_RES_MAX` macros are used. For example, in the `lv_draw_label.c` file
[code]
And I am using this widget.
Also macros `LV_HOR_RES_MAX` are used when calculating the buffer size. For example,
[code]

Yes, I want to support multiple displays on the same firmware. Collecting separate firmware for

[2021-05-19 14:09] tore-espressif commented on #276
Hello @poky ,
I didn't dig too deep into the code, but here are few tips:

1. Let's assume that your modifications to the SPI driver are working (your spi send function can switch CS between displays)
2. The you basically need to do this section of code https://github.com/lvgl/lv_port_esp32/blob/master/main/main.c#L85-126 (lines 85-126) twice: Define two drivers and their buffers and register them

[2021-05-19 14:24] tore-espressif commented on #277
Again, just above the DISP_BUF_SIZE there is a comment:
[code]

[2021-05-19 17:04] tore-espressif commented on #277
I'll check draw_label issue tomorrow

[2021-05-19 22:46] SinglWolf commented on #277
I read this. But another macro depends on the value of the `DISP_BUF_SIZE` macro. This is `SPI_BUS_MAX_TRANSFER_SZ`, which is used in the `void lvgl_driver_init(void)` function.

[2021-05-20 01:39] SinglWolf commented on #277
Here is an example of my display initialization code:
[code]
My fixes in `lvgl_esp32_drivers` library files:
`lvgl_helpers.h`
[code]
`lvgl_helpers.c`
[code]
`lvgl\src\lv_hal\lv_hal_disp.c`
[code]
I showed the code that I will use in my project, as food for thought, an idea, but not as a requirement to remake the library in this way.

[2021-05-20 02:15] poky commented on #276
Thank you @tore-espressif
I have followed your suggestion, now it works independently!

![335980](https://user-images.githubusercontent.com/138415/118908152-69008d00-b953-11eb-8d8a-be20326812db.jpg)

Another question, if I want to make it mirror, according to the [LVGL doc](https://docs.lvgl.io/latest/en/html/overview/display.html#mirror-display)

I now have :
[code]
Could you suggest how do  I su

[2021-05-20 06:59] tore-espressif commented on #276
Good job :)

I've never tried mirroring, but this is the idea:

1. You have just one driver, one buffer and one task
2. You need to modify GC9A01.c driver to write/flush two devices at once
3. Functions like `GC9A01_send_cmd` `GC9A01_send_data` `GC9A01_send_color` must send the same data to both displays
4. Don't forget to initialize both displays and their pins (DC, RST, possibly BCKL) in `GC9A01

[2021-05-22 04:14] SinglWolf opened #278 "When I touch the touchscreen (XPT2046) anywhere, the returned coordinates are always zero. ESP32-S2."
**Describe the issue**
When I touch the touchscreen anywhere, the returned coordinates are always zero.
The `ILI9488` display controller being used initializes correctly. All used widgets are displayed correctly.
The `XPT2046` touchscreen controller used does not display any errors during initialization.
**Code to reproduce the issue**
The display and touchscreen initialization function in the `lv

[2021-05-29 05:23] PopherTheG opened #279 "I get an '#error "Unsupported orientation"' when I build a project for the SSD1306 display."
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
I can't build a project if I use the SSD1306 display. It throws and error which says '#error "Unsupported Orientation"'

**Code to reproduce the issue**
I just cloned the project 'git clone --recurse-submodules https://github.com/lvgl/lv_port_esp3

[2021-05-29 11:18] juxiangwu opened #280 "1.8inch ST7735 driver display Cannot display normally"
**Development Board**:NodeMCU ESP32-S V3.0
**Display Module**:1.8inch(128x160),display controller driver:ST7735,

here is the LV config:

[code]

after building and flashing,I got the confuse result:
https://raw.githubusercontent.com/juxiangwu/temp_images/master/01.png
![result](https://raw.githubusercontent.com/juxiangwu/temp_images/master/01.png)

[2021-05-29 11:34] juxiangwu commented on #280
while running the lv_demo_widgets,got the result below:
https://github.com/juxiangwu/temp_images/raw/master/05-1.gif
![](https://github.com/juxiangwu/temp_images/blob/master/05-1.gif?raw=true)

[2021-05-29 11:35] juxiangwu commented on #280
while running the lv_demo_widgets,got the result below:
https://github.com/juxiangwu/temp_images/raw/master/05-1.gif
![](https://github.com/juxiangwu/temp_images/blob/master/05-1.gif?raw=true)

[2021-05-30 23:28] icodk opened #281 "Can't configure ILI9341 and XPT2046 for 2.8" TFT SPI 240X320"
Works fine with Arduino ID and LV_Arduino 3.0.1 (both display and touch) However, looks strange with the lv_port_esp32
and touch is incorrect
This is with Arduino ID and lv_arduino library 3.0.1.  No problem scrolling the scroll bar.
https://user-images.githubusercontent.com/15612908/120123233-f2af2680-c1ad-11eb-9a92-7d1bc30519cf.jpg

This is the lv_port_esp32 build with eclipse and idf plugin on

[2021-05-31 06:41] tore-espressif commented on #279
Hello @PopherTheG ,
could you please try reverting this commit and try the build again?
https://github.com/lvgl/lvgl_esp32_drivers/commit/9fed1cc47b5a45fec6bae08b55d2147d3b50260c

[2021-05-31 06:53] Pupil2013 opened #282 "ESP32S2 can't change display DC pin to gpio45 in vscode by using SDK configureation editor"
I‘m using the esp32s2,lcd driver st7789 ,vscode
when change the lcd driver dc pin to 45,it will automatically change back to 2.

**Code to reproduce the issue**
Using the SDK Configuration editor
**Actual Results**
when change the lcd driver dc pin to 45,it will automatically change back to 2.
**ESP32 Chip version**
ESP32S2
**ESP-IDF version**
v4.2
**Development kit used**
VSCODE  ESP-IDF tool
**D

[2021-05-31 13:05] kisvegabor commented on #280
From the gifs it seems the window in  Seemingly the window area's size is off by one in the [flush function](https://github.com/lvgl/lvgl_esp32_drivers/blob/9fed1cc47b5a45fec6bae08b55d2147d3b50260c/lvgl_tft/st7735s.c#L142).

[2021-05-31 22:08] icodk commented on #281
I found out. It was a matter of setting the right parameters in the sdkconfig file
In my case this gave a reasonable performance:
[code]
however to get there it took some trial and error with different values.

[2021-05-31 22:08] #281 closed

[2021-06-01 11:24] juxiangwu commented on #280
how to solve the problem?

[2021-06-01 11:55] juxiangwu commented on #280
I have solve the problem:
just make some change for the file [lvgl_tft/st7735s.h](https://github.com/lvgl/lvgl_esp32_drivers/blob/9fed1cc47b5a45fec6bae08b55d2147d3b50260c/lvgl_tft/st7735s.h)

[code]
Thanks for help!

[2021-06-02 18:26] vandiwa commented on #247
I'm kind of in the same boat, but I've found that if I start by initializing the display using the Arduino XGLCD library, and then without power cycling the display run the ESP-IDF code, the display works fine.  I've slowed down the setup process on both sides to compare, and I have rewritten the init to do what the XGLCD init routine does byte for byte, but I still can't get the display to startu

[2021-06-03 11:56] vandiwa commented on #247
Took a while, but what I finally figured out is that the spimode was wrong - it should be 3 for the ra8875, but the lvgl_spi_conf.h file (in my version) doesn't have a special case for the RA8875, so it gets set to mode 0 by default.  Changed it to 3 and now my init code (that very closely matches the XGLCD Arduino sequence) works.

[2021-06-04 19:52] tore-espressif commented on #282
ESP32S2 has 43 GPIOs, see [datasheet](https://www.espressif.com/sites/default/files/documentation/esp32-s2_datasheet_en.pdf)

[2021-06-05 10:21] poky commented on #276
Thank you! I have figured out how to do it, this issue may closed

[2021-06-05 10:21] #276 closed

[2021-06-08 02:22] C47D commented on #269
Hi @dastarling thanks for your patience, is your fix available somewhere in your github profile?

[2021-06-08 05:57] dastarling commented on #269
Changes I am currently using are located here:
https://github.com/sturnusdesign/lvgl_esp32_drivers/tree/feat/esp32c3_support

Let me know if you have any questions, but the changes are not that large.
It adds a GT911 Touch controller and has to do the DMA to the larger display line by line if sufficient DMA memory is not available since the C3 variant has less RAM than its predecessors.

[2021-06-08 15:35] C47D commented on #269
Thanks for the quick reply, I don't have any ESP32C3 at the moment, I did the quickest commit in order to begin with C3 support [here](https://github.com/lvgl/lvgl_esp32_drivers/tree/feature/esp32c3_support), but it seems a bit similar to your first commit.

Is it possible for you to send a pull request to the `lvgl_esp32_drivers` repo?

[2021-06-09 02:40] #267 closed

[2021-06-09 12:45] kisvegabor opened #283 "Maintainer inquiry"
Hi @tore-espressif,

After consulting with @C47D and @embeddedt, I'd like to ask if you have the liking to become the maintainer of this repo.

Seeing your past activity, it seems you have the same vision as us and you know ESP very well (no surprise :slightly_smiling_face: ).

If you are interested in it we could provide write access to this and the [lvgl_esp32_drivers](https://github.com/lvgl/lv

[2021-06-09 19:06] dastarling commented on #269
I am a bit busy currently, but I could probably help testing or review if you need it.

[2021-06-10 02:29] Pupil2013 commented on #282
Yes it has 43 gpios,but here the io for DC line should be it's gpio pin name and esp32-s2 has gpio pin45 and pin46

[2021-06-10 10:17] tore-espressif commented on #282
I see, sry. Will be fixed soon.

[2021-06-10 16:42] icodk opened #284 "Enabling examples"
I try to enable the lv_demo_printer example but gets the following error:

`\build/../main/main.c:204: undefined reference to `lv_demo_printer'`

I followed the instructions in the examples README.md file:
[code]
Also added:
`#include "lv_examples/src/lv_demo_printer/lv_demo_printer.h"`

and then I call the lv_demo_printer() instead of the (original ) lv_demo_widgets()

For some reason the  lv_dem

[2021-06-11 01:09] #270 closed

[2021-06-11 01:09] #271 closed

[2021-06-11 01:14] SinglWolf commented on #277
I'm waiting for the developer's answer.

[2021-06-11 03:09] C47D commented on #269
Thanks @dastarling , I will let you know when I upload both PR. 😸

[2021-06-14 08:47] tore-espressif commented on #277
Hi,
I'm sorry, based on your last comment I figured out that you got it working the way you need it to.

So back to you original question:

Change like this requires huge refactoring as multidisplay setups were not taken into account when designing these drivers. There is refactoring planned, but it will take ~months.
Feedback, such as yours, is very valuable for us and enables us to design the ne

[2021-06-14 11:55] tore-espressif commented on #272
Commenting to remove stale label.

[2021-06-14 12:20] tore-espressif commented on #283
Hello @kisvegabor,
Thank you very much for the offer. I'd be very happy to join your efforts.

I'd like to come up with a suggestion of refactoring, focused on (but not only) on these issues:
https://github.com/lvgl/lvgl_esp32_drivers/issues/40
https://github.com/lvgl/lvgl_esp32_drivers/issues/44
https://github.com/lvgl/lvgl_esp32_drivers/issues/68
https://github.com/lvgl/lv_port_esp32/issues/272

[2021-06-14 12:32] kisvegabor commented on #283
Awesome! I've sent the invitation for both repos.
So from now you, @C47D, @embeddedt, and I have write access to these repos.

Could you open an issue to summarize your ideas?

[2021-06-14 12:36] tore-espressif commented on #283
I hope I'll have something worth sharing within two weeks

[2021-06-14 12:37] kisvegabor commented on #283
Okay, great! :slightly_smiling_face:

I think this issue can be closed. See you in the issues and PRs  :slightly_smiling_face:

[2021-06-14 12:37] #283 closed

[2021-06-15 03:13] Rajssss opened #285 "error: 'CONFIG_LV_AXP192_PIN_SDA' undeclared"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
I am trying to build and flash the demo widgets example on my ESP32 DevKitC V4 (Clone). I am using a 128x128 ST7735 Display (non touch), Selected predefined board as "ESP32 DevKit V4 with 38 pins". When I tried to build it, I got the error below:

[2021-06-15 03:23] C47D commented on #285
@Rajssss Thanks for the detailed report, I guess we should ask the user if their kit includes touch or not. Will work on the fix.

[2021-06-15 03:27] Rajssss commented on #285
User? Sorry, I don't get it.

[2021-06-15 23:31] SinglWolf commented on #277
I never got an answer.

I am also sincerely convinced that connecting the touchscreen controller to a separate SPI bus is only suitable for demonstration purposes. For example, the ESP32-S2 only has 2 SPI buses and the VS1053 module can no longer be connected.

[2021-06-16 20:31] C47D commented on #285
I've just created the [fix/st7735_no_touch](https://github.com/lvgl/lvgl_esp32_drivers/tree/fix/st7735_no_touch) branch on the [lvgl_esp32_drivers](https://github.com/lvgl/lvgl_esp32_drivers) repo with the fix.

Can you go to the `components/lvgl_esp32_drivers` and run the following commands? They track the new branch of the `lvgl_esp32_drivers` repo.

[code]

Then go back to the project root dire

[2021-06-16 21:01] C47D commented on #279
Seems like it was solved a few commits after the current `lvgl_esp32_drivers` commit, in here https://github.com/lvgl/lvgl_esp32_drivers/commit/3e1c6f3b67558aae45958cd500e1e1685c189282

@PopherTheG Can you update the `lvgl_esp32_drivers` component to it's current master?

[2021-06-16 21:03] C47D commented on #284
What development kit and display are you using?

[2021-06-18 07:28] tore-espressif commented on #277
Checked on Wrover-kit with following setup:
[code]

Everything works as expected.

Off topic.

Closing this issue.

[2021-06-18 07:28] #277 closed

[2021-06-19 13:06] Rajssss commented on #285
I have just built it without any issues, this issue should be marked closed now. Thank you.

[2021-06-19 13:25] Rajssss commented on #280
I have got a simmilar issue with a 1.44" display with same controller, and this fiex the

I have faced a similar issue with a 1.44" display with the same controller and this fixed the issue. Spent 2 days looking for a fix, thanks :)

[2021-06-19 16:10] abouillot opened #286 "Incomplete TTGO T-Display board configuration"
**Describe the issue**
The compilation of examples code cannot succeed when configuring the environment for a TTGO T-Display board. It fail with  a TFT_SPI_HOST not defined

**Code to reproduce the issue**
-launch idf.py menuconfig
-go to components config/LVGL TFT display controller/Select predefined display configuration
-Select TTGO T-Display
-save config
-compile with make flash

**Expected Re

[2021-06-20 16:12] SinglWolf commented on #278
I am still waiting for the developers' response.

[2021-06-21 18:47] #269 closed

[2021-06-23 12:20] #285 closed

[2021-06-26 20:37] jsmestad commented on #286
@abouillot I hit this as well today. Did you edit anything manually to get around the issue?

[2021-06-26 21:50] abouillot commented on #286
@jsmestad I'm not KConfig expert to dig deeply in it, but I guess there are some miss use of KConfig in some places.

But a quick and dirty fix is to change lines 449/450 to
   prompt "TFT SPI Bus." if LV_TFT_DISPLAY_PROTOCOL_SPI #&& \
   #!LV_PREDEFINED_DISPLAY_TTGO

this will enable the section to select the SPI port to use.

Bear in mind, some issue will pop up on Offset selection, and remember

[2021-06-26 23:47] jsmestad commented on #286
@abouillot yeah I just figured out the offset issue and put up a PR with what I think is the proper fix -- lvgl/lvgl_esp32_drivers#78

[2021-06-27 01:30] C47D commented on #286
lvgl/lvgl_esp32_drivers#78 just got merged, could you check if this fix your issue @abouillot? You would need to update the `lvgl_esp32_drivers` component of this repo to do so. Let me know if you need any help.

[2021-06-30 16:46] jsmestad commented on #286
@C47D this fixed the issue for me

[2021-06-30 17:06] C47D commented on #286
@jsmestad Thanks for the confirmation, I guess we can consider this issue solved?

[2021-07-02 10:26] maizezoidberg commented on #60
Hello guys! Have any news about SSD1327? I have display (128x128) with this controller and I can help with testing driver support

[2021-07-03 17:54] jsmestad commented on #286
Yeah I will submit a new ticket or reply here if things are hitting any issues

[2021-07-06 11:32] manuferro commented on #278
SinglWolf, I suggest to check the electrical portion of your project at first.
I had a similar problem & I start with https://github.com/Bodmer/TFT_Touch
with TFT_Touch_Raw.ino example printing the raw result (modifying a litle the same to have the raw value for the registry 0x90 and 0xD0) untill I fix the hardware problem.
After that lvgl work perfectly.

[2021-07-06 13:15] SinglWolf commented on #278
Thanks for the answer. The touchscreen works on the arduino-esp32 platform. And doesn't work on esp-idf platform. Such is the state of affairs.

[2021-07-06 20:59] C47D commented on #286
@jsmestad Thanks 😸

[2021-07-06 20:59] #286 closed

[2021-07-06 21:01] C47D commented on #60
Hi @maizezoidberg I have not, could you please open a new issue to track the progress on it?

[2021-07-07 08:38] manuferro commented on #278
ok,
  are you using interupt signal? If yes to you check if there is any signal (low status) when you press on the touch?

[2021-07-07 12:33] SinglWolf commented on #278
Naturally, I use the interrupt signal. When I touch anywhere on the screen, the console displays (when a low level appears)
[code]

[2021-07-09 11:07] luisan00 commented on #244
Change CONFIG_LV_HOR_RES_MAX  to:
[code]

[2021-07-11 21:03] #247 closed

[2021-07-12 09:07] septatrix commented on #272
Still relevant

[2021-07-13 06:27] manuferro commented on #278
how is configured the XPT2046? (sdkconfig) which SPI port?  speed, pin? what kind of test did you do?
It's a little hard to give an answer without understand your configuration, hardware and so on...

[2021-07-14 18:18] #282 closed

[2021-07-15 00:49] SinglWolf commented on #278
This is a pointless conversation.
Do you have a working example of touch screen operation on XPT2046 controller in ESP-IDF environment for ESP32-S2?

[2021-07-15 06:59] manuferro commented on #278
https://github.com/lvgl/lv_port_esp32
working for me out of the box with several display (I've tested 8 different displays)

Thanks

[2021-07-15 07:55] SinglWolf commented on #278
OK. What version of ESP-IDF do You have?

[2021-07-15 13:24] manuferro commented on #278
4.2.1

[2021-07-15 13:41] SinglWolf commented on #278
It's a good news. I had problems on an older version. I hope that everything will work and for me.
Now there is no free time to check. :-(

[2021-07-21 00:53] #279 closed

[2021-07-21 00:53] #280 closed

[2021-07-21 00:53] #284 closed

[2021-07-23 21:25] sidwarkd commented on #274
@C47D I'm having the same issue. I can get things to build just fine using the sample and keeping everything within the main folder. As soon as I try to move the LVGL logic into my own component (including the lvgl component as required) I start getting linker errors saying it can't find lv_ functions. The exact same code compiles and links fine in my main.cpp. Copy and paste into a component fold

[2021-07-24 01:57] sidwarkd commented on #274
I found the issue with my problem. The lvgl CMakeLists `REQUIRES` the `main` component so it creates a circular dependency of sorts. All I had to do was remove the `REQUIRES main` from lvgl's CMakeLists and everything builds just find now.

[2021-07-29 02:05] gfurtadoalmeida commented on #274
Thank you @sidwarkd!
Before removing `main` from `REQUIRES`, adding `lvgl_esp32_drivers` as a requirement gave tons of `undefined` errors. Now it compiles!

[2021-07-30 21:33] sidwarkd commented on #274
I've submitted https://github.com/lvgl/lvgl/pull/2420 which should resolve this issue.

[2021-08-02 11:29] tore-espressif commented on #274
closed via lvgl/lvgl#2420

[2021-08-02 11:29] #274 closed

[2021-09-08 23:37] C47D commented on #272
@tore-espressif @kisvegabor I guess we could work on this, maybe making a new branch called `v7.x`, this branch will support LVGL v7.11. The master branch would keep the development for supporting LVGL v8.x, once we achieve it we could make a new branch named `v8.x`, leaving the master branch for development.

What do you think?

[2021-09-09 12:49] kisvegabor commented on #272
I like this idea. It'd be in sync with the branch names of lvgl repo.

[2021-09-09 13:35] C47D commented on #272
I already have a branch with v8 support, it might be matter of making sure we follow the same naming convention. I will wait for @tore-espressif opinion.

[2021-09-09 17:29] tore-espressif commented on #272
I'm definitely in for making it aligned with the way LVGL does it

[2021-09-09 18:14] C47D commented on #272
Nice, should we support the latest LVGL v7 release on the v7 branch and track the latest v8 on the v8 branch?

Should we have a branch per LVGL release or just one per major release?

[2021-09-13 08:51] LilyGO opened #288 "Reset after adding Bluetooth or WIFI"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**

1. I want to add Bluetooth and WIFI functions to my project. Before adding them, all the code runs as expected, but once the statement is added, the program keeps restarting and resetting.I have tried running the WIFI scan and connection example

[2021-09-13 09:22] #288 closed

[2021-09-13 14:51] kisvegabor commented on #272
E.g. due to a new driver related feature - let's say - in v8.4 which is used in this repo too the general `release/v8`  might not work for people using lvgl v.8.0. So using `release/v8.x` branches is more future proof IMO.

[2021-09-13 15:15] C47D commented on #272
Can we use tags for that? On the drivers repo I mean. Or maybe start soon and figure out what to do when we face that issue.

[2021-09-13 15:19] kisvegabor commented on #272
If we use tags and we are already on v8.4 we can't push a fix to v8.1  easily . So I think using branches is more versatile.

[2021-09-13 15:50] C47D commented on #272
That's true, I didn't see that case. Should we create a new branch per release or just when we need a change?

[2021-09-13 16:39] kisvegabor commented on #272
IMO we should create the branches on releases. It also allow people to simply choose a branch an occasionally pul l it to see they are any updates.

For example for cases like this I find a good approach to have driver in the `lvgl` repo.

[2021-09-13 16:52] C47D commented on #272
I see, we can try that. For having the drivers in the lvgl repo i think we still need some time to mature it.

[2021-09-13 16:56] kisvegabor commented on #272
I still believe it'd be better to these repos closer and develop drivers in a dedicated branch, but it's not critical. So I'm ok with keep it here too :slightly_smiling_face:

I wonder it'd be easier build the architecture if we had a clean start with only one display and touch controller and add the rest later. What do you think?

[2021-09-13 17:22] C47D commented on #272
I don't know how many people depend on this repo, I think it's better to cleanup the code base as we go.

A personal preference is move fast, maybe break a thing, and fix it quickly, there's a word for thinking too much what you want to do instead of just do it but I can't remember it right now.

[2021-09-13 17:32] kisvegabor commented on #272
For the architecture my preference would be to see a clean and minimal picture about how things are organized.
But probably you will do more work here so let's do it as it's better for you.

[2021-09-14 13:54] prash85 opened #289 "Unable to build for ESP32 TTGO Module - lvgl_spi_driver_init"
Trying to build for ESP32 TTGO T module. In menuconfig, I am selecting preconfigured board "TTGO T-Display" however the build fails and throws error shown below. I tried  switching to a different board and the build was successful. Is there a fix for this?

**Hardware:**

TTGO T-Display ESP32

https://au.banggood.com/TTGO-T-Display-ESP32-CP2104-CH340K-CH9102F-WiFi-bluetooth-Module-1_14-Inch-LCD-De

[2021-09-26 03:45] geekheart opened #290 "lvgl / lv_port_esp32 port_v8 Compilation failed"
When I tried to use the port_v8 branch, I found that the compilation failed. It seems that the submodule corresponds to the previous version.

[2021-09-27 03:10] C47D commented on #290
Yes, it is usable in v7, we're trying to get support for v8 "soon".

@kisvegabor
We should make that annotation into the README I guess.

[2021-09-27 05:30] geekheart commented on #290
Looking forward to your updates to v8

[2021-09-27 08:33] kisvegabor commented on #290
Yes, I agree.

[2021-10-20 16:39] yanwuguangjun opened #291 "esp32s3 编译提示 error: 'HSPI_HOST' undeclared"
esp32-s3  编译提示 error: 'HSPI_HOST' undeclared
是还没对  支持么

[2021-11-02 09:44] snailwft opened #292 "unknown option "rsource""
Hi, How can I solve this problem.

root@ubuntu:/home/share/esp32/esp_light/lvgl/lv_port_esp32# make menuconfig
Toolchain path: /home/snail/esp/xtensa-esp32-elf/bin/xtensa-esp32-elf-gcc
Toolchain version: crosstool-ng-1.22.0-80-g6c4433a
Compiler version: 5.2.0
MENUCONFIG
/home/share/esp32/esp_light/lvgl/esp-idf/components/lvgl_esp32_drivers/Kconfig:4: syntax error
/home/share/esp32/esp_light/lvgl/e

[2021-11-02 13:39] embeddedt commented on #292
It seems that you have the wrong version of kconfig-frontends on your machine. I think the `rsource` keyword is an ESP extension, but I could be wrong, so perhaps check that all of the ESP-IDF tools are in your PATH.

[2021-11-06 06:25] advancedtigerdenempr opened #293 "The project is not linked using RPi MPI3501 displays and on the ST7735S controller"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
When assembling ASP-IDF projects in using examples with these displays, an error appears. At the same time, I am doing all the settings in menuconfig correctly. I'm sure of that.

**ESP32 Chip version**
ESP-WROOM-32
**ESP-IDF version**
ESP-IDF4.3

[2021-11-09 12:36] Ali-Abdelwdod opened #294 "operating LVGL with ESP32 using SSD1963"
I am trying to make an lcd interface for esp32 using 8-parallel interface (SSD1963 controller).

Can you tell me what changes do I have to make for this library to make it support the new interface.

[2021-11-15 06:45] DatanoiseTV commented on #290
Is there any update on this? I am working on a project that could largely benefit from v8 and porting it later on would be a bit of a pain.

[2021-11-16 08:22] tore-espressif commented on #292
Could you please share your IDF version?
`rsource` was added in ESP-IDF 4.2

[2021-11-18 05:52] muaiydit opened #295 "is FT6236 I2C Touch supported?"
Hi,
Thank you for this good work. I am wondered if the FT6236 I2C Touch supported or not.

[2021-11-18 13:54] mgsilva opened #296 "Spinner not showing"
After drawing the screen, it's showing everything right, except for the spinner in the middle of the screen.
I think i'm missing something in the menuconfig since when i switch to the bar it didnt show too.
I enabled the bar and spinner in the menuconfig, and also enabled animations.
Anyone can help me with this?
The code for the screen is (just ignore the comments in portuguese):

[code]

[2021-11-24 11:23] DCSBL commented on #290
@DatanoiseTV Just looking into it, but it seems that Espressif got version 8.0.2 to work, see https://github.com/espressif/esp-box/tree/master/components/lvgl

[2021-11-24 16:13] tvanfossen commented on #290
I've running lvgl @ master with lv_esp32_port on an esp32 without any issues since July/August, the changelog for[ LVGL v8](https://github.com/lvgl/lvgl/blob/master/docs/CHANGELOG.md#v800-01062021) detailed all the necessary changes to get it running

lv_esp32_port I'm using is effectively the same as master, with some fixes for the st7789 driver (fork in an ado repo, not sure if those fixes were

[2021-12-06 05:20] huangyanxiong01 opened #297 "fatal error: lv_drv_conf.h: No such file or directory"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
[code]
**Code to reproduce the issue**
[code]

**Expected Results**
fix lv_drv_conf.h
**Actual Results**

**ESP32 Chip version**
ESP32-Worver-KIT-v4.1
**ESP-IDF version**
V4.2
**Development kit used**

**Development machine OS**
windows wsl: Ubunt

[2021-12-06 05:46] huangyanxiong01 commented on #297
Fixed by
[code]

[2021-12-06 05:46] #297 closed

[2021-12-27 19:06] spacewrench commented on #289
I hit this same error, but was able to fix it.  The problem is in the Kconfig definitions that get selected when you choose LV_PREDEFINED_DISPLAY_TTGO.  For one thing, the TFT_DISPLAY_OFFSETS don't get selected properly.  But the TFT_SPI_HOST error that you got was because the TFT SPI bus type (VSPI/HSPI/FSPI) selection was skipped if LV_PREDEFINED_DISPLAY_TTGO is selected.

I haven't figured out

[2021-12-27 19:11] spacewrench commented on #289
Damn, I don't know how to work git in this situation.  Perhaps this is a combined repository or something, with some parts from core LVGL and other parts from the ESP32 port?  I don't know how to alert the maintainers about this fix.

[2021-12-27 21:03] C47D commented on #289
Thanks for the patch @spacewrench, I'm away from my develop machine, but will take a look at your patch and try to add it to the Kconfig.

[2021-12-29 14:50] prash85 commented on #289
Thanks spacewrench.
I checked the Kconfig file under:
`LV_PORT_ESP32/components/lvgl_esp32_drivers/Kconfig`
and it contains following two lines:
`rsource "lvgl_tft/Kconfig"
rsource "lvgl_touch/Kconfig"`

How should I add your patch file to the project? Should I just copy the contents of your patch file and paste it in existing Kconfig ? When I do that the build process fails.

Also, I noticed in m

[2021-12-29 17:28] spacewrench commented on #289
The Kconfig patch is for the file under lvgl_tft (not lvgl_touch).  If you go into that directory:

cd LV_PORT_ESP32/components/lvgl_esp32_drivers/lvgl_tft

you should be able to patch as:

patch -p2 < TTGO-LVGL-Kconfig-patch.txt

The VSPI/HSPI selection is the problem, but I couldn't figure out how to make Menuconfig go from PREDEFINED_DISPLAY_TTGO to HSPI selection without a menu display.  With

[2021-12-29 17:47] C47D commented on #289
Can you try updating the `lvgl_esp32_drivers` component to its current master? I would do so, but I'm away from my development machine and will be able to do it until next monday.

[2021-12-29 18:54] spacewrench commented on #289
I'm lost with git & submodules & etc...I just cloned a fresh copy of lvgl/lv_port_esp32, but it has the same problem if you try to select the predefined configuration for PREDEFINED_DISPLAY_TTGO.
Hopefully @prash85 will be able to get his project going with my Kconfig patch.  I don't think there's any rush otherwise...enjoy your holiday!

[2021-12-30 12:13] prash85 commented on #289
@spacewrench Perfect! the patch works. Thanks a lot.

[2021-12-30 12:13] #289 closed

[2021-12-31 08:01] snailwft commented on #292
@embeddedt @tore-espressif Thanks, I update the IDF to solve.

[2021-12-31 08:01] #292 closed

[2021-12-31 08:11] snailwft opened #299 "Lv_port_esp32 cannot be displayed on esp-wrover-kit"
Hello, I use the development board ESP-wrover-kit to test the application LV_port_ESP32, I don't know what type of LCD is, and how to configure spi interface. Because now my project works normally, but there is no display on the LCD.

[2021-12-31 09:27] #299 closed

[2022-01-04 16:04] arktrin commented on #289
@spacewrench and @prash85 Please, confirm that there is no (or there is) any single pixel offset on the screen in all display orientations if you have TTGO T-Display boards.

[2022-01-04 17:57] spacewrench commented on #289
I changed the offset defaults when I was working on that section -- the numbers in LVGL were slightly different from what was in the Lilygo Arduino setup.  I'm 99% sure they're correct, but I'll make a test program tonight and send some pictures.

[2022-01-04 23:49] spacewrench commented on #289
Sorry, the offset I had changed to 52 should be 53 (maybe that was the original?)  Here is a photo of the test screen drawing I made with offset 53
![LVGL-ST7789 Test](https://user-images.githubusercontent.com/388724/148139276-bbf17e72-f963-4310-b295-b99325852995.jpg)
.

[2022-01-05 09:20] arktrin commented on #289
@spacewrench, thanks a lot for feedback! [52/53px offset issue](https://github.com/lvgl/lvgl_esp32_drivers/pull/154) is real for 240x135px ST7789 based displays. I just want to confirm that specifically for TTGO T-Display boards cause they are predefined in lvgl esp32 drivers. You may try (if you want) portrait display orientation to see 53px offset.

[2022-01-06 00:41] spacewrench commented on #289
Whew, that's a really fiddly bit of configuration.  I modified my Kconfig to set the offset to 52 or 53 depending on whether the display is inverted.  I think these pictures show what you need to see
![L53-2](https://user-images.githubusercontent.com/388724/148309783-a05b8050-4dfb-46dd-be0e-5c0e5ca0c9f1.jpeg)
![L53](https://user-images.githubusercontent.com/388724/148309786-0edee67f-9739-489d-a016

[2022-01-08 08:30] fsyzty opened #300 "st7796s SET LV_INVERT_COLORS"
lvgl_tft\Kconfig:

588:
 config LV_INVERT_COLORS
        bool "Invert colors in display" if LV_TFT_DISPLAY_CONTROLLER_ILI9341 || LV_TFT_DISPLAY_CONTROLLER_ST7735S **|| LV_TFT_DISPLAY_CONTROLLER_ST7796S** || LV_TFT_DISPLAY_CONTROLLER_ILI9481 || LV_TFT_DISPLAY_CONTROLLER_ST7789 || LV_TFT_DISPLAY_CONTROLLER_SSD1306 || LV_TFT_DISPLAY_CONTROLLER_SH1107 || LV_TFT_DISPLAY_CONTROLLER_HX8357
        defaul

[2022-01-11 13:05] Coffeeye opened #302 "lvgl / lv_port_esp32 port_v8 - Checkout between v8.0 and v8.1 cause panic. Spinner not moving. Animation does not work."
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
Iam working on project for my ESP-IDF 4.2.2 and successfully launched v8.0 using provided example (sligly modified as its filld with v7 functions, requires update) with no bigger issues. But somehow my [spinner](https://docs.lvgl.io/8.0/widgets/ex

[2022-01-11 14:26] #302 closed

[2022-01-11 14:49] C47D commented on #302
Thanks for the update @Coffeeye , we're seeing some issues with the ST7789 display not calling `lv_disp_flush_ready`. It's supposed to be called in `spi_ready` callback, https://github.com/lvgl/lvgl_esp32_drivers/blob/6af2ab1f1c9b39b1d176c0b804842791b9689cae/lvgl_tft/disp_spi.c#L300

[2022-01-31 20:20] sukesh-ak commented on #290
Espressif is using [ESP-LCD component](https://github.com/espressif/esp-idf/tree/master/components/esp_lcd) I believe for the drivers. And they don't have drivers for all displays. So that route does not make sense ignoring all the existing display drivers available.

Not sure how @tvanfossen got it working, since it does not even compile for me with the following error.

[code]

These definitions

[2022-01-31 21:18] tvanfossen commented on #290
I should've given a bit more detail. The esp-box drivers are limited to the ST7789 display driver at the moment as @sukesh-ak  mentioned. Also of note in the esp-lcd driver is having parallel drivers available instead of just spi. Waiting on a new board before testing parallel improvements

You need to set CONFIG_CUSTOM_DISPLAY_BUFFER_SIZE in the sdkconfig to avoid the compile issues around LV_HOR

[2022-02-01 07:09] sukesh-ak commented on #290
This fixed that compiler error but found another one.
Looks like the [develop](https://github.com/lvgl/lvgl_esp32_drivers/tree/develop) branch has the fixes. Will test that and update here later.

[2022-02-01 19:20] sukesh-ak commented on #290
Somehow I feel everything is messed up with the v8 migration.

I tried the following steps
1. Create a fresh ESP-IDF project
2. Add lvgl (from main repo) as an IDF component
3. Add lvgl_esp32_drivers (develop branch) as a IDF component =compiles fine

Now I need an example to test. Could not find one with the latest functions. Every one of the sample was throwing errors because some function names

[2022-02-02 11:06] advancedtigerdenempr commented on #233
Good afternoon. The code is not compiled for either ESP32-S2 or ESP32-S3. The problem is https://github.com/lvgl/lv_port_esp32/issues/233#issue-759602094

[2022-02-14 08:51] HongLiangGong1990 commented on #291
I encountered the same error!

[2022-02-21 01:35] amj2900 commented on #247
Has anyone managed to fix this issue? I'm running into the same thing.

[2022-03-10 12:21] mydnc commented on #291
I am having the same error.

[2022-03-10 12:34] mydnc commented on #291
Check this out:
https://github.com/lvgl/lv_port_esp32/issues/233

[2022-03-10 12:56] tvanfossen commented on #291
https://github.com/espressif/esp-box

Depending on the display driver you are using, the esp-box repo works great for the S3 with LVGL.

[2022-03-12 14:56] yanwuguangjun opened #304 "Genius ！！！"
Genius ！！！
it't  time to update to lvgl 8.0
help  the  green   coder

[2022-03-22 14:23] dlugaz opened #305 "Changing size of display buffer"
I wanted to increase the size of display buffer and change it to single buffered (from double buffered).
I'm using ILI9488 via SPI.
I changed the DISP_BUF_SIZE to 60*480. Code compiles, there is enough memory, buffers are declared static.
[code]

`    static DMA_ATTR lv_color_t buf1[DISP_BUF_SIZE];`

Code runs, but the display is ruptured. Looks as if only some of the buffers and sent correctly
[p

[2022-03-22 15:41] arnoutdekimo opened #306 "Out of the box experience on ESP32-WROVER-KIT"
The out of the box experience of following the README.md on the latest IDF is not ideal on the ESP32-WROVER-KIT.

The build succeeds, but some config settings are wrong, causing a messed up image.

I had to manually change in the config:

In LGL config:

- Maximum horizontal resolution 320
- Maximum vertical resolution 240 (default was 480 causing interlace issue)
- Swap 2 bytes of RGB565 color (o

[2022-04-13 19:00] nicklasb commented on #306
TBH, and no offense,  that's not much config at all, there are a *myriad* of possible hardware combos.
For example, the default is probably more common.

I'd say you experienced the closest to an IPhone unboxing possible in the MCU-dev world. :-)

[2022-04-13 19:17] nicklasb opened #307 "V8 roadmap"
Hi!

I saw that there was a V7 milestone, how about creating a V8 milestone?

If a roadmap detailing what is left was made, perhaps more would be able to help out?

Thanks for a great library!

[2022-04-16 12:40] sukesh-ak commented on #290
Finally found LovyanGFX the best drivers which works for both Arduino and ESP-IDF.

ESP-IDF & Arduino samples for WT32-SC01 using LVGL8 + LOVYANGFX

Device : WT32-SC01
Display / Touch Drivers : LovyanGFX
Widgets : LVGL 8.x

ESP-IDF => WT32-SC01 + LVGL8 + LOVYANGFX
https://github.com/sukesh-ak/LVGL8-WT32-SC01-IDF

Arduino => WT32-SC01 + LVGL8 + LOVYANGFX
https://github.com/sukesh-ak/LVGL8-WT32-SC01

[2022-04-22 06:01] Kingwulin opened #308 "是否有支持lvgl 6.0.2的版本"
需要使用6.0.2的版本进行开发，请问下如何让esp32支持lvgl 的6.0.2版本

[2022-04-22 15:15] embeddedt commented on #308
Hi, thank you for opening an issue, however, we no longer officially support LVGL 6.

[2022-04-22 15:15] #308 closed

[2022-04-22 20:09] rodrigtti opened #309 "[ILI9341] Display freeze after a while"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
Hi there!
I used this project to show some mensage after every 4 seconds but after a while (30 min to 2 hours) the display freeze with the last message and it not update anymore , i thought it was the SPI Speed so i slow down first from 40 MHz to

[2022-04-28 01:18] #278 closed

[2022-04-28 01:18] #295 closed

[2022-04-28 01:18] #296 closed

[2022-04-28 01:18] #300 closed

[2022-04-28 01:18] #291 closed

[2022-04-28 01:18] #293 closed

[2022-04-28 01:18] #304 closed

[2022-04-28 01:18] #305 closed

[2022-04-28 17:28] rodrigtti commented on #309
Guys I fixed the freezing, it's just a conflicting task when one is modifying the variable another is updating the display
Solution: use the xSemaphoreTake/Give on tasks

[2022-04-28 17:28] #309 closed

[2022-05-05 19:06] tremblayraphael29 opened #310 "LVGL & WIFI = Crash"
We use GitHub issues for development related discussions.

**Describe the issue**
The problem only happens when I integrate a task that connects the esp32 to a wifi access point. In fact, the task is not even executed yet that I get a “Panic Core dump (LoadStore Error)”.
So the error does not come from an error in the task itself.

**Code to reproduce the issue**
lv_port_esp32 (lv_demo_widget) wit

[2022-05-09 18:30] EtienneMdv opened #311 "White screen ST7789V"
Hi all,

I am trying to configure LVGL for my ESP32 custom board with a ST7789V TFT LCD driver. Unfortunately, I haven't been very successful so far... The backlight seems to work as the only thing I get is a white screen. I checked the GPIOs for the SPI numerous times and they are correct.

I don't know where to start to troubleshoot my issue. Do you have any idea?

I appreciate your help.

[2022-05-09 18:37] EtienneMdv commented on #311
By the way, I was successful using [ESP32_TFT_library](https://github.com/loboris/ESP32_TFT_library) prior to trying using LVGL.

[2022-05-09 18:37] tvanfossen commented on #311
If your backlight is turning on, then I'd recommend checking that the LVGL initialization is completing properly

[2022-05-09 18:49] EtienneMdv commented on #311
Thank you @tvanfossen.

Is there an efficient to check that? I have turned the logs to trace but I don't see anything alarming.

[2022-05-09 19:23] tvanfossen commented on #311
menuconfig -> LVGL config -> feature config -> logging -> enable log module
Set default log verbosity to Log Important Events
Log with printf

Is your code entering the main app_main loop? Can you see logs in a main loop? Are you running lv_task_handler consistently? How much memory are you providing for lvgls memory buffer?

[2022-05-09 19:53] EtienneMdv commented on #311
I set the log according to your guidance. My code is not entering the main app_main loop... (I am attempting to run the demo app). My code is actually stuck calling _lvgl_driver_init()_. I am providing the default size for LVGLs memory buffer, 12800 bytes. The last log I get on my terminal is related to changing the display orientation to _LANDSCAPE_.

[2022-05-09 20:50] EtienneMdv commented on #311
Sorry about that... I am using ESP-IDF v5 and a custom board with a ESP-WROOM-32D. I am also thinking about an error in my IO setup since I am running the unmodified code. I changed the SPI mode from 2 to 0 and now I have something displayed. It is not really working but it is a start. I attached a pic.
![Bug1](https://user-images.githubusercontent.com/39459298/167496159-2a9d0532-dcd5-40d8-bac5-e4

[2022-05-10 12:17] tvanfossen commented on #311
IDF v5 may not be supported with LVGL yet, I'd recommend rolling back to ~4.2 as recommended by the lv_port_esp32 readme

That said, probably not the issue here. It looks to me as if your color depth is set incorrectly for your display driver

[2022-05-26 08:05] pastre opened #312 "Flickering black screen on ESP-32-wrover"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
Hey guys, I can't reun the demo. I've tried it on two different ILI9341 displays and using bith Wroom and Wrover ESP32s. This is my wiring. I've also tested with the Wrover preconfigured kit with the same results
ESP  |   Display
_______________
3

[2022-06-03 13:34] jonsmirl opened #313 "C3 support?"
It won't compile with target set to C3.  Needs some more IFDEFs in the SPI code.

https://github.com/gaojulong/lv_port_esp32_C3

[2022-06-15 09:45] ammaree opened #314 "ESP IDF v5 support"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
Fail to rebuild app after IDF upgrade

**Code to reproduce the issue**
Nothing changed from previous working code other than IDF upgrade

**Expected Results**
Working, error free compile

**Actual Results**
Various error messages

**ESP32 Chip ver

[2022-06-21 13:48] ammaree commented on #314
Any feedback appreciated. I have had a look and it appears that the PWM backlight support might need to be updated.

[2022-06-24 08:09] 1012302887 commented on #305
I have also encountered this problem. How do you solve this problem,

[2022-06-24 08:18] 1012302887 commented on #305
I have also encountered this problem. How do you solve this problem,

[2022-06-25 09:14] 15172072715 opened #315 "LVGL控件边缘出现莫名亮点"
LVGL控件边缘出现莫名亮点，并且这样的问题会随着设置LVGL初始化时候的缓冲buff大小而改变点点的数量，当把缓冲减小的时候点点就会明显变多，buff越大，点点越小，我使用的是ESP32S3芯片，采用LVGL8.3模板，以下是buff设置大小不同的情况
![512size](https://user-images.githubusercontent.com/68137304/175766774-b3d3118d-76cd-41b5-b0f6-8b0beae76b67.png)
![512display](https://user-images.githubusercontent.com/68137304/175766765-5243d492-9dbc-4572-b4d9-c4bf9cbb94b6.jpg)
![1024size](https://user-images.githubuse

[2022-06-26 02:08] 15172072715 commented on #315
![image](https://user-images.githubusercontent.com/68137304/175796371-cc277deb-400f-41b2-b14a-de5eb99797e4.png)
无论是在guider上面还是用模拟器都不存在点点的情况

[2022-07-02 12:52] sukesh-ak commented on #314
@ammaree You should check Migration guide since there are some breaking changes

https://docs.espressif.com/projects/esp-idf/en/latest/esp32/migration-guides/build-system.html

[2022-07-04 16:17] ammaree commented on #314
All the required changes have been made. If I remove the display/GUI component of the project it builds, links and runs reliably.

The changes required I believe, are in the lvgl component.

On 2022/07/02, 14:52, "Sukesh Ashok Kumar" ***@***.******@***.***>> wrote:

@ammaree<https://github.com/ammaree> You should check Migration guide since there are some breaking changes

https://docs.espressif.c

[2022-07-05 05:26] sukesh-ak commented on #314
@ammaree
The initial errors you reported says those folders are not found. So i am guessing the location of files have changed.

[2022-07-13 10:14] sukesh-ak commented on #307
You can use this for v8.x

Feel free to check and create conf file as per your hardware needs.

https://github.com/sukesh-ak/LVGL8x-SDSPI-Template

[2022-07-23 18:23] pokliu opened #316 "SSD1306 with 128*32 resolution display abnormal"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
I have a 128*32 resolution OLED screen driven by SSD1306. When I use I2C to connect to my ESP32-SOLO-1, and use menuconfig in VSCode to configure the resolution to 128*32, only the upper half of the screen can be displayed, and the lower half is d

[2022-08-01 18:21] trayracing opened #317 "Configuring for "TTGO T-Display" results in build error"
IMPORTANT
Issues that don't use this template will be ignored and closed.

### Perform all steps below and tick them with [x]
- [x] Check the related part of the [Documentation](https://docs.lvgl.io/)
- [x] Update lvgl to the latest version
- [NA] Reproduce the issue in a [Simulator](https://docs.lvgl.io/latest/en/html/get-started/pc-simulator.html)

### Describe the bug
Build Error when lv_port_e

[2022-08-02 16:55] kisvegabor commented on #317
As this is issue is related to [lv_port_esp32](https://github.com/lvgl/lv_port_esp32) I transfer it there.

[2022-08-14 14:49] thopiekar opened #318 "Supproting TFT displays with parallel connections"
I made the mistake recently of buying two ILI9341 displays with an 8bit parallel connection.
I haven't noticed that there is a difference between the development boards and thought you could choose with these boards between SPI and parallel mode, but the SPI interface was for the SD card of course.

Anyway, while researching for a bit, I noticed a project supporting the parallel interface on this

[2022-08-22 15:53] paulftw commented on #278
Came here while googling a solution for the same problem.
My XPT2046 returns constant wrong coordinates at 40MHz, but works better when SPI is at **8-10MHz**.

[2022-09-04 15:25] kyrpav commented on #247
What is the correct then setup for RA8875 and lvgl and esp32 . spi mode 3 , spi frequency 1Mhz and full duplex only MOSI to be set and reset pin?
Am i missing something cause i can not make it work

[2022-09-04 23:20] usmanrazasaif opened #319 "Error Compiling for FT81x"
../components/lvgl_esp32_drivers/lvgl_tft/EVE_commands.c: In function 'EVE_init':
../components/lvgl_esp32_drivers/lvgl_tft/EVE_commands.c:932:3: error: implicit declaration of function 'spi_flash_write'; did you mean 'esp_log_write'? [-Werror=implicit-function-declaration]
   spi_flash_write(EVE_GT911_data, EVE_GT911_len);
   ^~~~~~~~~~~~~~~
   esp_log_write
../components/lvgl_esp32_drivers/lvgl_

[2022-09-15 19:19] Olfox59 opened #320 "LVGL v8 status ? Animation with Square Line Studio"
We use GitHub issues for development related discussions.
Please use the [forum](https://forum.littlevgl.com/) to ask questions.

**Describe the issue**
Hi All,

I'm starting a nexw project based on Lilygo T display ESP32S3 and LVGL.

I'm able to create a screen with the nice and usefull tool SquareLine Studio. I can display it on the devkit.

I tried to add an animation  on my image. I export the

[2022-09-20 14:28] tomacaster opened #321 "Cannot build project with LVGL as component"
Hi,

i’ve downloaded components to my project with official instructions [https://docs.lvgl.io/latest/en/html/get ... essif.html](https://docs.lvgl.io/latest/en/html/get-started/espressif.html) but i’ve got errors from compiler as in screenshot (see code below). It’s very strange because these are the macros that are at the beginning of the file. Why my compiler can’t see these macros and won’t co

[2022-09-25 19:50] tomacaster commented on #321
LVGL master of branch is currently incompatible. Change to 7.11 builds.

[2022-09-25 19:50] #321 closed

[2022-09-25 19:51] tomacaster commented on #321
LVGL master of branch is currently incompatible. Change to 7.11 builds.

[2022-10-11 17:50] nicklasb commented on #307
Oops, just saw this for some reason.
Will take a look as soon as I continue that project.

[2022-11-02 11:09] fariouche opened #322 "SPI display drivers do not play nice with other spi devices"
**Describe the issue**
I'm using an M5STack core2, and the display ili9341 + sdcard are on the same SPI bus.
I'm getting issues having both working at the same time.
esp-idf does have a locking mechanism to share SPI bus.
The esp_vfs_fat_sdspi_mount() function will fail with a timeout waiting for the device.
This api is calling spi_device_acquire_bus() at some time.

In lv_port_esp32 I see disp_sp

[2022-11-02 18:53] #322 closed

[2022-11-03 17:03] Leadrive opened #323 "esp32-s3 invalid dma channel"
I (60) lvgl_helpers: Initializing SPI bus...
E (60) spi: spi_bus_initialize(762): invalid dma channel, chip only support spi dma channel auto-alloc

assert failed: lvgl_spi_driver_init lvgl_helpers.c:236 (ret == ESP_OK)

lvgl_helpers.c
Line 212, change to:
#elif defined (CONFIG_IDF_TARGET_ESP32S2) || defined(CONFIG_IDF_TARGET_ESP32S3)

Line 217, add
    dma_channel=SPI_DMA_CH_AUTO;

[2022-11-11 07:32] ammaree commented on #320
+1 for official LVGL v8.x support

[2022-11-29 21:33] ammaree commented on #314
@kisvegabor
It seems that the ESP32 port for LVGL (this repo) is still fixed to a 2 year old version of LVGL. In order for us to make some decisions, and hopefully move forward, answers to a couple of questions will be highly appreciated.
1. What are the plans, if any, for updating this repo to support ESP IDF v5.x?
2. What are the plans, if any, for updating this repo to support LVGL v8.x?
3. If

[2022-11-30 06:18] sukesh-ak commented on #314
ESP-IDF 5.x is going with a direction using the concept of BSP.
You can see some of the implementations here.
https://github.com/espressif/esp-bsp

There is also a new driver architecture being discussed for lvgl next version [here](https://github.com/lvgl/lvgl/issues/2720)